<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin | Socialites Excellent Driving</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icon.png">
        <!-- CSS imports -->
        <% include ../utils/adminCSS %>
    </head>

    <body class="fix-header fix-sidebar">
        <!-- Preloader - style you can find in spinners.css -->
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
            </svg>
        </div>

        <!-- WRAPPER -->
        <div id="wrapper">
            <% include ./partials/header %> <!-- HEADER CODES -->
            <% include ./partials/sidebar %> <!-- SIDEBAR CODES -->

            <!-- MAIN -->
            <div class="page-wrapper">
                <% /*
                    switch(accType){
                        case 0: {
                            include ./main-partials/dashboard
                            break;
                        }
                        case 1: {break;}
                        case 2: {break;}
                        case 3: {break;}
                    } */
                %>
                
                <!-- MAJOR PARTIALS -->
                <% include ./main-partials/dashboard %>
                <% include ./main-partials/instructor %>
                <% include ./main-partials/vehicleA %>
                <% include ./main-partials/branches %>
                <% include ./main-partials/payment %>
                
                <% include ./main-partials/enrollment %>
                <% include ./main-partials/schedule %>
                <% include ./main-partials/dtpReq %>
                <% include ./main-partials/laReq %>
                <% include ./main-partials/tlect %>
                
                <% include ./main-partials/reports %>
                <% include ./main-partials/account %>
                <% include ./main-partials/lessons %>
                <% include ./main-partials/courses %>
                <% include ./main-partials/cert %>
                <% include ./main-partials/announce %>
                <%# include ./main-partials/requirement %>

                <!-- MINOR PARTIALS -->
                <% include ./minor-partials/profile %>

                <% include ./minor-partials/student %>
                <% include ./minor-partials/gradesEval %>
                
                <% include ./minor-partials/overallSched %>
                <% include ./minor-partials/reqSched %>
                <% include ./minor-partials/cancSched %>

                <% include ./minor-partials/view-student %>
                <% include ./minor-partials/view-instructor %>

                <% include ./minor-partials/licensing-maintenance %>
                <% include ./minor-partials/dtp-maintenance %>

                <!-- ERROR PARTIALS -->
                <% include ./error-partials/error500 %>
                <% include ./error-partials/error404 %>

                <% include ./modals/modals %>
            </div>
            <!-- END MAIN -->

            <% include ./partials/footer %> 
            <!-- FOOTER CODES -->

            <!-- JS imports -->
            <% include ../utils/adminJS %>
            <!-- Modal imports -->
            <!-- <% include ./modals/modal-instructor %> -->
        </div>
    </body>
</html>