<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | SED</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icon.png">
        <!-- CSS imports -->
        <% include ../utils/adminCSS %>
    </head>

    <body>
        <!-- Preloader - style you can find in spinners.css -->
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
        </div>
        <!-- Main wrapper  -->
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="/assets/images/SED-Icon.png" alt="IMG">
                    </div>

                    <form class="login100-form validate-form">
                        <span class="login100-form-title">Socialites Excellent Driving</span>
                        <center><h5>- ADMINISTRATOR -</h5><div class="separator4"></div></center>

                        <div class="wrap-input100 validate-input" data-validate = "Username/Email is required">
                            <input id="username" class="input100" type="text" name="email" placeholder="Username/Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                            <input id="password" class="input100" type="password" name="pass" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">Login</button>
                        </div>

                        <div class="text-center p-t-12">
                            <span class="txt1">Forgot</span>
                            <a class="txt2" href="#">Username / Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Wrapper -->

        <!-- JS imports -->
        <% include ../utils/adminJS %>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
    </body>
</html>