<div class="view-dashboard viewDiv" id="dashb">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row" style="height: 100%">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="background-color: #935555">
                    <div class="media">
                        <div class="media-left meida">
                            <span><i style="color: #FCE355" class="ti-calendar tiSide f-s-50 dashIcon" onclick="viewActive(5)" title="View Schedule Details"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 style="color: white; font-weight: 700" class="schedTodayDash"></h2>
                            <p class="m-b-0" style="color: white">No. of Schedules<br><span style="color: white">(Today)</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel bg-white box-shadow" style="padding: 10px; border-radius: 5px; border-top: solid 5px #935555">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Current Students <span style="font-size: 12px">(with ongoing courses)</span></h4>
                        </div>
                    </div><hr>
                    <div class="panel-body">
                        <canvas id="pieChart1"></canvas>
                    </div>
                </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="background-color: #FCE355">
                    <div class="media">
                        <div class="media-left meida">
                            <span><i style="color: #935555" class="icon icon-business-5 tiSide f-s-60 dashIcon" onclick="viewActive(12)" title="View Enrollment Details"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2 style="color: black; font-weight: 700" class="enrTodayDash"></h2>
                            <p class="m-b-0" style="color: black">No. of Enrollees<br><span style="color: black">(Today)</span></p>
                        </div>
                    </div>
                </div>
                <div class="panel bg-white box-shadow" style="padding: 10px; border-radius: 5px; border-top: solid 5px #FCE355">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Licensing Assistance <span style="font-size: 12px" class="monthDash"></span></h4>
                        </div>
                    </div><hr>
                    <div class="panel-body" width="100px">
                        <canvas id="pieChart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div style="text-align:center;padding:1em 0;"> 
                    <br><iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Asia%2FManila" width="100%" height="140" frameborder="0" seamless></iframe>
                    <a class="weatherwidget-io" href="https://forecast7.com/en/12d88121d77/philippines/" data-label_1="PHILIPPINES" data-label_2="WEATHER" data-theme="beige" >PHILIPPINES WEATHER</a>
                    <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                    </script>
                </div>
            </div>
        </div><br>

        <div class="row" style="height: 200px">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="border-top: solid 5px #935555">
                    <div class="card-title">
                        <h4>Monthly Enrollees</h4><hr>

                    </div>
                    <div class="sales-chart">
                        <canvas id="monthlyChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="border-top: solid 5px #FCE355">
                    <div class="card-title">
                        <h4>Yearly Enrollees</h4><hr>

                    </div>
                    <div class="sales-chart">
                        <canvas id="yearlyChart"></canvas>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Container fluid  -->
</div>