<div class="view-dashboard viewDiv" id="dashb">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-business-5 tiSide f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">Total Enrollees<br><span>(SED-Main, 2018)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-woman243 tiSide f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">Current Students<br><span>(SED-Main)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-calendar tiSide f-s-40 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">No. of Schedules<br><span>(Today)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-money2 f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>Php 0.00</h2>
                            <p class="m-b-0">Gross Revenues <br><span>(June)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-white m-l-0 m-r-0 box-shadow ">

            <!-- column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight: bolder;">Students per Branch</h3>
                        <div id="extra-area-chart"></div>
                    </div>
                </div>
            </div>
            <!-- column -->

            <!-- column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body browser"><br>
                        <p class="f-w-600">SED-Main <span class="pull-right">30%</span></p>
                        <div class="progress ">
                            <div role="progressbar" style="width: 85%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                        </div>

                        <p class="m-t-30 f-w-600">SED-Market<span class="pull-right">32%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: 90%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                        </div>

                        <p class="m-t-30 f-w-600">SED-Cubao<span class="pull-right">20%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                        </div>

                        <p class="m-t-30 f-w-600">SED-Fortunata<span class="pull-right">10%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                        </div>

                        <p class="m-t-30 f-w-600">SED-Cartimar<span class="pull-right">8%</span></p>
                        <div class="progress m-b-30">
                            <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Today's Schedule</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tableDash table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student</th>
                                        <th>Instructor</th>
                                        <th>Branch</th>
                                        <th>Scheduled Time</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Graciella Tatel</td>
                                        <td>Harry Potter</td>
                                        <td>Main Office</td>
                                        <td>10:00 AM</td>
                                        <td><span class="badge badge-primary">Done</span></td>
                                        <td>View</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Christian Paul Tupas</td>
                                        <td>Dolores Umbridge</td>
                                        <td>Main Office</td>
                                        <td>10:00 AM</td>
                                        <td><span class="badge badge-success">Done</span></td>
                                        <td>View</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Janelle Joy Gabat</td>
                                        <td>Vernon Dursley</td>
                                        <td>Market! Market!</td>
                                        <td>11:00 AM</td>
                                        <td><span class="badge badge-warning">Ongoing</span></td>
                                        <td>View</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Perrine Laganzo</td>
                                        <td>Nymphadora Tonks</td>
                                        <td>Shopwise Cubao</td>
                                        <td>01:00 PM</td>
                                        <td><span class="badge badge-danger">Canceled</span></td>
                                        <td>View</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End Page Content -->
    </div>
    <!-- End Container fluid  -->
</div>