<div class="view-enrollment viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Enrollment</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Enrollment</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-group input-group-flat">
                                <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                                <input type="text" id="searchEnrollment" class="form-control" placeholder="Search..." style="font-size: 12px;">
                                <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" onclick="clrSearchLesson()" type="button"><i class="ti-close"></i></button></span>
                            </div>
                        </div>
                        <hr class="hrCustom">
                        <div class="card branchCard">
                            <h3>Registration List</h3>
                            <div class="table-responsive">
                                <table class="table tblReg tblCustom table-hover">
                                    <thead>
                                        <tr>
                                            <th width="200px">Date</th>
                                            <th width="300px">Name</th>
                                            <th>Branch</th>
                                        </tr>
                                    </thead>
                                    <tbody id="preRegTbl">
                                        <tr>
                                            <td>May 24, 2018</td>
                                            <td>Graciella C. Tatel</td>
                                            <td>SEDQC</td>
                                        </tr>
                                        <tr>
                                            <td>May 24, 2018</td>
                                            <td>Kenard Smith B. Bautista</td>
                                            <td>SEDQC</td>
                                        </tr>
                                        <tr>
                                            <td>May 24, 2018</td>
                                            <td>Zac Efron</td>
                                            <td>SEDTC</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="hrCustom">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <hr class="hrCustom">
                        <div class="card card500" style="position: relative">
                            <h3>Registration Details</h3><hr>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <h5 class="regEnrName">Graciella C. Tatel</h5>
                                    <h5 class="regEnrBranch">SEDQC</h5>
                                    <span>
                                        <small style="float: left;">Deadline:
                                        <span class="regEnrDeadline">June 1, 2018</span></small>
                                    </span>
                                </div>
                            </div>
                            <div><hr>
                                <h5>Requirements:</h5>
                                <form class="requirementCheckForm">
                                    <div class="reqForm reqA">
                                        <label class="lblCB1"><input type="checkbox" name="enrReqA" id="rA1" value="Original Birth Certificate (NSO)">
                                            &emsp;&nbsp;Original Birth Certificate (NSO)</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqA" id="rA2" value="Photocopy of Birth Certificate (NSO)">
                                            &emsp;&nbsp;Photocopy of Birth Certificate (NSO)</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqA" id="rA3" value="Parental Consent">
                                            &emsp;&nbsp;Parental Consent</label><br>
                                    <hr></div>
            
                                    <div class="reqForm reqB">
                                        <h5 class="h5Enr">For 19 yrs. old &amp; above</h5>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqB" id="rB1" value="Photocopy of Birth Certificate (NSO)">
                                            &emsp;&nbsp;Photocopy of Birth Certificate (NSO)</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqB" id="rB2" value="Parental Consent">
                                            &emsp;&nbsp;TIN - Tax Identification Number</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqB" id="rB3" value="Parental Consent">
                                            &emsp;&nbsp;Baranggay Clearance</label><br>
                                    <hr></div>
            
                                    <div class="reqForm reqC">
                                        <h5 class="h5Enr">For Non-Filipino Students/ Tourists</h5>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqC" id="rC1" value="Original Birth Certificate (NSO)">
                                            &emsp;&nbsp;Original Passport</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqC" id="rC2" value="Original Birth Certificate (NSO)">
                                            &emsp;&nbsp;Original ACR - Alien Certificate Registration</label><br>
                                        <label class="lblCB1"><input type="checkbox" name="enrReqC" id="rC3" value="Photocopy of Birth Certificate (NSO)">
                                            &emsp;&nbsp;Photocopy of ACR - Alien Certificate Registration</label><br>
                                    <hr></div>
                                </form>
                            </div>
                            <div class="row divBottom">
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <button type="button" onclick="viewRegForm()" class="btnCstom2 btn btn-light m-b-10 m-l-5">View</button>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <button type="button" onclick="appRegForm()" class="btnCstom2 btn btn-success m-b-10 m-l-5">Approve</button>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                    <button type="button" onclick="remRegForm()" class="btnCstom2 btn btn-danger m-b-10 m-l-5">Remove</button>
                                </div>
                            </div>
                        </div>
                        <hr class="hrCustom">
                    </div>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>

<!-- View Registration Modal -->
<div class="modal fade" id="viewRegFormModal" tabindex="-1" role="dialog" aria-labelledby="viewRegFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h2>View Registration Form</h2>
            <div>
                <form class="enrRegForm">
                    <hr class="hrCustom"><br>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegFN" id="enrRegFN" placeholder="*First Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegMN" id="enrRegMN" placeholder="Middle Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegSN" id="enrRegSN" placeholder="*Surname"><br>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Course<span class="asterisk">*</span></h5>
                                <select class="enrCivStatus enrCourse" name="enrRegCourse">
                                </select>
                            </div><hr>
                            <div>
                                <h5 class="h5Enr">Branch<span class="asterisk">*</span></h5>
                                <select class="enrCivStatus enrBranch" name="enrRegBranch">
                                </select>
                            </div>
                        </div>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                        <input type="date" class="txtEnr" required name="enrRegBday" id="enrRegBday" placeholder="mm/dd/yyyy"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Place<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegBplace" id="enrRegBplace" placeholder="*Birthplace"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                        <input type="radio" class="enrSexRD" id="enrRegSex1" name="enrRegSex" value="Male" checked>
                            <label class="enrSexLbl" for="enrRegSex1">Male</label><br>
                        <input type="radio" class="enrSexRD" id="enrRegSex2" name="enrRegSex" value="Female">
                            <label class="enrSexLbl" for="enrRegSex2">Female</label>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                        <textarea rows="3" class="enrTxtArea" id="enrRegAddress" placeholder="*Address"></textarea>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Civil Status<span class="asterisk">*</span></h5>
                        <select class="enrCivStatus" name="enrRegCivStatus">
                            <option value="civ0">---</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Separated">Separated</option>
                            <option value="Widowed">Widowed</option>
                        </select>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Nationality<span class="asterisk">*</span></h5>
                        <input type="radio" class="enrSexRD" id="enrRegNat1" name="enrRegNat" value="Filipino" checked>
                            <label class="enrSexLbl" for="enrRegNat1">Filipino</label><br>
                        <input type="radio" class="enrSexRD" id="enrRegNat2" name="enrRegNat" value="Non-Filipino">
                            <label class="enrSexLbl" for="enrRegNat2">Non-Filipino</label>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Occupation</h5>
                        <input type="text" class="txtEnr" required name="enrRegOcc" id="enrRegOcc" placeholder="Occupation"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                        <input type="number" class="txtEnr" required name="enrRegCont" id="enrRegCont" placeholder="*Contact Number"><br>
                        <input type="email" class="txtEnr" required name="enrRegEmail" id="enrRegEmail" placeholder="Email Address"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Guardian Information<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegGuard" id="enrRegGuard" placeholder="*Parent/Guardian Name"><br>
                        <input type="number" class="txtEnr" required name="enrRegGuardCont" id="enrRegGuardCont" placeholder="*Contact Number"><br>
                    </div><hr>
                </form>
            <hr></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancAddInst" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnNextAddInst" onclick="saveEnrReg()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>