<div class="view-instructor viewDiv" id="instr">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Instructors</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Instructor</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" id="searchInst" class="form-control" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudentC()"><i class="ti-close"></i></button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pull-right">
                        <button type="button" id="btnNewInstructor" class="btn btn-success m-b-10 m-l-5">New Instructor</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start of col-lg-5 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card instCard">
                        <h3>List of Instructors</h3><br>
                        <div class="table-responsive">
                            <table class="table tblInstructor table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Instructor Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="instructorTable">
                                    <tr>
                                        <td>1</td>
                                        <td>Graciella Tatel</td>
                                        <td><span class="badge badge-success">Available</span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Christian Paul Tupas</td>
                                        <td><span class="badge badge-danger">Day Off</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Janelle Joy Gabat</td>
                                        <td><span class="badge badge-warning">In session</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Perrine Laganzo</td>
                                        <td><span class="badge badge-success">Available</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End of col-lg-5 -->

                <!-- Start of col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card instCard">
                        <h3>Instructor Information</h3><hr>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                                <span><img src="assets/images/user-medium.png" alt="Student Picture" class="studPic"/></span>
                            </div>
                            <div class="col-md-7 col-lg-7" style="padding-left: 30px;">
                                <center>
                                    <!-- <hr width="100%"> -->
                                    <h4 class="instName">Harry James Potter</h4>
                                    <h6 class="instNum">INST-00001-MN-0</h6>
                                    <hr width="100%">
                                </center>
                                <span class="fa fa-map-marker fa-red"></span> <span class="instAddress">Sapang Palay, CSJDM, Bulacan</span><br>
                                <span class="fa fa-phone fa-red"></span> <span class="instPhone">0956 586 7353</span><br>
                                <span class="fa fa-envelope fa-red"></span> <span class="instEmail">gtatel0517@gmail.com</span><br>
                                <span class="fa fa-credit-card fa-red"></span> <span class="instLicense">AAA 2323</span>
                            </div>
                            <div class="divBottom">
                                <button type="button" id="btnViewInstructor" class="btn btn-primary m-b-10 m-l-5">View Profile</button>
                            </div>
                        </div> <!-- End of row -->
                    </div>
                </div> <!-- End of col-lg-6 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
</div>

<!-- New Instructor Modal -->
<div class="modal fade" id="newInstructorModal" tabindex="-1" role="dialog" aria-labelledby="newInstructorModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
              <h2>ADD INSTRUCTOR ACCOUNT</h2>
              <h6>Fill out all required (<span class="asterisk">*</span>) fields.</h6><br>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 defMod1Inst activeDefModInst">
                <h4 class="defModTxt">Personal Information</h4>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 defMod2Inst">
                <h4 class="defModTxt">Account Login Details</h4>
            </div>
          </div><br>
        </center>
        <div class="divMod1Inst">
            <center><h5>This includes instructor's personal information and educational attainment.</h5><hr width="20%"></center>
            <form class="formAddInst">
                <div>
                    <h5 class="h5Enr">Full Name<span class="asterisk">*</span></h5>
                    <input type="text" class="txtEnr" required name="brName" id="newInstFirstname" placeholder="First Name"><br>
                    <small style="padding-left: 10px;">First Name</small>
                    <input type="text" class="txtEnr" required name="brName" id="newInstMidname" placeholder="Middle Name"><br>
                    <small style="padding-left: 10px;">Middle Name</small>
                    <input type="text" class="txtEnr" required name="brName" id="newInstSurname" placeholder="Surname"><br>
                    <small style="padding-left: 10px;">Surname</small>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                    <label><input type="radio" class="sexRD flat" checked name="newInstGender" id="g1NI" value="M"> Male</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" class="sexRD flat" name="newInstGender" id="g2NI" value="F"> Female</label>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                    <input type="date" required class="txtEnr pull-left" id="newInstBday" placeholder="dd/mm/yyyy"><br>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                    <input type="text" required class="txtEnr pull-left" id="newInstAddress" placeholder="ex: Blk 43 Lot 1, Novaliches, Quezon City"><br>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Contact Information<span class="asterisk">*</span></h5>
                    <input type="email" class="txtEnr" required id="newInstEmail" placeholder="ex: juansdcruz@gmail.com"><br>
                    <small style="padding-left: 10px;">Email Address</small>
                    <input type="text" class="txtEnr" required name="brAddL2" id="newInstPhone"  placeholder="ex: 09123456789" max="99999999999" min="99999999999"><br>
                    <small style="padding-left: 10px;">Contact Number</small>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Driver's License Details<span class="asterisk">*</span></h5>
                    <input type="text" class="txtEnr" required id="newInstLicense" placeholder="ex: A01-10-123456"><br>
                    <small style="padding-left: 10px;">License Number</small>
                    <input type="text" class="txtEnr" required id="newInstLicenseDI" placeholder="ex: dd/mm/yyyy"><br>
                    <small style="padding-left: 10px;">Date of Issuance</small>
                    <input type="text" class="txtEnr" required id="newInstLicenseDE" placeholder="ex: dd/mm/yyyy"><br>
                    <small style="padding-left: 10px;">Date of Expiry</small>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Educational Background<span class="asterisk">*</span></h5>
                    <select required class="txtEnr" name="newInstEduc" id="newInstEduc">
                        <option value="0">---</option>
                        <option value="1">Pre-Primary/Pre-School</option>
                        <option value="2">Primary/Elementary</option>
                        <option value="3">Secondary/High School</option>
                        <option value="4">Post-Secondary Non-Tertiary/Technical-Vocational</option>
                        <option value="5">Tertiary/Baccalaureate</option>
                        <option value="6">Tertiary/Post-Graduate</option>
                    </select><br>
                    <small style="padding-left: 10px;">Highest Educational Attainment</small>
                </div><hr>
            </form>
        </div>

        <div class="divMod2Inst">
            <center><h5>Details can be changed anytime later on using the instructor's account.</h5><hr width="20%"></center><br>
            <form class="formInstAccount">
                <div class="table-responsive">
                <table class="table customtbl">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td width="30%"><label class="control-label customLbl pull-right" for="newInstUsername">Username or Email: <span class="asterisk">*</span></label></td>
                            <td><input type="text" class="vehiTxtInput pull-left input-flat" id="newInstUsername" placeholder="juansdcruz@gmail.com"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label customLbl pull-right" for="newInstPassword">Password: </label></td>
                            <td><input type="password" class="vehiTxtInput pull-left input-flat" id="newInstPassword"></td>
                        </tr>
                        <tr>
                            <td><label class="control-label customLbl pull-right" for="newInstConfPassword">Confirm Password: <span class="asterisk">*</span></label></td>
                            <td><input type="password" class="vehiTxtInput pull-left input-flat" id="newInstConfPassword"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancAddInst" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnNextAddInst" onclick="nextInst()" class="btn btn-primary">Next</button>

        <button type="button" id="btnPrevAddInst" onclick="prevInst()" class="btn btn-light">Previous</button>
        <button type="button" id="btnDoneAddInst" onclick="doneInst()" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confResignModal" tabindex="-1" role="dialog" aria-labelledby="confResignModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><strong>CONFIRM:</strong> Resign Instructor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            Date Resigned:
            <input type="date" required class="form-control pull-right" id="instResign" placeholder="dd/mm/yyyy">
        </div><br><br><hr>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancConfAI" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnConfResign" onclick="resignInst()" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>