<div class="view-payment viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Payment</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Payment</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" class="form-control" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudent()"><i class="ti-close"></i></button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card studCard">
                        <h3>Payment Record</h3>
                        <div>
                            <div class="tempPayTab">
                                <div class="table-responsive">
                                    <table class="table tblStudPayment1 tblCustom">
                                        <thead>
                                            <tr>
                                                <th>O.R. Date</th>
                                                <th>Type of Fee</th>
                                                <th>Assessment</th>
                                                <th>Payment</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody id="paymentTbl">
                                            <tr>
                                                <td>08/09/2018</td>
                                                <td>Tuition Fee</td>
                                                <td>2,000.00</td>
                                                <td>1,000.00</td>
                                                <td>1,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>08/10/2018</td>
                                                <td>Tuition Fee <small>(Pay on Branch)</small></td>
                                                <td>1,000.00</td>
                                                <td>1,000.00</td>
                                                <td>0.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><br><br>
                            </div>
                            <!-- <br><br><br><br> -->
                        </div> <!-- End of row -->
                    </div>
                </div> <!-- End of col-lg-6 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>
