<div class="view-reports viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Reports</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Reports</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="card" style="height: 300px">
                        <center>
                            <h3><b>Gross Income</b></h3><div class="separator3"></div>
                            <h5>Tuition</h5>
                            <h5>Licensing Assistance</h5>
                            <h5>Certificates</h5><br><br>
                            <button type="button" onclick="showReports(1)" class="btn100p btn btn-inverse m-b-10 m-l-5">View Reports</button>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="card" style="height: 300px">
                        <center>
                            <h3><b>Students</b></h3><div class="separator3"></div>
                            <h5>First Time Enrollees</h5>
                            <h5>Refreshers</h5>
                            <h5>Performance Evaluation</h5><br><br>
                            <button type="button" onclick="showReports(2)" class="btn100p btn btn-inverse m-b-10 m-l-5">View Reports</button>
                        </center>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="card" style="height: 300px">
                        <center>
                            <h3><b>Instructors</b></h3><div class="separator3"></div>
                            <h5>Students Handled</h5>
                            <h5>Performance Evaluation</h5><br><br><br>
                            <button type="button" onclick="showReports(3)" class="btn100p btn btn-inverse m-b-10 m-l-5">View Reports</button>
                        </center>
                    </div>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>