<div class="view-schedule viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Schedule</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Schedule</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="input-group input-group-flat">
                        <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                        <input type="text" id="searchSched" class="form-control" placeholder="Search..." style="font-size: 12px;">
                        <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudentC()"><i class="ti-close"></i></button></span>
                    </div>
                </div>
                <div class="card card700">
                    <center><h4 style="text-transform: uppercase; font-weight: bolder"><span class="schedBranchTitle">SED-Quezon City (Main)</span> Schedule</h4></center>
                    <div class='calendarAdmin'></div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="card" style="background-color: khaki">
                    <center>
                        <h4><b>OPTIONS</b></h4><hr>
                    </center>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" onclick="todaySched()" class="btn13 btn100p btn btn-inverse m-b-10 m-l-5">Today's Schedule</button>
                            <button type="button" onclick="suspendClass()" class="btn13 btn100p btn btn-inverse m-b-10 m-l-5">Suspend Classes</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" onclick="schedListView()" class="btn13 btn100p btn btn-inverse m-b-10 m-l-5">Schedule List</button>
                            <button type="button" onclick="transferReq()" class="btn13 btn100p btn btn-inverse m-b-10 m-l-5">Transfer Requests</button>
                        </div>
                    </div>
                </div>
                <div class="card p-30" style="background-color: khaki">
                    <center>
                        <h4><b>SELECT BRANCH TO DISPLAY</b></h4><hr>
                    </center>
                    <table class="table tblCustom">
                        <thead>
                            <tr>
                                <th style="font-weight: bolder; color:black"><h6>BRANCH</h6></th>
                                <th style="font-weight: bolder; color:black" width="30%"><h6>TODAY'S APPOINTMENTS</h6></th>
                            </tr>
                        </thead>
                        <tbody id="numSchedAllBranch">
                            <tr>
                                <td>SED-Quezon (Main)</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>SED-Manila</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>SED-Pasay</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>