<!-- Study Section --> 
<section id="aboutus" class="study text-center wow fadeIn"  data-wow-duration="2s" data-wow-dealy="1.5s">
    <section class="aboutus">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>ABOUT US</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="container">
        <div class="row">
            <div class="main_study_area sections">
                <div class="single_study_content">
                    <div class="col-sm-6">
                        <div class="single_study_slid_area">
                            <div class="single_study_text">
                                <div class="study_slider"> 
                                    <div class="item">
                                        <div class="s_study_icon">
                                            <i class="fa fa-lightbulb-o"></i>  
                                        </div>
                                        <h4>Introduction</h4>
                                        <div class="separator3"></div>
                                        <p>In this modern time, learning how to drive and owning a car is almost everybody’s dream in life. 
                                            Despite experiencing heavy traffic on the road, many still believe that driving oneself to and from school 
                                            or work is better than commuting daily in public transportations.
                                            With the rising number of those who want to learn the art of driving, various schools have emerged to cater 
                                            such need, whose main objective is to help everyone who wishes to learn the basic concepts of driving and 
                                            eventually get their own driver’s license.</p>
                                        <!-- <a href="" class="btn btn-lg">read more</a> -->
                                    </div>
                                    <div class="item">
                                        <div class="s_study_icon">
                                            <i class="fa fa-lightbulb-o iconAboutus"></i>  
                                        </div>
                                        <h4>What We Do</h4>
                                        <div class="separator3"></div>
                                        <p>Founded in 1969, Socialites Excellent Driving (S.E.D.) is among the pioneers in the driving school 
                                            business teaching prospective drivers the basic concepts of driving. Our main office is 
                                            located at Mayon St. Corner, Maria Clara, Quezon City. We provide lectures on defensive 
                                            driving, traffic rules and regulations, traffic violations and penalties, preventive car maintenance, 
                                            handling emergencies, proper parking, buying car tips, among others. Aside from that, we also 
                                            offer practical driving test to their students, guided by a competent driving instructor.</p>
                                        <!-- <a href="" class="btn btn-lg">read more</a> -->
                                    </div>
                                    <div class="item">
                                        <div class="s_study_icon">
                                            <i class="fa fa-lightbulb-o"></i>  
                                        </div>
                                        <h4>Our Mission</h4>
                                        <div class="separator3"></div>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, doloremque officia iste 
                                        debitis ipsum quae tempora reprehenderit cumque, cum aliquid, minima corporis fuga provident? 
                                        Corrupti repellendus dolores aspernatur facere tempora.</p>
                                        <!-- <a href="" class="btn btn-lg">read more</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_study_right_img">
                        <div class="col-sm-6">
                            <div class="single_study_img">
                                <img src="../../../assets/images/main/aboutus.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row --> 
    </div><!-- End off Container --> 
</section><!-- End off Study Section --> 