<section id="announcements" class="portfolio sections" style="padding-top: 0px;">
    <section class="gallery">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>ANNOUNCEMENTS</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="container-fluid">
        <center>
            <div class="announceDiv">
                <div class="newAnnounceDiv">
                    <h2 class="headAnnounce">PROMO!!</h2> <!-- Maximum 50 char -->
                    <h4>Date Announced: <span class="dateAnnounce">July 19, 2018</span></h4><hr>
                    <h5 class="msgAnnounce">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam vero doloribus accusantium corporis, ipsam error dolorum! At laboriosam illo itaque 
                        ea et inventore fugit animi ratione! Fuga dicta facilis at.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam vero doloribus accusantium corporis, ipsam error dolorum! At laboriosam illo itaque 
                        ea et inventore fugit animi ratione! Fuga dicta facilis at.</h5>
                        <div class="separator"></div><br><br><br>
                </div>
                <div class="newAnnounceDiv">
                    <h2 class="headAnnounce">DISCOUNT FOR FIRST 10 ENROLLEES!!</h2> <!-- Maximum 50 char -->
                    <h4>Date Announced: <span class="dateAnnounce">July 19, 2018</span></h4><hr>
                    <h5 class="msgAnnounce">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam vero doloribus accusantium corporis, ipsam error dolorum! At laboriosam illo itaque 
                        ea et inventore fugit animi ratione! Fuga dicta facilis at.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Nam vero doloribus accusantium corporis, ipsam error dolorum! At laboriosam illo itaque 
                        ea et inventore fugit animi ratione! Fuga dicta facilis at.</h5>
                        <div class="separator"></div><br><br><br>
                </div>
            </div>
        </center>
    </div><!-- End off container --> 
</section> <!-- End off Work Section -->