<div id="branches">
    <section id="counter" class="branches">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>BRANCHES</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="brList">
        <table class="tblBrnch table-striped">
            <thead>
                <th width="150px">LOCATION</th>
                <th width="180px">BRANCH</th>
                <th>DETAILED ADDRESS</th>
                <th width="200px">TELEPHONE NO.</th>
            </thead>
            <tbody id="branchTbl">
                <tr>
                    <td>Quezon City</td>
                    <td>SED-Main</td>
                    <td>Mayon St. corner Maria Clara</td>
                    <td>741-7185 / 448-5137</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SED-Sto. Domingo</td>
                    <td>Sto. Domingo Corner, Quezon Ave., beside Sto. Domingo Diagnostic and Medical Center</td>
                    <td>938-12-36</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SED-PPSTA</td>
                    <td>PPSTA Bldg., 1 Quezon Ave. corner, Banawe, beside Eastwest Bank</td>
                    <td>425-7383</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SED-Circle</td>
                    <td>Elliptical Circle corner, Quezon Ave.</td>
                    <td>431-0981</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SED-Fairview</td>
                    <td>Fairview Terraces Mall corner, Ground Floor </td>
                    <td>938-1236</td>
                </tr>
                <tr>
                    <td>Pasay City</td>
                    <td>SED-Cartimar</td>
                    <td>Cartimar Shopping Center Rm. 1-A</td>
                    <td>833-20-43</td>
                </tr>
                <tr>
                    <td>Makati City</td>
                    <td>SED-Pasong Tamo</td>
                    <td>1134 Pasong Tamo Street, corner Kamagong Street</td>
                    <td>896-33-54</td>
                </tr>
                <tr>
                    <td></td>
                    <td>SED-Makati Ave.</td>
                    <td>Room 303 Villa Bldg., Jupiter Street corner, Makati Ave., Makati City</td>
                    <td>896-33-54</td>
                </tr>
            </tbody>
        </table>
        <center>
            <div class="separator"></div>
        </center>
    </div>
</div>