<div id="cart" class="container">
    <section class="cart">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>YOUR CART</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div>
        <div class="row">
            <div class="col-sm-6 col-md-6" style="padding-left: 100px;">
                <a href="#courses" onclick="coursesClick(1)" class="aAddCart aAddCart1"><i class="icon icon-chevron-left"></i> Continue Selecting Courses</a>
                <a href="#courses" onclick="coursesClick(1)" class="aAddCart aAddCart2"><i class="icon icon-chevron-left"></i> Select Courses</a>
            </div>
            <div class="col-sm-6 col-md-6">
                <p class="pCart1">Your cart contains: <span id="cartCtr">1</span> item/s</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="main_pricing_area sections">   
                    <div class="cartList">
                        <table class="tblCrs tblCart table-striped">
                            <thead>
                                <th width="150px">COURSE</th>
                                <th width="200px">NUMBER OF HOURS</th>
                                <th width="200px">FREE HOURS</th>
                                <th width="150px">PRICE</th>
                                <th width="180px"><span style="float:left">SPECIAL COURSE 
                                    <a data-toggle="modal" data-target="#specialCrsInfoModal" style="cursor: pointer;">
                                        <i  class="fa fa-question iconServices" style="padding-left: 5px; color: rgb(251, 255, 0); font-size: 18px"></i></a></span></th>
                                <th></th>
                            </thead>
                            <tbody id="cartTbl">
                                <tr>
                                    <td><span class="cartCrs">CRS-M001</span></td>
                                    <td><span class="cartHrs">5</span></td>
                                    <td><span class="cartFree"></span>None</td>
                                    <td>&#8369;<span class="cartPrice">2,500</span></td>
                                    <td>
                                        <input type="checkbox" name="specialCrs" onchange="specialCrsChange()" style="margin-left: 100px;"> Yes
                                    </td>
                                    <td><a href='#' title='Remove' onclick='cart.delToCart("+ index +")'><i class='icon icon-trash2 iconTrash'></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <center><div class="noSelCrsDiv">
                        <h4 color: black;>There are no selected courses.</h4>
                    </div></center>
                </div>
                <div class="selectBranch">
                    <label style="padding-left: 100px; color:black">Preferred Branch:</label><br>
                    <select class="branchList" id="branchID" style="margin-left: 100px;">
                        <option>SED-Main</option>
                        <option>SED-Cartimar</option>
                        <option>SED-Cubao</option>
                        <option>SED-Fortunata</option>
                        <option>SED-Market</option>
                    </select><br><br>
                    <div class="divPickup" style="margin-left: 100px; width: 50%; color:black">
                        <h5 class="h5Enr">Pickup Place<span class="asterisk">*</span></h5>
                        <textarea rows="3" class="enrTxtArea" id="enrPickup" name="enrPickup" placeholder="Enter the exact and complete address, including landmarks if possible."></textarea>
                    <hr></div>
                </div>
            </div>
        </div><!-- End off row -->
            <a class="btn btn-lg btnCstm btnEnroll pull-right" onclick="enrollClick()">ENROLL</a>
        <br><br><br><br><br>
    </div>
</div>