<div id="cart" class="container">
    <section class="cart">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>YOUR CART</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div>
        <div class="row">
            <div class="col-sm-6 col-md-6" style="padding-left: 100px;">
                <a href="#courses" onclick="coursesClick()" class="aAddCart"><i class="icon icon-chevron-left"></i> Continue Shopping</a>
            </div>
            <div class="col-sm-6 col-md-6">
                <p class="pCart1">Your cart contains: <span id="cartCtr">1</span> item/s</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="main_pricing_area sections">   
                    <div class="cartList">
                        <table class="tblCrs tblCart table-striped">
                            <thead>
                                <th width="250px">COURSE</th>
                                <th width="250px">NUMBER OF HOURS</th>
                                <th width="200px">FREE HOURS</th>
                                <th width="150px">PRICE</th>
                            </thead>
                            <tbody id="cartTbl">
                                <tr>
                                    <td><span class="cartCrs">CRS-M001</span></td>
                                    <td><span class="cartHrs">5</span></td>
                                    <td><span class="cartFree"></span>None</td>
                                    <td>&#8369;<span class="cartPrice">2,500</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <label style="padding-left: 100px;">Preferred Branch:</label><br>
                <select class="branchList" style="margin-left: 100px;">
                    <option>SED-Main</option>
                    <option>SED-Cartimar</option>
                    <option>SED-Cubao</option>
                    <option>SED-Fortunata</option>
                    <option>SED-Market</option>
                </select><br><br>
            </div>
        </div><!-- End off row -->
            <a class="btn btn-lg btnCstm btnEnroll pull-right" onclick="enrollClick()">ENROLL</a>
        <br><br><br><br><br>
    </div>
</div>