<section id="courses" class="courses">
    <section id="counter" class="branches">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>COURSES OFFERED</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><!-- End of section -->

<div class="container-fluid" style="padding-top: 50px;">
    <!-- Start of Card  -->
    <div class="">
        <div class="row">
            <!-- Start of col-lg-3 -->
            <div class="col-lg-3">
                <div class="card cardServlist">
                    <center><h4>Courses Offered:</h4>
                    <div class="separator"></div></center>
                    <ul class="servUl">
                        <li>
                            <i class="icon icon-chevron-right iconServices pull-left"></i>
                            <a class="crsActive" id="crsActive1" data-toggle="tab" href="#crs1" onclick="crs1Click()" role="tab">
                                <h5>Manual Courses</h5>
                            </a>
                        </li>
                        <li>
                            <i class="icon icon-chevron-right iconServices pull-left"></i>
                            <a id="crsActive2" data-toggle="tab" href="#crs2" onclick="crs2Click()" role="tab">
                                <h5>Automatic Courses</h5>
                            </a>
                        </li>
                    </ul>
                    <center><div class="separator"></div></center>
                </div>
                <div class="card cardServlist">
                    <div>
                        <i class="icon icon-question-circle iconServices1 pull-left"></i>
                        <h2>What To Know?</h2>
                    </div>
                </div>
                <div class="card cardServlist">
                    <div class="toKnowCrs1">
                        <h4>Available Vehicle/s:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Toyota Atlis/Vios</li>
                        </ul><br>
                        <h4>Requirements:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student Driver's Permit (or any Philippine License)</li>
                        </ul><br>
                        <h4>Includes:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student ID</li>
                            <li>Student Training Card</li>
                            <li>Free Lectures</li>
                        </ul><br>
                        <h4>Promo:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">*</b> have an additional 1 hour of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">**</b> have additional 2 hours of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                        </ul>
                    </div>
                    
                    <div class="toKnowCrs2">
                        <h4>Available Vehicle/s:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Hyundai</li>
                        </ul><br>
                        <h4>Requirements:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student Driver's Permit (or any Philippine License)</li>
                        </ul><br>
                        <h4>Includes:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student ID</li>
                            <li>Student Training Card</li>
                            <li>Free Lectures</li>
                        </ul><br>
                        <h4>Promo:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">*</b> have an additional 1 hour of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">**</b> have additional 2 hours of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                        </ul>
                    </div>

                    <!-- <div class="toKnowCrs3">
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>You get to choose the place where we can pick you up.</li>
                            <li>No additional fees for straight and overtime schedules.</li>
                        </ul><br>
                        <h4>Available Vehicle/s:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Toyota Atlis</li>
                            <li>Toyota Vios</li>
                            <li>Hyundai</li>
                        </ul><br>
                        <h4>Includes:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student ID</li>
                            <li>Student Training Card</li>
                            <li>Free Lectures</li>
                        </ul>
                        <h4>Requirements:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Student Driver's Permit (or any Philippine License)</li>
                        </ul><br>
                        <h4>Promo:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">*</b> have an additional 1 hour of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                            <li>Courses with <b style="color: #6E0303; font-size: 17px;">**</b> have additional 2 hours of lesson <b style="color: #6E0303">FOR FREE.</b></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <!-- End of col-lg-3 -->

            <!-- Start of col-lg-9 -->
            <div class="col-lg-9">
                <div class="card" style="height: 800px;">
                    <div class="tab-content">
                        <!--first tab-->
                        <div class="tab-pane active" id="crs1" role="tabpanel">
                            <div class="card-body"> 
                                <section id="counter" class="serviceCtr">
                                    <!-- <div class="container"> -->
                                        <div class="row">  
                                            <div class="col-sm-12">             
                                                <div class="main_home wow fadeInUp" data-wow-duration="700ms" style="padding-top: 70px; width: 100%; padding-bottom: 10px;">
                                                    <center>
                                                        <h2>Manual Transmission Courses</h2>
                                                        <div class="separator"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    <div class="row">
                                        <div class="main_pricing_area sections" style="padding-top: 50px;">   
                                            <div class="brList">
                                                <table class="tblCrs tblManCrs table-striped">
                                                    <thead>
                                                        <th width="150px">COURSE CODE</th>
                                                        <th width="50px">DAYS</th>
                                                        <th width="150px">HOUR/DAY</th>
                                                        <th width="150px">PRICE</th>
                                                        <th width="200px"></th>
                                                    </thead>
                                                    <tbody id="course_m">
                                                        <tr>
                                                            <td>CRS-M001</td>
                                                            <td>5</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;2,500</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-M002</td>
                                                            <td>7</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;3,500</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-M003</td>
                                                            <td>10</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;5,000</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-M004<b style="color: #6E0303; font-size: 17px;">*</b></td>
                                                            <td>15</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;7,500</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-M005<b style="color: #6E0303; font-size: 17px;">**</b></td>
                                                            <td>20</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;10,000</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- End off row -->
                                </section><br><br><!-- End of section -->
                            </div>
                        </div>

                        <!--second tab-->
                        <div class="tab-pane" id="crs2" role="tabpanel">
                            <div class="card-body">
                                <section id="counter" class="serviceCtr">
                                    <!-- <div class="container"> -->
                                        <div class="row">  
                                            <div class="col-sm-12">             
                                                <div class="main_home wow fadeInUp" data-wow-duration="700ms" style="padding-top: 70px; width: 100%; padding-bottom: 10px;">
                                                    <center>
                                                        <h2>Automatic Transmission Courses</h2>
                                                        <div class="separator"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    <div class="row">
                                        <div class="main_pricing_area sections" style="padding-top: 50px;">   
                                            <div class="brList">
                                                <table class="tblCrs tblAutoCrs table-striped">
                                                    <thead>
                                                        <th width="150px">COURSE CODE</th>
                                                        <th width="50px">DAYS</th>
                                                        <th width="150px">HOUR/DAY</th>
                                                        <th width="150px">PRICE</th>
                                                        <th width="200px"></th>
                                                    </thead>
                                                    <tbody id="course_a">
                                                        <tr>
                                                            <td>CRS-A001</td>
                                                            <td>5</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;3,500</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-A002</td>
                                                            <td>7</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;4,900</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-A003</td>
                                                            <td>10</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;7,000</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-A004<b style="color: #6E0303; font-size: 17px;">*</b></td>
                                                            <td>15</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;10,500</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>CRS-A005<b style="color: #6E0303; font-size: 17px;">**</b></td>
                                                            <td>20</td>
                                                            <td>1 hour/day</td>
                                                            <td>&#8369;14,000</td>
                                                            <td>
                                                                <a href="" class="btn btn-lg btnCstm">ADD TO CART</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- End off row -->
                                </section><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of col-lg-9 -->
        </div> <!-- End of row -->
    </div><!-- End of Card  -->
</div>
</section>