<section id="faq" class="portfolio sections" style="padding-top: 0px;">
    <section class="gallery">
        <!-- <div class="video_overlay"> -->
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home main_home2 wow fadeInUp" data-wow-duration="700ms" style="padding-top: 100px">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>Frequently Asked Questions(FAQ)</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="container">
        <center>
            <div class="faqDiv" style="margin-bottom: 50px">
                <h4 style="float: left;">Classification:</h4>
                <select id="faqLabelSel" name="faqLabelSel" class="enrCivStatus1" style="width: 80%"></select><hr style="width: 80%">
                <h4>Frequently Asked Questions on:</h4>
                <h2 class="faqDisplaySpan">Super Junior</h2>
                <div class="separator"></div>

                <div class="noFaqDiv"><h5 style="text-align: center; color: black">There are no listed FAQs under this label.</h5></div>
                <div class="divFaq"></div>
            </div>
        </center>
    </div><!-- End off container --> 
</section> <!-- End off Work Section -->