<section id="gallery" class="portfolio sections" style="padding-top: 0px;">
    <section class="gallery">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>GALLERY</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="container-fluid">
        <div class="row">
            <div class="main_portfolio">
                <div class="work_menu text-center">
                    <div id="filters" class="toolbar mb2 mt2">
                        <button class="btn-md fil-cat filter active" data-filter="all">ALL</button>/
                        <!-- <button class="btn-md fil-cat filter" data-rel="web" data-filter=".web">MAIN OFFICE</button>/ -->
                        <button class="btn-md fil-cat filter" data-rel="design" data-filter=".design">BRANCHES</button>/
                        <button class="btn-md fil-cat filter" data-rel="flyers" data-filter=".flyers">INSTRUCTORS</button>/
                        <button class="btn-md fil-cat filter" data-rel="bcards" data-filter=".bcards">VEHICLES</button>/
                        <button class="btn-md fil-cat filter" data-rel="photo" data-filter=".photo">DRIVER'S TRAINING PROGRAM</button>/
                        <button class="btn-md fil-cat filter" data-rel="video" data-filter=".video">STUDENTS</button>
                    </div> 
                </div>

                <div style="clear:both;"></div>     
                <div id="portfoliowork"> 
                    <div class="single_portfolio tile scale-anm web grid-item-width2 video" >
                        <img src="../../../assets/images/main/pf1.jpg" alt="" />
                        <a href="../../../assets/images/main/pf1.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>STUDENTS</h3>
                                <p>Our registrar with our student, Ms. Sarah Geronimo</p>
                            </div>
                        </a>
                    </div>
                    <div class="single_portfolio tile scale-anm bcards photo" >
                        <img src="../../../assets/images/main/pf2.jpg" alt="" />
                        <a href="../../../assets/images/main/pf2.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>DRIVER'S TRAINING PROGRAM</h3>
                                <p>May 21, 2018 - Vethealth Company</p>
                            </div>
                        </a>
                    </div>
                    <div class="single_portfolio tile scale-anm web video">
                        <img src="../../../assets/images/main/pf3.jpg" alt="" />
                        <a href="../../../assets/images/main/pf3.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>VEHICLE</h3>
                                <p>Look at that! Cool, right?</p>
                            </div>
                        </a>
                    </div>
                    <div class="single_portfolio tile scale-anm web photo" >
                        <img src="../../../assets/images/main/pf4.jpg" alt="" />
                        <a href="../../../assets/images/main/pf4.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>INSTRUCTOR</h3>
                                <p>Our instructor together with his stundent</p>
                            </div>
                        </a>
                    </div>
                    <div class="single_portfolio tile scale-anm bcards design" >
                        <img src="../../../assets/images/main/pf5.jpg" alt="" />  
                        <a href="../../../assets/images/main/pf5.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>VEHICLE</h3>
                                <p>Our Toyota Atlis</p>
                            </div>
                        </a>
                    </div>

                    <div class="single_portfolio tile scale-anm flyers video design">
                        <img src="../../../assets/images/main/pf6.jpg" alt="" />
                        <a href="../../../assets/images/main/pf6.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>BRANCHES</h3>
                                <p>:)</p>
                            </div>
                        </a>
                    </div>
                    <div class="single_portfolio tile scale-anm photo flyers">
                        <img src="../../../assets/images/main/pf7.jpg" alt="" />
                        <a href="../../../assets/images/main/pf7.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>BRANCHES</h3>
                                <p>SED-Market</p>
                            </div>
                        </a>
                    </div>

                    <div class="single_portfolio tile scale-anm bcards video" >
                        <img src="../../../assets/images/main/pf8.jpg" alt="" />
                        <a href="../../../assets/images/main/pf8.jpg" class="portfolio-img">
                            <div class="grid_item_overlay">
                                <div class="separator4"></div>
                                <h3>STUDENTS</h3>
                                <p>Our student before learning her first lesson</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End off container --> 
</section> <!-- End off Work Section -->