<div id="homeCls">
<!--home Section -->
<section id="home" class="home1">
    <div class="overlay">
        <div class="home_skew_border">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="main_home_slider text-center">
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h5>Drive Safely, Defensively, Professionally.</h5>
                                    <h1>SOCIALITES EXCELLENT DRIVING</h1>
                                    <div class="separator"></div>
                                    <p>Founded in 1969. Socialites Excellent Driving is among the pioneers in the driving school business 
                                        teaching prospective drivers the basic concepts of driving. </p>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-default">ENROLL NOW</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h5>We also offer:</h5>
                                    <h1>Driver's Training Program</h1>
                                    <div class="separator"></div>
                                    <p>Driver's Training Program is designed with your employee in mind and is focused on behavioral 
                                        change towards higher skill levels and reduced risk taking behaviors. 
                                        We work hard to ensure that every training experience with us is exceptional!</p>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-default">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h3>Also Available:</h3>
                                    <h1>Licensing Assistance</h1>
                                    <div class="separator"></div>
                                    <p>We provide assistance in all driver's license related services, such as student permit, 
                                        non-professional, professional and international license.</p>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-default">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single_home_slider">
                                <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                    <h3>Wait! There's more!</h3>
                                    <h1>FREE Troubleshooting Lectures</h1>
                                    <div class="separator"></div>
                                    <p>16 hours of free lessons in troubleshooting that will surely help students like you identify 
                                        specific problems, difficulties, and how to handle confusions while driving.</p>
                                    <div class="home_btn">
                                        <a href="" class="btn btn-default">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrooldown">
                <a href="#feature"><i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</section><!--End of home section -->

<br><br><br><br>
<div class="col-sm-12">
    <div class="head_title text-center">
        <h2>WHY CHOOSE US</h2>
        <div class="subtitle">
            For almost five decades, first-time learners and refreshers still choose us. Here are the reasons why.
        </div>
        <div class="separator"></div>
    </div>
</div>

<section id="feature" class="feature sections">
    <div class="container">
        <div class="row">
            <div class="main_feature text-center">

                <div class="col-sm-3">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <!-- <i class="fa fa-star"></i> -->
                            <i class="ti-crown"></i>
                        </div>

                        <h4>THE PIONEER</h4>
                        <div class="separator3"></div>
                        <p>SED is among the pioneers in the driving school business – 
                            for almost 50 years in the business!</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-user"></i>
                        </div>
                        <h4>COMPETENT INSTRUCTORS</h4>
                        <div class="separator3"></div>
                        <p>Dedicated instructors that will surely help you master the art of driving.</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-car"></i>
                        </div>
                        <h4>EQUIPPED VEHICLES</h4>
                        <div class="separator3"></div>
                        <p>Manual and automatic vehicles that you can choose from.</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-location-pin"></i>
                        </div>

                        <h4>LOTS OF BRANCHES</h4>
                        <div class="separator3"></div>
                        <p>We have more than 20 branches that are easily accessible.</p>
                    </div>
                </div>

            </div>
        </div>
    </div><!--End of container -->
</section><!--End of feature Section -->
<section id="feature" class="feature sections">
    <div class="container">
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-sm-4">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-face-smile"></i>
                        </div>
                        <h4>LOWEST PRICES</h4>
                        <div class="separator3"></div>
                        <p>We offer the lowest prices among other driving schools.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-heart"></i>
                        </div>
                        <h4>AIRCONDITIONED ROOMS</h4>
                        <div class="separator3"></div>
                        <p>All lectures take place in an air-conditioned room designed for your comfortability.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="single_feature">
                        <div class="single_feature_icon">
                            <i class="ti-blackboard"></i>
                        </div>

                        <h4>FREE LECTURES</h4>
                        <div class="separator3"></div>
                        <p>Driving is easy, as long as you’re willing to learn. That’s why we offer free lectures, you deserve it!</p>
                    </div>
                </div>

            </div>
        </div>
    </div><!--End of container -->
</section><!--End of feature Section -->
<br><br><hr><br><br>

<!-- Counter Section --> 
<section id="counter" class="counter">
    <div class="video_overlay">
        <div class="container">
            <div class="row">  
                <div class="col-sm-12">               
                    <div class="main_counter_area text-center">

                        <div class="row">
                            <div class="single_counter border_right">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_counter_item">
                                        <i class="icon icon-business-3"></i>
                                        <h2 class="statistic-counter">49</h2>
                                        <h4 class="">years in the business</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="single_counter">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_counter_item">
                                        <i class="icon icon-business15"></i>
                                        <h2 class="statistic-counter">21</h2>
                                        <h4 class="">branches</h4>  
                                    </div>
                                </div>
                            </div>

                            <div class="single_counter">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_counter_item">
                                        <i class="icon icon-business72"></i>
                                        <h2 class="statistic-counter">581</h2>
                                        <h4 class="">enrollees from January 2018</h4>  
                                    </div>
                                </div>
                            </div> 

                            <div class="single_counter">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_counter_item">
                                            <i class="icon icon-people-32"></i>
                                        <h2 class="statistic-counter">118</h2>
                                        <h4 class="">total current students</h4>

                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End off container --> 
</section><br><br><br>   <!-- End of counter section -->

<!-- Pricing Section -->
<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="main_pricing_area sections">
                <div class="head_title1 text-center">
                    <h2>COURSES OFFERED</h2>
                    <div class="subtitle">
                        Don't hesitate. Learn now. Here are our available courses.
                    </div>
                    <div class="separator"></div>
                </div><!-- End off Head_title -->

                <div class="col-md-4 col-sm-6">
                    <div class="single_pricing pricing_business">
                        <div class="pricing_head">
                            <h3>MANUAL</h3>
                            <div class="pricing_price">
                                <div class="m_t text-center">for as low as</div>
                                <div class="p_r text-center">&#8369;2,500</div>
                            </div>
                        </div>
                        <div class="pricing_body">
                            <h6>We also offer manual transmission type of vehicles that 
                                uses a driver operated clutch engaged and disengaged by a foot pedal and a gear selector operated by hand.</h6>
                            <!-- <center><hr class="hrCustom"></center> -->
                            <div class="separator"></div>
                            <h6 class="pricing_h6">FREE up to 2 hours of additional driving lessons on selected courses</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">FREE 16 hours of troubleshooting lectures</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">License Application Assistance</h6><hr class="hrCustom1">
                            <a href="" class="btn btn-md">VIEW COURSES</a>
                        </div>
                    </div>
                </div> <!-- End off col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="single_pricing pricing_business">
                        <div class="pricing_head ">
                            <h3>AUTOMATIC</h3>
                            <div class="pricing_price">
                                    <div class="m_t text-center">for as low as</div>
                                    <div class="p_r text-center">&#8369;3,500</div>
                            </div>
                        </div>
                        <div class="pricing_body">
                            <h6>We also offer automatic transmission type of vehicles that 
                                frees the driver from having to shift gears manually as the vehicle moves.</h6>
                            <!-- <center><hr class="hrCustom"></center> -->
                            <div class="separator"></div>
                            <h6 class="pricing_h6">FREE up to 2 hours of additional driving lessons on selected courses</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">FREE 16 hours of troubleshooting lectures</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">License Application Assistance</h6><hr class="hrCustom1">
                            <a href="" class="btn btn-md">VIEW COURSES</a>
                        </div>
                    </div>
                </div> <!-- End off col-md-4 -->

                <div class="col-md-4 col-sm-6">
                    <div class="single_pricing pricing_business">
                        <div class="pricing_head">
                            <h3>SPECIAL</h3>
                            <div class="pricing_price">
                                <div class="m_t text-center">for as low as</div>
                                <div class="p_r text-center">&#8369;5,000</div>
                            </div>
                        </div>
                        <div class="pricing_body">
                            <h6>Pick-up and drop-off at your place with your choice 
                                of vehicle with no additional fees for straight and overtime.</h6><br>
                            <!-- <center><hr class="hrCustom"></center> -->
                            <div class="separator"></div>
                            <h6 class="pricing_h6">FREE up to 2 hours of additional driving lessons on selected courses</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">FREE 16 hours of troubleshooting lectures</h6>
                            <hr class="hrCustom1"><h6 class="pricing_h6">License Application Assistance</h6><hr class="hrCustom1">
                            <a href="" class="btn btn-md">VIEW COURSES</a>
                        </div>
                    </div>
                </div> <!-- End off col-md-4 -->
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Pricing Section -->
<br><br><br>
</div>