<!-- service Section -->
<section id="service" class="service">
    <div class="container-fluid">
        <div class="row">
            <div class="main_service">
                <div class="col-md-6 col-sm-12 no-padding">
                    <div class="single_service single_service_text text-right">
                        <div class="head_title">
                            <h2>OTHER SERVICES</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                        <article class="single_service_right_text">
                                            <h4>DRIVER'S TRAINING PROGRAM</h4>
                                            <p>Driver's Training Program is designed with your employee in mind and is focused on behavioral 
                                                change towards higher skill levels and reduced risk taking behaviors. 
                                                We work hard to ensure that every training experience with us is exceptional!</p>
                                        </article>
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        <figure class="single_service_icon">
                                            <i class="icon icon-working15"></i>
                                        </figure><!-- End of figure -->
                                    </div>
                                </div>
                            </div><!-- End of col-sm-12 -->

                            <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                        <article class="single_service_right_text">
                                            <h4>LICENSING ASSISTANCE</h4>
                                            <p>We provide assistance in all driver's license related services, such as student permit, 
                                                non-professional, professional and international license.</p>
                                        </article>
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        <figure class="single_service_icon">
                                            <i class="icon icon-license"></i>
                                        </figure><!-- End of figure -->
                                    </div>
                                </div>
                            </div><!-- End of col-sm-12 -->

                            <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                <div class="row">

                                    <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                        <article class="single_service_right_text">
                                            <h4>TROUBLESHOOTING LECTURES</h4>
                                            <p>16 hours of free lessons in troubleshooting that will surely help students like you identify 
                                                specific problems, difficulties, and how to handle confusions while driving.</p>
                                        </article>
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        <figure class="single_service_icon">
                                            <i class="icon icon-triangle25"></i>
                                        </figure><!-- End of figure -->
                                    </div>
                                </div>
                            </div><!-- End of col-sm-12 -->

                        </div>
                    </div>
                </div><!-- End of col-sm-6 -->

                <div class="col-md-6 col-sm-12 no-padding">
                    <figure class="single_service single_service_img">
                        <div class="overlay-img"></div>
                        <img src="../../assets/images/main/servicerightimg.jpg" alt="" />
                        
                    </figure><!-- End of figure -->
                </div><!-- End of col-sm-6 -->
            </div>
        </div><!-- End of row -->
    </div><!-- End of Container-fluid -->

<div class="container-fluid" style="padding-top: 50px;">
    <!-- Start of Card  -->
    <div class="">
        <div class="row">
            <!-- Start of col-lg-3 -->
            <div class="col-lg-3">
                <div class="card cardServlist">
                    <center><h4>Services Offered:</h4>
                    <div class="separator"></div></center>
                    <ul class="servUl">
                        <li>
                            <i class="icon icon-chevron-right iconServices pull-left"></i>
                            <a class="crsActive" id="servActive1" data-toggle="tab" href="#dtp" onclick="serv1Click()" role="tab">
                                <h5>Driver's Training Program</h5>
                            </a>
                        </li>
                        <li>
                            <i class="icon icon-chevron-right iconServices pull-left"></i>
                            <a id="servActive2" data-toggle="tab" href="#license" onclick="serv2Click()" role="tab">
                                <h5>Licensing Assistance</h5>
                            </a>
                        </li>
                        <li>
                            <i class="icon icon-chevron-right iconServices pull-left"></i>
                            <a id="servActive3" data-toggle="tab" href="#lect" onclick="serv3Click()" role="tab">
                                <h5>Troubleshooting Lectures</h5>
                            </a>
                        </li>
                    </ul>
                    <center><div class="separator"></div></center>
                </div>
                <div class="card cardServlist">
                    <div>
                        <i class="icon icon-question-circle iconServices1 pull-left"></i>
                        <h2>What To Know?</h2>
                    </div>
                </div>
                <div class="card cardServlist">
                    <div class="toKnow1">
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Exclusive reservation for <b style="color: #6E0303">companies, organizations and corporations</b> only.</li>
                            <li>The company gets to decide regarding the <b>Date and Place</b> of the seminar. </li>
                            <li>Payment must be ready after the seminar.</li>
                        </ul><br><br>
                        <h4>Requirements:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Minimum of <b style="color: #6E0303">10</b> persons.</li>
                            <li>A request letter from the HR department or head of the company.</li>
                            <li>List of names of attendees.</li>
                        </ul><br><br>
                        <h4>Includes:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>1 lecturer</li>
                            <li>Manuals and reviewers</li>
                            <li>Certificates for all attendees</li>
                        </ul>
                    </div>

                    <div class="toKnow2">
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>Available only for current and former students of SED.</li>
                            <li>Current students of SED must finish their enrolled courses first before availing this service. 
                                <i class="icon icon-smile2" style="color: #6E0303"></i>
                            </li>
                        </ul>
                    </div>

                    <div class="toKnow3">
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>All lessons are <b style="color: #6E0303">FREE</b>.</li>
                            <li>All lessons are 2 hours long.</li>
                            <li><b style="color: #6E0303">No requirements needed.</b>
                                You may come in whether you are our student or not. 
                                <i class="icon icon-smile2" style="color: #6E0303"></i></li>
                            <li>Lessons are continuous. Every meeting tackles different lesson.</li>
                        </ul><br><br>
                        <h4>Schedule:</h4>
                        <ul style="list-style-type: disc; padding-left: 10px;">
                            <li>(SED-Main) Every Thursday, 6 P.M. - 8 P.M.</li>
                            <li>(SED-Cartimar) Every Wednesday, 6 P.M. - 8 P.M.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of col-lg-3 -->

            <!-- Start of col-lg-9 -->
            <div class="col-lg-9">
                <div class="card" style="height: 800px;">
                    <div class="tab-content">
                        <!--first tab-->
                        <div class="tab-pane active" id="dtp" role="tabpanel">
                            <div class="card-body"> 
                                <section id="counter" class="serviceCtr1">
                                    <!-- <div class="container"> -->
                                        <div class="row">  
                                            <div class="col-sm-12">             
                                                <div class="main_home wow fadeInUp" data-wow-duration="700ms" style="padding-top: 70px; width: 100%; padding-bottom: 10px;">
                                                    <center>
                                                        <h2>Driver's Training Program</h2>
                                                        <div class="separator"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="main_pricing_area sections" style="padding-top: 50px; height: 550px">   
                                                <div class="col-md-1 col-sm-1"></div>                          
                                                <div class="col-md-4 col-sm-5">
                                                    <div class="single_pricing pricing_business">
                                                        <div class="pricing_head">
                                                            <h3>PROGRAM 1</h3>
                                                            <div class="pricing_price">
                                                                <div class="p_r text-center">&#8369;1,000</div>
                                                                <div class="m_t text-center">per head</div>
                                                            </div>
                                                        </div>
                                                        <div class="pricing_body">
                                                            <h5><span style="font-weight: bold; font-size: 16px;">4 hours lecture.</span></span><br>
                                                            (Defensive Driving; Traffic Rules &amp; Regulations; Preventive Maintenance; Handling Emergencies)</h5>
                                                            <!-- <center><hr class="hrCustom"></center> -->
                                                            <br><a href="" class="btn btn-md">LEARN MORE</a>
                                                        </div>
                                                    </div>
                                                </div> <!-- End off col-md-4 -->
                                
                                                <div class="col-md-4 col-sm-5">
                                                    <div class="single_pricing pricing_business">
                                                        <div class="pricing_head">
                                                            <h3>PROGRAM 2</h3>
                                                            <div class="pricing_price">
                                                                <div class="p_r text-center">&#8369;1,500</div>
                                                                <div class="m_t text-center">per head</div>
                                                            </div>
                                                        </div>
                                                        <div class="pricing_body">
                                                            <h5><span style="font-weight: bold; font-size: 16px;">4 hours lecture.</span></span><br>
                                                            (Defensive Driving; Traffic Rules &amp; Regulations; Preventive Maintenance; Handling Emergencies)<br>
                                                            <b>---with actual driving---</b></h5>
                                                            <!-- <center><hr class="hrCustom"></center> -->
                                                            <a href="" class="btn btn-md">LEARN MORE</a>
                                                        </div>
                                                    </div>
                                                </div> <!-- End off col-md-4 -->
                                                <div class="col-md-1 col-sm-1"></div> 
                                            </div>
                                        </div><!-- End off row -->
                                    </div><!-- End off container -->
                                </section><br><br><!-- End of section -->
                            </div>
                        </div>

                        <!--second tab-->
                        <div class="tab-pane" id="license" role="tabpanel">
                            <div class="card-body">
                                <section id="counter" class="serviceCtr2">
                                    <!-- <div class="container"> -->
                                        <div class="row">  
                                            <div class="col-sm-12">             
                                                <div class="main_home wow fadeInUp" data-wow-duration="700ms" style="padding-top: 70px; width: 100%; padding-bottom: 10px;">
                                                    <center>
                                                        <h2>Licensing Assistance</h2>
                                                        <div class="separator"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    <div style="overflow-x: auto">
                                        <div class="container pull-left" style="overflow-x: auto">
                                            <div class="row">
                                                <div class="main_pricing_area sections" style="height: 480px">   
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="single_pricing pricing_business">
                                                            <div class="pricing_head pricing_head1">
                                                                <h3>Professional License</h3>
                                                                <div class="pricing_price1">
                                                                    <div class="p_r text-center">&#8369;2,500</div>
                                                                </div>
                                                            </div>
                                                            <div class="pricing_body">
                                                                <a href="" class="btn btn-md">LEARN MORE</a>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End off col-md-4 -->
                                        
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="single_pricing pricing_business">
                                                            <div class="pricing_head pricing_head1">
                                                                <h3>Non-Professional License</h3>
                                                                <div class="pricing_price1">
                                                                    <div class="p_r text-center">&#8369;2,700</div>
                                                                </div>
                                                            </div>
                                                            <div class="pricing_body">
                                                                <a href="" class="btn btn-md">LEARN MORE</a>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End off col-md-4 -->
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="single_pricing pricing_business">
                                                            <div class="pricing_head pricing_head1">
                                                                <h3>Student Driver's Permit</h3>
                                                                <div class="pricing_price1">
                                                                    <div class="p_r text-center">&#8369;500</div>
                                                                </div>
                                                            </div>
                                                            <div class="pricing_body">
                                                                <a href="" class="btn btn-md">LEARN MORE</a>
                                                            </div>
                                                        </div>
                                                    </div>                          
                                                    <div class="col-md-3 col-sm-6">
                                                        <div class="single_pricing pricing_business">
                                                            <div class="pricing_head pricing_head1">
                                                                <h3>International License</h3>
                                                                <div class="pricing_price1">
                                                                    <div class="p_r text-center">&#8369;5,000</div>
                                                                </div>
                                                            </div>
                                                            <div class="pricing_body">
                                                                <a href="" class="btn btn-md">LEARN MORE</a>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div><!-- End off row -->
                                        </div><!-- End off container -->
                                    </div>
                                </section><br><br>
                            </div>
                        </div>

                            <!--third tab-->
                        <div class="tab-pane" id="lect" role="tabpanel">
                            <div class="card-body">
                                <section id="counter" class="serviceCtr3">
                                    <!-- <div class="container"> -->
                                        <div class="row">  
                                            <div class="col-sm-12">             
                                                <div class="main_home wow fadeInUp" data-wow-duration="700ms" style="padding-top: 70px; width: 100%; padding-bottom: 10px;">
                                                    <center>
                                                        <h2>Troubleshooting Lectures</h2>
                                                        <div class="separator"></div>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                    <div style="padding-top: 50px;">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6"> 
                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 1</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>Driving Principles</li>
                                                        <li>Hanging</li>
                                                        <li>Backing</li>
                                                        <li>Manuevering</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 2</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>L.T.O. Code</li>
                                                        <li>Parking</li>
                                                        <li>Traffic Rules &amp; Regulations &amp; Penalties</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 3</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>Ignition System</li>
                                                        <li>Breaking System</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 4</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>Highway Driving</li>
                                                        <li>Car Won't Start</li>
                                                    </ul>
                                                </div><br>
                                            </div>

                                            <div class="col-sm-6 col-md-6">    
                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 5</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>L.T.O. for Non-Professional License</li>
                                                        <li>Porto Clinic</li>
                                                        <li>Driving in a Flooded Street</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 6</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>L.T.O. Exam for Professional License</li>
                                                        <li>Tips in Buying a Car</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 7</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>Car Servicing</li>
                                                        <li>What To Do In Case of Carnapping</li>
                                                        <li>Kinds of Oil, Gas, Car</li>
                                                        <li>Generator</li>
                                                    </ul>
                                                </div><br>

                                                <div class="clsLessons">
                                                    <h4 class="h4Lesson">Lesson 8</h4>
                                                    <ul style="list-style-type: disc; padding-left: 20px;">
                                                        <li>Defensive Driving</li>
                                                        <li>Traffic Accidents</li>
                                                        <li>Car Insurance</li>
                                                    </ul>
                                                </div><br>
                                            </div>
                                        </div>
                                    </div>
                                </section><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of col-lg-9 -->
        </div> <!-- End of row -->
    </div><!-- End of Card  -->

</div>
</section>