<section id="tips" class="blog">
    <section id="counter" class="tips">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>TIPS &amp; TUTORIALS</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><br><br><!-- End of section -->

    <div class="container-fluid">
        <div class="row">
            <div class="main_blog sections">
                <div class="main_blog_content">
                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_text s_b_left">
                                        <h3>TIPS IN BUYING A CAR</h3>
                                        <div class="separator2"></div>
                                        <p><b>1. Do Your Research.</b>
                                                The most important thing to know before you buy a car is that knowledge is power. 
                                                It’s a mistake to arrive at a car lot without first researching the car you want to buy. 
                                                You can find out just about anything you want to know about a car online. 
                                                Auto Trader, Consumer Reports, Kelley Blue Book, and the Yahoo! Autos section are great 
                                                places to start researching cars in your price range.</p>
                                        <a href="https://www.moneycrashers.com/how-to-buy-car-tips/" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog2.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_text s_b_left">
                                        <h3 style="text-transform: uppercase;">How to Get a Driver’s License Faster Without Dealing with Fixers</h3>
                                        <div class="separator2"></div>
                                        <p>Want to know the best way to get a driver’s license faster in the Philippines? First things first: 
                                            never do business with a fixer at the Land Transportation Office (LTO). Yes, it can be tempting to 
                                            pay someone to complete your license application quickly, but it can cost you twice to four times the 
                                            price of doing it legally...</p>
                                        <a href="https://www.moneymax.ph/blog/get-drivers-license-faster" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog3.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6 no-padding">
                                    <div class="single_blog_text s_b_right">
                                        <h3>CAR TRIVIAS</h3>
                                        <div class="separator2"></div>
                                        <p>What car sold more than one million units in 1965, setting a record that still stands today?</p>
                                        <ol type="a">
                                            <li>Buick Wildcat</li>
                                            <li>Pontiac GTO</li>
                                            <li>Ford Thunderbird</li>
                                            <li>Chevrolet Impala</li>
                                        </ol>
                                        <p>Answer: Chevrolet Impala</p>
                                        <a href="http://www.usefultrivia.com/miscellaneous_trivia/car_trivia_index.html" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog4.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-sm-pull-6 no-padding">
                                    <div class="single_blog_text s_b_right">
                                        <h3>TROUBLESHOOTING A CAR THAT WON’T START</h3>
                                        <div class="separator2"></div>
                                        <p>Did you ever consider those wonderful days when your car won’t start? If you left your lights, 
                                            radio, or some other electrical gizmo on after you parked the car, you know what the trouble is: 
                                            Your battery is dead. Of course, there are other possible reasons that your car won’t start.</p>
                                        <a href="http://www.dummies.com/home-garden/car-repair/troubleshooting-a-car-that-wont-start/" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog1.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_text s_b_left">
                                        <h3>THE 100 BEST CAR TIPS</h3>
                                        <div class="separator2"></div>
                                        <p><b>4. Lower Your Seat. </b>
                                                Drivers who sit higher feel as if they're driving slower. Thus, SUV drivers, 
                                                who are already piloting the vehicles most prone to roll, drive faster because they feel 
                                                like they're creeping along. So lower your seat to get the sensation of more speed. </p>
                                        <a href="https://www.menshealth.com/trending-news/a19538981/100-best-car-tips/" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single_blog_area textwhite">
                            <div class="row">
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_img">
                                        <img src="../../../assets/images/main/blog2.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-sm-6 no-padding">
                                    <div class="single_blog_text s_b_left">
                                        <h3>STEP BY STEP GUIDE TO REVERSE PARKING</h3>
                                        <div class="separator2"></div>
                                        <p>The reverse park is the one part of the driving test that makes you more nervous.
                                            Even when you’ve got your Ps, reverse parking can be a sweaty-palmed trial. 
                                            No-one likes the feeling of trying to squeeze into a gap between two cars while cranky motorists 
                                            bank up behind you. Here are some simple tips to avoid a dose of the reverse parking heebie-jeebies.</p>
                                        <a href="http://www.rms.nsw.gov.au/geared/your_driving_skills/driving_skills/reverse_the_stereotype.html" target="_blank" class="read_more">Read More >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- End off container -->
</section><!-- End off Blog Section -->