<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;
            }
            .total{
                font-weight: 700;
            }
        </style>
    </head>
    <body style="padding-left: 50px; padding-right: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">GROSS INCOME: OVERALL REPORT<br>SED-Quezon City (Main) | September 12, 2018</h4>
            <h4 style="text-align: left">TUITION/ENROLLMENT FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td class="total">TOTAL</td>
                        <td class="total">5,500.00</td>
                        <td class="total">3,000.00</td>
                        <td class="total">1,000.00</td>
                    </tr>
                </tbody>
            </table>

            <h4 style="text-align: left">CERTIFICATE FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td class="total">TOTAL</td>
                        <td class="total">5,500.00</td>
                        <td class="total">3,000.00</td>
                        <td class="total">1,000.00</td>
                    </tr>
                </tbody>
            </table>

            <h4 style="text-align: left">LICENSING APPLICATION ASSISTANCE FEE</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Branch</th> 
                        <th>Total Amount</th>
                        <th>Total Payment</th>
                        <th>Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td>SED-Quezon City (Main)</td> 
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                    <tr>
                        <td class="total">TOTAL</td>
                        <td class="total">5,500.00</td>
                        <td class="total">3,000.00</td>
                        <td class="total">1,000.00</td>
                    </tr>
                </tbody>
            </table>
        </center>
        <div style="width: 100%; align-items: right; margin-top: 10px"><hr>
            <h5 style="text-transform: uppercase; text-align: right">Overall Amount: &#8369;12,000.00<br>Overall Balance: &#8369;2,000.00</h5>
            <hr width="40%" align="right">
            <h5 class="total" style="text-transform: uppercase; text-align: right">Overall Income (Tuition/Enrollment): &#8369;10,000.00<br>Overall Income (Certificate): &#8369;10,000.00<br>Overall Income (Licensing Application Assistance): &#8369;10,000.00</h5>
            <hr width="40%" align="right">
            <h5 style="text-transform: uppercase; text-align: right; font-weight: 1000;">Overall Gross Income: &#8369;10,000.00</h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>