<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                background-image: url("/assets/images/certificate.jpg");
            }
        </style>
    </head>
    <body style="padding: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div>
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h3 style="text-transform: uppercase;">GROSS INCOME: OVERALL REPORT</h3>
            <h4 style="text-transform: uppercase;  line-height: 10px">SED-Quezon City (Main)</h4>
            <h4 style="text-transform: uppercase;  line-height: 2px">September 12, 2018</h4><br>
            <table class="table tblRecSched" width="100%" border="2">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Branch</th> <%# Hide this if report is for specific branch only #%>
                        <th>Type of Fee</th>
                        <th>Amount</th>
                        <th>Payment</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Graciella C. Tatel</td>
                        <td>CRS-M001</td>
                        <td>SED-Quezon City (Main)</td> <%# Hide this if report is for specific branch only %>
                        <td>Tuition Fee</td> <%# Tuition Fee/Licensing Fee/Certificate Fee %>
                        <td>2,500.00</td>
                        <td>2,000.00</td>
                        <td>500.00</td>
                    </tr>
                </tbody>
            </table><br>

            <table class="table tblRecSched" width="100%" border="2">
                <thead>
                    <tr>
                        <th width="25%">Type of Fee</th>
                        <th width="25%">Total Amount</th>
                        <th width="25%">Total Payment</th>
                        <th width="25%">Total Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tuition Fee</td>
                        <td>12,000.00</td>
                        <td>11,000.00</td>
                        <td>1,000.00</td>
                    </tr>
                    <tr>
                        <td>Licensing Fee</td>
                        <td>12,000.00</td>
                        <td>1,000.00</td>
                        <td>11,000.00</td>
                    </tr>
                    <tr>
                        <td>Certificate Fee</td>
                        <td>1,000.00</td>
                        <td>1,000.00</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
        </center>
        <div style="width: 100%; align-items: right; margin-top: 10px">
            <h5 style="text-transform: uppercase; text-align: right">Overall Amount: &#8369;12,000.00<br>Overall Balance: &#8369;2,000.00</h5>
            <hr width="40%" align="right">
            <h5 style="text-transform: uppercase; text-align: right">Overall Income: &#8369;10,000.00</h5>
        </div>
    </body>
</html>