<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                background-image: url("/assets/images/certificate.jpg");
            }
        </style>
    </head>
    <body style="padding: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div>
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h3 style="text-transform: uppercase;">STUDENTS: PERFORMANCE EVALUATION REPORT</h3>
            <h4 style="text-transform: uppercase;  line-height: 10px">SED-Quezon City (Main)</h4>
            <h4 style="text-transform: uppercase;  line-height: 2px">September 12, 2018</h4><br>
            <table class="table tblRecSched" width="100%" border="2">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Branch</th> <%# Hide this if report is for specific branch only #%>
                        <th>Instructor</th>
                        <th>Grade</th>
                        <th>Evaluation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>012012</td>
                        <td>Graciella C. Tatel</td>
                        <td>CRS-M001</td>
                        <td>SED-Quezon City (Main)</td> <%# Hide this if report is for specific branch only %>
                        <td>Harry James Potter</td>
                        <td>50/100%</td>
                        <td>Passed</td>
                    </tr>
                </tbody>
            </table><br>
        </center>
        <div style="width: 100%; align-items: right;">
            <h5 style="text-transform: uppercase; text-align: right">Highest Evaluation Percentage: 90%<br>Lowest Evaluation Percentage: 40%</h5>
            <hr width="50%" align="right">
            <h5 style="text-transform: uppercase; text-align: right">Overall Evaluation Percentage (Average): 70%</h5>
        </div>
    </body>
</html>