<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;            
            }
        </style>
    </head>
    <body style="padding-left: 30px; padding-right: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
             <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">VEHICLES: ACTIVITIES/HISTORY<br><%=(locals.branch ? branch : "ALL BRANCHES")%>| <%=dateStart + (dateEnd != dateStart ? " - " + dateEnd : "")%></h4><br>
            <%
                var html = "";
                if(locals.lists){
                    lists.forEach((element,index)=>{
                        html += "<h4 style='text-align: left'>"+ (element[0].car.brand.trim() + ", " + element[0].car.model.trim() + " (" + element[0].car.plate.trim() + ")") +"</h4>";
                        html += "<table class='table tblRecSched' width='100%'>";
                        html += "<thead><tr><th></th><th>Date</th><th>Time</th><th>Instructor</th><th>Student</th><th>Branch</th></tr></thead>";
                        element.forEach((e,i)=>{
                            html += "<tr>";
                            html += "<td>"+ i+1 +"</td>";
                            html += "<td>"+ e.date +"</td>";
                            html += "<td>"+ e.startTime +"</td>";
                            html += "<td>"+ e.instructor.replace(/_/g," ") +"</td>";
                            html += "<td>"+ e.student.replace(/_/g," ") +"</td>";
                            html += "<td>"+ e.branch.replace(/_/g," ") +"</td>";
                            html += "</tr>";
                        });
                        html += "</table><br>";
                    });
                }
            %>
            <%-html%>
            <%# <h4 style="text-align: left">SEQUIOA, TOYOTA (ZBC562)</h4>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th> <!-- Sort by date and time, earliest to latest -->
                        <th>Time</th>
                        <th>Instructor</th>
                        <th>Student</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>10/12/2018</td>
                        <td>09:00</td>
                        <td>Minerva Mcgonagall</td> 
                        <td>Harry James Potter</td>
                    </tr>
                </tbody>
            </table><br> %>
        </center>
        <div id="pageFooter"></div>
    </body>
</html>