<html>
    <head>
        <meta charset="UTF-8">
        <style>
            .tblRecSched{
                border: black;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            .tblRecSched td{
                color: black;
                font-size: 11px;
                padding: 5px;
            }
            .tblRecSched thead{
                text-transform: uppercase;
                background-color: #5D0000;
                font-size: 13px;
            }
            .tblRecSched th{
                color: white;
            }
            #pageHeader{
                text-align:center;
                padding-bottom: 0px;            
            }
        </style>
    </head>
    <body style="padding-left: 30px; padding-right: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
             <div id="pageHeader">
                <h1 style="line-height: 5px">SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <h4 style="text-transform: uppercase;">VEHICLES: LIST/PROFILE<br>SED - Quezon City</h4><br>
            <table class="table tblRecSched" width="100%">
                <thead>
                    <tr>
                        <th>Plate #</th>
                        <th>Brand and Model</th>
                        <th>Transmission</th> <!-- List muna lahat ng manual bago automatice for sorting -->
                        <th>Color</th>
                        <th>Displacement</th>
                        <th>Engine #</th>
                        <th>Body Number</th>
                        <th>Assigned Instructor</th>
                    </tr>
                </thead>
                <tbody>
                <%
                    var html = "";
                    data.forEach((e,i)=>{
                        html += "<tr>";
                        html += "<td>"+ e.plate +"</td>";
                        html += "<td>"+ (e.model + ", " + e.brand) +"</td>";
                        html += "<td>"+ (e.transmission.toUpperCase() == 'A' ? "Automatic" : "Manual") +"</td>";
                        html += "<td>"+ e.color +"</td>";
                        html += "<td>"+ e.displacement +" L</td>";
                        html += "<td>"+ e.engineNo +"</td>";
                        html += "<td>"+ e.bodyNo +"</td>";
                        html += "<td>"+ (e.driver == "" ? "None" : e.driver.replace(/_/g, " ")) +"</td>";
                        html += "</tr>";
                    });
                %>
                <%-html%>
                    <%# <tr>
                        <td>ZBC562</td>
                        <td>Sequioa, Toyota</td>
                        <td>Manual</td> 
                        <td>Red</td>
                        <td>1.8 L</td>
                        <td>H22AM03737</td>
                        <td>1HG CM8263 3A004352</td>
                        <td>Harry James Potter</td>
                    </tr> %>
                </tbody>
            </table><br>
        </center>
        <div style="width: 100%; align-items: right;">
            <h5 style="text-transform: uppercase; text-align: right">Total Number of Vehicles: <%=data.length%></h5>
        </div>
        <div id="pageFooter"></div>
    </body>
</html>