footer 
{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px; 
  height: 100px;
}

.panel .panel-heading,
.panel .panel-body,
.panel .panel-footer {
  padding-left: 25px;
  padding-right: 25px; }

.panel-footer {
  background-color: #fafafa; }