@font-face 
{
    font-family: Quicksand;
    src: url("vendor/font/Quicksand-Regular.ttf") format("truetype");
}

body
{
	background: url("../images/login-bg.jpeg") no-repeat center center fixed;
	/*background-color: black; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'HelveticaNeue','Arial', sans-serif;
}

.logo-img
{	
	margin-left: 10px; 
	margin-right: auto; 
	width: 38%; 
	padding-top: 1px;
}

a
{
	color: #7D7D7D;
	text-decoration: none;
}

a:hover
{
	color: #58bff6; 
}

.pull-right
{
	float: right;
}

.pull-left
{
	float: left;
}

.clear-fix
{
	clear:both;
}

div.logo
{
	text-align: center; 
	margin: 20px 20px 30px 20px; 
	fill: #566375;
	background-color: black;
}

div.logo svg
{
	width:180px;
	height:100px;
}

.logo-active
{
	fill: #44aacc !important;
}

#formWrapper
{
	background: rgba(0,0,0,.2); 
	width:100%; 
	height:100%; 
	position: absolute; 
	top:0; 
	left:0;
	transition:all .3s ease;
}

.darken-bg
{
	background: rgba(0,0,0,.5) !important; 
	transition:all .3s ease;
}

div#form
{
	position: absolute;
	width:800px;
	height:420px;
	background-color: #fff;
	/*margin:auto;*/
	border-radius: 5px;
	padding:20px;
	/*padding-top: 100px;*/
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-210px;
	opacity: 0.7;
}

div.form-item
{
	position: relative; 
	display: block; 
	margin-bottom: 20px;
	padding-left: 20px;
}

input
{
 	transition: all .2s ease;
}

input.form-style
{
	color:#8a8a8a;
	display: block;
	width: 90%;
	height: 40px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}

div.form-item .form-style:focus
{
	outline: none; 
	border:1px solid #58bff6; 
	color:#58bff6; 
}

div.form-item p.formLabel 
{
	position: absolute;
	left:26px;
	top:10px;
	transition:all .4s ease;
	color:#bbb;
	margin-left: 10px;
	background-color: none;
}

.formTop
{
	top:-10px !important; 
	left:26px; 
	background-color: #fff; 
	padding:0 5px; 
	font-size: 13px; 
	color:#58bff6 !important;
}

.formStatus
{
	color:#8a8a8a !important;
}

input[type="submit"].login
{
	float:right;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #55b1df;
	border:1px solid #55b1df;
	border:none;
	color: #fff;
	font-weight: bold;
}

input[type="submit"].login:hover
{
	background-color: #fff; 
	border:1px solid #55b1df; 
	color:#55b1df; 
	cursor:pointer;
}

input[type="submit"].login:focus
{
	outline: none;
}

div.left
{
	position: relative;
	height: 100%;
	/*background-color: black;*/
	border-right: solid 5px;
	padding-top: 0px;
	margin: 0 auto; 
}

div.right
{
	position: relative;
	padding-top: 100px;
}

.copyright
{
	float: left;
	padding-top: 10px;
	font-size: 12px;
}

.logoname
{
	text-align: center;
	font-family: Quicksand;
}

.logodesign
{
}