html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #6d6d67; }

#wrapper #sidebar-nav,
#wrapper .main {
  padding-top: 80px; }

@media screen and (max-width: 767px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px; } }

.layout-fullwidth #wrapper .sidebar {
  left: -260px; }

.offcanvas-active #wrapper .sidebar {
  left: 0; }

@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px; }}

/********************
 * SIDEBAR NAVIGATION
 ********************/
.sidebar {
  z-index: 9;}
.sidebar .nav > li > a {
  padding: 18px 30px;
  color: rgb(255, 255, 0);
  border-left: 5px solid transparent; }
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
  color: #fff;
  background-color: transparent; }
  .sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
    color: #8C0000; }
.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
  background-color: #252c35;
  border-left-color: #8C0000; }
.sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  top: 5px;
  font-size: 12px;
  line-height: 1.1;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.sidebar .nav > li > a[data-toggle="collapse"].collapsed .icon-submenu {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
.sidebar .nav > li > a .badge {
  font-weight: 400;
  background-color: #F9354C; }
.sidebar .nav i {
  margin-right: 10px;
  font-size: 18px; }
.sidebar .nav span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: -2px; }
.sidebar .nav .nav {
  background-color: #252c35; }
.sidebar .nav .nav > li > a {
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px; }
.sidebar .nav .nav > li > a:focus, .sidebar .nav .nav > li > a.active {
  background-color: transparent;
  border-left-color: transparent; }
.sidebar .nav .nav > li > a.active a {
  color: #fff; }
.sidenav{
  padding-left: 1.8em;
}

.icon-submenu
{
  float: right;
}