<div class="view-newInstructor">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">New Instructor</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Instructors</a></li>
                <li class="breadcrumb-item active" id="activeStudent">New</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row studentCard">
                <!-- Start of col-lg-5 -->
                <div class="card col-lg-5">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" class="form-control" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="submit"><i class="ti-close"></i></button></span>
                        </div>
                    </div><br>
                    <h4 class="card-title">List of Instructors</h4><br>
                    <div class="table-responsive">
                        <table class="table tblInstructor table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Instructor Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Graciella Tatel</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Christian Paul Tupas</td>
                                    <td><span class="badge badge-danger">Day Off</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Janelle Joy Gabat</td>
                                    <td><span class="badge badge-warning">In session</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Perrine Laganzo</td>
                                    <td><span class="badge badge-success">Available</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End of col-lg-5 -->

                <!-- Start of col-lg-6 -->
                <div class="card col-lg-6" style="padding-left: 50px;">
                    <h3>Instructor Details</h3><hr>
                    <div class="row">
                        <div class="col-md-5 col-lg-5">
                            <span><img src="assets/images/user-medium.png" alt="Student Picture" class="studPic"/></span><br><br>
                            <center>
                                <h6 id="instNum">INST-00001-MN-0</h6>
                            </center>
                        </div>
                        <div class="col-md-7 col-lg-7">
                            <h3 id="instName">Harry James Potter</h3>
                            <span class="fa fa-map-marker fa-red"></span> <span id="instAddress">Sapang Palay, CSJDM, Bulacan</span><br>
                            <span class="fa fa-phone fa-red"></span> <span id="instPhone">0956 586 7353</span><br>
                            <span class="fa fa-envelope fa-red"></span> <span id="instEmail">gtatel0517@gmail.com</span>
                            <br><br><br><br>
                            <button type="button" id="btnViewInstructor" class="btn btn-outline m-b-10 m-l-5">View Details</button>
                        </div>
                    </div> <!-- End of row -->
                </div> <!-- End of col-lg-6 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
</div>