<div class="view-payment viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Payment</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Payment</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" id="searchStudent" class="form-control" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudent()"><i class="ti-close"></i></button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                </div>
            </div>
            <div class="row">
                <!-- Start of col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card studCard">
                        <div class="row">
                            <div class="col-md-6 pull-left">
                                <h3>List of Students</h3>
                            </div>
                        </div><br>
                        <div class="table-responsive">
                            <table class="table tableStud tblCustom table-hover"> 
                                <!-- //DB: to change to tblStudent -->
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student Name</th>
                                    </tr>
                                </thead>
                                <tbody id="studentTable">
                                    <tr>
                                        <td>1</td>
                                        <td>Graciella Tatel</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Christian Paul Tupas</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Janelle Joy Gabat</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Perrine Laganzo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End of col-lg-6 -->

                <!-- Start of col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card studCard">
                        <h3>Payment Record</h3><hr>
                        <div>
                            <div class="tempPayTab">
                                <!-- <h3 class="pull-right">Status: <span class="notPaid">Not Paid</span></h3><br> -->
                                <div class="pull-right">
                                    <button type="button" id="btnAddPayment" onclick="addPaymentModal()" class="btnCstom btn btn-warning m-b-10 m-l-5">Add Payment</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table tblStudPayment1 table-hover">
                                        <thead>
                                            <tr>
                                                <th>Transaction #</th>
                                                <th>Date</th>
                                                <th>Assessment</th>
                                                <th>Payment</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <center><br><h4>No payment made.</h4><br></center>
                                </div><br><br>
                            </div>
                            <!-- <br><br><br><br> -->
                        </div> <!-- End of row -->
                    </div>
                </div> <!-- End of col-lg-6 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>
