<div class="view-reports1 viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <span class="fa fa-chevron-left float-left back" onclick="reports()"></span>
            <h3 class="text-primary">Gross Income Report</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()"> Home</a></li>
                <li class="breadcrumb-item"><a onclick="reports()">Reports</a></li>
                <li class="breadcrumb-item active"><a>Gross Income</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
         <div class="card">
            <form>
                <div class="row">
                    <div class="col-md-4 col-lg-4  col-sm-12 col-xs-12">
                        <div>
                            <label style="float: left;">Report:</label>
                            <select id="selReport1" name="selReport1" class="enrCivStatus1" style="width: 70%">
                                <option value="Tuition/Enrollment">Tuition/Enrollment</option>
                                <option value="Certificate">Certificate</option>
                                <option value="Licensing Assistance">Licensing Assistance</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <div>
                            <label>Branch: </label>
                            <select name="selReportBranch" class="selReportBranch enrCivStatus1" style="width: 70%"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 pull-right">
                        <div class="pull-right">
                            <label>Frequency of Report: </label>
                            <select name="selReportFreq" class="selReportFreq selReportFreq1 enrCivStatus1" style="width: 40%">
                                <option value="1">Daily</option>
                                <option value="2">Weekly</option>
                                <option value="3">Monthly</option>
                                <option value="4">Quarterly</option>
                                <option value="5">Semi-annually</option>
                                <option value="6">Annually</option>
                            </select>
                        </div>
                    </div>
                </div><hr>     
                <center>
                    <div class="freqDiv dailyDiv">
                        <center>
                            <h3>SELECT DATE</h3>
                            <h4>Choose the specific date for daily report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Date:</h6></td>
                                <td><input type="date" class="txtEnr dailyRepDate dailyRepDate1" style="font-size: 14px"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="freqDiv weeklyDiv">
                        <center>
                            <h3>SELECT WEEK RANGE</h3>
                            <h4>Choose the specific range of week for weekly report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Week:</h6></td>
                                <td><input type="week" class="txtEnr weeklyRepDate weeklyRepDate1" style="font-size: 14px"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="freqDiv monthlyDiv">
                        <center>
                            <h3>SELECT MONTH</h3>
                            <h4>Choose the specific month for monthly report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Month:</h6></td>
                                <td>
                                    <select class="txtEnr monthlyRepDate monthlyRepDate1">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </td>
                                <td width="15%" style="text-align: right;"><h6>Year:</h6></td>
                                <td>
                                    <select class="txtEnr yearRepDate yearRepDate1">
                                        <option value="2018">2018</option></select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="freqDiv quarterlyDiv">
                        <center>
                            <h3>SELECT END MONTH</h3>
                            <h4>Choose the specific end of month for quarterly report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Month (End):</h6></td>
                                <td>
                                    <select class="txtEnr quarterlyRepDate quarterlyRepDate1">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </td>
                                <td width="15%" style="text-align: right;"><h6>Year:</h6></td>
                                <td>
                                    <select class="txtEnr yearRepDate yearRepDate1">
                                        <option value="2018">2018</option></select>
                                </td>
                            </tr>
                        </table>
                        <h5>[Selected Months: <span class="selQuartMonths">January 2018 - April 2018</span>]</h5>
                    </div>
                
                    <div class="freqDiv semiAnnuallyDiv">
                        <center>
                            <h3>SELECT END MONTH</h3>
                            <h4>Choose the specific end of month for semi-anually report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Month (End):</h6></td>
                                <td>
                                    <select class="txtEnr semiRepDate semiRepDate1">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </td>
                                <td width="15%" style="text-align: right;"><h6>Year:</h6></td>
                                <td>
                                    <select class="txtEnr yearRepDate yearRepDate1">
                                        <option value="2018">2018</option></select>
                                </td>
                            </tr>
                        </table>
                        <h5>[Selected Months: <span class="selSemiMonths">January 2018 - June 2018</span>]</h5>
                    </div>
                
                    <div class="freqDiv annuallyDiv">
                        <center>
                            <h3>SELECT YEAR</h3>
                            <h4>Choose the specific year for annual report.</h4>
                        </center><hr style="width: 50%">
                        <table style="width:50%; height: 70px; color: black">
                            <tr>
                                <td width="15%" style="text-align: right;"><h6>Year:</h6></td>
                                <td>
                                    <select class="txtEnr yearRepDate yearRepDate1">
                                        <option value="2018">2018</option></select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <hr><button type="button" style="width: 200px" class="btn btn-inverse" onclick="generateReport(1)">Generate Report</button><br>
                </center>
            </form>
        </div>
    </div>
</div>