<div class="view-student viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Students</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()"> Home</a></li>
                <li class="breadcrumb-item active"><a>Students</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" id="searchStudent" class="form-control searchStud" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudent()"><i class="ti-close"></i></button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
            </div>
            <div class="row">
                <!-- Start of col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card studCard">
                        <div class="row">
                            <div class="col-md-6 pull-left">
                                <h3>List of Students</h3>
                            </div>
                        </div><hr class="hrStud">
                        <div class="table-responsive"><br>
                            <table class="table tableStud tblCustom table-hover" style="margin-top: 25px;">
                                <!-- //DB: to change to tblStudent -->
                                <thead>
                                    <tr>
                                        <th width="10%">#</th>
                                        <th>Student Name</th>
                                    </tr>
                                </thead>
                                <tbody id="studentTable"></tbody>
                            </table>
                            <div class="noStudTr" style="padding: 15px">
                                <center><h5>There are no student details to display.</h5></center>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of col-lg-6 -->

                <!-- Start of col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <hr class="hrCustom">
                    <div class="card studCard">
                        <h3>Student Details</h3><hr>
                        <div class="row hasStudDetails">
                            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                                <span><img src="assets/images/user-medium.png" alt="Student Picture" class="studPic"/></span><br><br>
                                <center>
                                    <h6 class="studNum"></h6><hr>
                                    <h6 class="studBranch"></h6>
                                </center>
                            </div>
                            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7">
                                <h3 class="studName"></h3>
                                <span class="fa fa-map-marker fa-red"></span> <span class="studAddress"></span><br>
                                <span class="fa fa-phone fa-red"></span> <span class="studPhone"></span><br>
                                <span class="fa fa-envelope fa-red"></span> <span class="studEmail"></span><br>
                                <hr><h5>Enrolled Course: <span class="enrolledCrs"></span></h5>
                            </div>
                            <div class="divBottom">
                                <button type="button" id="btnViewStudent" class="btn btn-primary m-b-10 m-l-5">View Profile</button>
                            </div>
                        </div> <!-- End of row -->
                        <div class="noStudDetTr" style="padding: 15px">
                            <center><h5>There are no enrolled students yet.</h5></center>
                        </div>
                    </div>
                </div> <!-- End of col-lg-6 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
</div>