<div class="view-todaySched viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <span class="fa fa-chevron-left float-left back" onclick="schedule()"></span>
            <h3 class="text-primary">Today's Schedule</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="schedule()">Schedule</a></li>
                <li class="breadcrumb-item active"><a>Today's Schedule</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="form-group">
                            <div class="input-group input-group-flat">
                                <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                                <input type="text" class="form-control searchTodaySched" placeholder="Search..." style="font-size: 12px;">
                                <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudentC()"><i class="ti-close"></i></button></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <table style="width:100%">
                            <thead></thead>
                            <tbody id="">
                                <tr>
                                    <td style="width: 10%">
                                        <h5 style="float: left;">Branch: </h5>
                                    </td>
                                    <td>
                                        <select class="branchSelect enrTxtArea" name="branchSelect">
                                            <option>All</option>
                                            <option>SED-Quezon City (Main)</option>
                                            <option>SED-Pasay City</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <table class="table tblCustom2">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Branch</th>
                        <th>Instructor Name</th>
                        <th>Student Name</th>
                        <!-- <th>Course</th> -->
                        <!-- <th>Bal. Hours</th> -->
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="todaySched"></tbody>
                </table>
                <div class="noTodaySched" style="padding: 15px">
                    <center><h5>There are no schedule to display.</h5></center>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>