<div class="view-viewInstructor viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <span class="fa fa-chevron-left float-left backInst"></span>
            <h3 class="text-primary">Instructor Information</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()"> Home</a></li>
                <li class="breadcrumb-item"><a onclick="instructor()">Instructor</a></li>
                <li class="breadcrumb-item active"><a>Instructor Information</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
            <div class="row">
                <!-- Start of col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 pull-left">
                    <div class="card">
                        <center>
                            <span><img src="assets/images/user-medium.png" alt="Instructor Picture" class="instPic"/></span><br><br>
                            <h4 class="instName">Harry James Potter</h4>
                            <h6 class="instNum">INST-001</h6><hr width="30%">
                            <h6 class="instBranch">SED- Quezon City (Main)</h6>
                        </center>
                            <span><span class="fa fa-map-marker fa-red"></span> <span class="instAddress">Sapang Palay, CSJDM, Bulacan</span></span>
                            <span><span class="fa fa-phone fa-red"></span> <span class="instPhone">0956 586 7353</span></span>
                            <span><span class="fa fa-envelope fa-red"></span> <span class="instEmail">gtatel0517@gmail.com</span></span>
                            
                            <br><span><span class="fa fa-credit-card fa-red"></span> <span class="instLicense">AAA 2323</span></span>
                            <small>Date Issued: <span class="dateIssuedLic">07-17-2018</span></small>
                            <small>Expiry Date: <span class="dateExpiryLic">07-17-2028</span></small>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-calendar tiBig"></span>
                            <h6>Date Hired:</h6>
                            <h5 class="instDateHired">May 17, 2018</h5><hr width="30%">
                            <div class="divResigned">
                                <h6>Date Resigned:</h6>
                                <h5 class="instDateResigned">May 19, 2018</h5><hr width="30%">
                            </div>
                        </center>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-user tiBig"></span>
                            <h6>Total Students Handled:</h6>
                            <h5 class="totStud">0</h5><hr width="30%">
                            <div class="divCurStud">
                                <h6>Current Students:</h6>
                                <h5 class="totCurrStud">0</h5><hr width="30%">
                            </div>
                        </center>
                    </div>
                </div>
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 pull-right">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#scheduleI" role="tab">Schedule</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#evaluationI" role="tab" onclick="loadEval('inst')">Evaluation</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settingsI" role="tab" onclick="">Account</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="scheduleI" role="tabpanel">
                                <div class="card-body"> 
                                    <!-- <div id='calendar'>
                                        
                                    </div> -->
                                    <div class="noCal">
                                        <div id='instructorSched'>
                                            <center><br><h4 style="color: #5D0000">No schedule to display.</h4><br></center>
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" id="btnAddSchedule" class="btn btn-warning m-b-10 m-l-5">Add Schedule</button>
                                            <!-- <button type="button" id="btnEditPayment" class="btn btn-light m-b-10 m-l-5">Edit Payment</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--second tab-->
                            <div class="tab-pane" id="evaluationI" role="tabpanel">
                                <div class="card-body">
                                    <div class="profiletimeline instTab" id = "evalInstAdmin">
                                    </div>
                                </div>
                            </div>
                            
                            <!--third tab-->
                            <div class="tab-pane" id="settingsI" role="tabpanel">
                                <div class="card-body">
                                    <form class="form-horizontal form-material instTab">
                                        <div>
                                            <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editInstAccFN"><br>
                                                    <small class="cstSmall">First Name*</small>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editInstAccMN"><br> 
                                                    <small class="cstSmall">Middle Name</small>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editInstAccLN"><br>
                                                    <small class="cstSmall">Surname*</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                                            <input type="radio" class="enrSexRD" id="editInstSex1" name="editInstAccSex" value="M">
                                                <label class="enrSexLbl" for="editInstSex2">Male</label>
                                            <input type="radio" class="enrSexRD" id="editInstSex2" name="editInstAccSex" value="F">
                                                <label class="defRateLbl" for="editInstSex2">Female</label>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                                            <input type="date" class="txtEnr1" required id="editInstAccBday" placeholder="mm/dd/yyyy"><br>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                                            <textarea rows="3" class="enrTxtArea1" id="editInstAccAdd"></textarea>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="number" class="txtEnr1" required  id="editInstAccPhone"><br>
                                                    <small class="cstSmall">Contact Number*</small>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="email" class="txtEnr1" required id="editInstAccEmail"><br>
                                                    <small class="cstSmall">Email Address</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Driver's License No.<span class="asterisk">*</span></h5>
                                            <input type="text" class="txtEnr1" required id="editInstLicense"></input>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Highest Educational Attainment<span class="asterisk">*</span></h5>
                                            <select required class="enrCivStatus1" id="editInstAccEduc">
                                                <option value="0">---</option>
                                                <option value="1">Pre-Primary/Pre-School</option>
                                                <option value="2">Primary/Elementary</option>
                                                <option value="3">Secondary/High School</option>
                                                <option value="4">Post-Secondary Non-Tertiary/Technical-Vocational</option>
                                                <option value="5">Tertiary/Baccalaureate</option>
                                                <option value="6">Tertiary/Post-Graduate</option>
                                            </select>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Account<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editInstAccUN"><br>
                                                    <small class="cstSmall">Username*</small>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="password" class="txtEnr1" required id="editInstAccPW"><br>
                                                    <small class="cstSmall">Password*</small>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="password" class="txtEnr1" required id="editInstAccCPW"><br>
                                                    <small class="cstSmall">Confirm Password*</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btnCstom btn-danger pull-left btnDelInstAcc" data-toggle="modal" data-target="#confResignModal">Resign</button>
                                                <button type="button" class="btn btnCstom btn-primary pull-right btnUpdateInstAcc" onclick="updateInst()">Update Account</button>
                                                
                                                <button type="button" class="btn btnCstom btn-primary pull-right btnSaveUpdInst" onclick="saveUpdInst()">Save</button>
                                                <button type="button" class="btn btnCstom btn-light pull-right btnResetUpdInst" onclick="resetUpdInst()">Reset</button>
                                                <button type="button" class="btn btnCstom btn-danger pull-right btnCancUpdInst" onclick="cancUpdInst()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        <!-- End of Card  -->
    </div>
</div>