<div class="view-viewStudent viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <span class="fa fa-chevron-left float-left backStud"></span>
            <h3 class="text-primary">Student Information</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()"> Home</a></li>
                <li class="breadcrumb-item"><a onclick="activeStud()">Students</a></li>
                <li class="breadcrumb-item active"><a>Student Information</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="instructorCard">
            <div class="row instructorCard">
                <!-- Start of col-lg-3 -->
                <div class="col-lg-3">
                    <div class="card">
                        <center>
                            <span><img src="assets/images/user-medium.png" alt="Student Picture" class="studPic"/></span><br><br>
                            <h4 class="studName">Graciella Custodio Tatel</h4>
                            <h6 class="studNum">2015-02355-MN-0</h6>
                            <h6 class="studBranch">SED - Quezon (Main)</h6><hr width="30%">
                        </center>
                            <span><span class="fa fa-map-marker fa-red"></span> <span class="studAddress">Sapang Palay, CSJDM, Bulacan</span></span>
                            <span><span class="fa fa-phone fa-red"></span> <span class="studPhone">0956 586 7353</span></span>
                            <span><span class="fa fa-envelope fa-red"></span> <span class="studEmail">gtatel0517@gmail.com</span></span>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-car tiBig"></span>
                            <h6>Enrolled Course:</h6>
                            <h5 class="enrolledCrs">---</h5><hr width="30%">
                            <h6>Status:</h6>
                            <h5 class="paidStatus">Not Paid</h5><hr width="30%">
                        </center>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-user tiBig"></span>
                            <h6>Parent/Guardian:</h6>
                            <h5 class="studGuard">Jemma C. Tatel</h5>
                            <h5 class="studGuardCont">09758664532</h5><hr width="30%">
                        </center>
                    </div>
                </div>
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-9">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#scheduleS" role="tab">Schedule</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#paymentS" role="tab">Payment</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#gradeS" role="tab">Course, Lessons &amp; Grades</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#evaluationS" role="tab">Evaluation</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settingsS" role="tab">Account</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="scheduleS" role="tabpanel">
                                <div class="card-body"> 
                                    <!-- <div class='calendar'>
                                        
                                    </div> -->
                                    <div class="noCal">
                                        <div id='studentSched'>
                                            <center><br><h5>No schedule to display.</h5><br></center>
                                        </div>
                                        <div class="pull-right">
                                            <!-- <button type="button" id="btnAddSchedule" class="btn btn-warning m-b-10 m-l-5">Add Schedule</button> -->
                                            <!-- <button type="button" id="btnEditPayment" class="btn btn-light m-b-10 m-l-5">Edit Payment</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--second tab-->
                            <div class="tab-pane" id="paymentS" role="tabpanel">
                                <div class="card-body">
                                    <div class="studTab">
                                        <table class="table tblStudPayment1 table-hover">
                                            <thead>
                                                <tr>
                                                    <th>OR Date</th>
                                                    <th>Type of Fee</th>
                                                    <th>Assessment</th>
                                                    <th>Payment</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblStudPayment1"></tbody>
                                        </table>
                                        <div class="payTab">
                                            <h3 class="pull-right">Status: <span class="studPayStatus">Fully Paid</span></h3><br>
                                            <div class="table-responsive">
                                                <table class="table tblStudPayment1 table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Transaction #</th>
                                                            <th>Date</th>
                                                            <th>Assessment</th>
                                                            <th>Payment</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="studentTable"></tbody>
                                                </table>
                                            </div><br><br>
                                            <!-- <button type="button" onclick="addPaymentAdmin()" class="btn btn-light m-b-10 m-l-5">Add Payment</button> -->
                                        </div> <!-- End of payTab -->
                                    </div>
                                </div>
                            </div>

                             <!--third tab-->
                            <div class="tab-pane" id="gradeS" role="tabpanel">
                                <div class="card-body">
                                    <div class="studTab">
                                        <table class="h4selCrsforLes1">
                                            <tr>
                                                <td style="text-align: left"><span class="fa fa-chevron-left float-left back1" onclick="loadCourses()"></span></td>
                                                <td style="text-align: left"><h4 class="pull-right" style="padding-top: 5px">Course: <span class="h4selCrsforLes">CRS-001-A</span></h4></td>
                                            </tr>
                                        </table>
                                        <div class="table-responsive">
                                        <table class="table tblCustom enrolledCrsTbl1"><br>
                                            <thead>
                                                <tr>
                                                        <th>Course Code</th>
                                                        <th>Hours</th>
                                                        <th>Special</th>
                                                        <th>Date Started</th>
                                                        <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="enrolledCrsTblStud"></tbody>
                                        </table>
                                        <table class="table tblCustom" id="lessonForGradeTbl">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Lesson</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Instructor</th>
                                                    <th>Grade</th>
                                                    <th width="20%">Comment</th>
                                                </tr>
                                            </thead>
                                            <tbody id="studGradesInst"></tbody>
                                        </table>
                                            <div class="noGradeTr" style="padding: 15px">
                                                <center><h5>This student has no record yet.</h5></center>
                                            </div>
                                            <div class="noCrsTr" style="padding: 15px">
                                                <center><h5>This student has no enrolled course yet.</h5></center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--fourth tab-->
                            <div class="tab-pane" id="evaluationS" role="tabpanel">
                                <div class="card-body">
                                    <div class="profiletimeline studTab" id="evalStudAdmin"></div>
                                    <div class="noEvalDiv" style="padding: 15px">
                                        <center><h5>This student has no evaluation record yet.</h5></center>
                                    </div>
                                </div>
                            </div>
                            
                            <!--fifth tab-->
                            <div class="tab-pane" id="settingsS" role="tabpanel">
                                <div class="card-body">
                                    <form class="studTab">
                                        <div>
                                            <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editStudAccFN"><br>
                                                    <small class="cstSmall">First Name*</small>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editStudAccMN"><br> 
                                                    <small class="cstSmall">Middle Name</small> 
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="txtEnr1" required id="editStudAccSN"><br>
                                                    <small class="cstSmall">Surname*</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                                            <input type="date" class="txtEnr1" required id="editStudAccBday" placeholder="mm/dd/yyyy"><br>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Birth Place<span class="asterisk">*</span></h5>
                                            <input type="text" class="txtEnr1" required id="editStudAccBplace"><br>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                                            <input type="radio" class="enrSexRD" id="editEnrSexS1" name="editStudAccSex" value="M">
                                                <label class="enrSexLbl" for="editEnrSexS1">Male</label>
                                            <input type="radio" class="enrSexRD" id="editEnrSexS2" name="editStudAccSex" value="F">
                                                <label class="defRateLbl" for="editEnrSexS2">Female</label>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                                            <textarea rows="3" class="enrTxtArea1" id="editStudAccAdd"></textarea>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Civil Status<span class="asterisk">*</span></h5>
                                            <select class="enrCivStatus1" name="editStudAccCivStatus" id="editStudAccCivStatus">
                                                <option value="civ0">---</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Divorced">Divorced</option>
                                                <option value="Separated">Separated</option>
                                                <option value="Widowed">Widowed</option>
                                            </select>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Occupation</h5>
                                            <input type="text" class="txtEnr1" required id="editStudAccOcc"><br>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="number" class="txtEnr1" required id="editStudAccCont"><br>
                                                    <small class="cstSmall">Contact Number*</small>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="email" class="txtEnr1" required id="editStudAccEmail"><br>
                                                    <small class="cstSmall">Email Address</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <div>
                                            <h5 class="h5Enr">Guardian Information<span class="asterisk">*</span></h5>
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="text" class="txtEnr1" required id="editStudAccGuard"><br>
                                                    <small class="cstSmall">Parent/Guardian Name*</small>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                                    <input type="number" class="txtEnr1" required id="editStudAccGuardCont"><br>
                                                    <small class="cstSmall">Contact Number*</small>
                                                </div>
                                            </div>
                                        </div><hr>
                                        <hr>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btn-danger pull-left btnDeactStudAcc" onclick="deactStud()">Deactivate Account</button>
                                                <button type="button" class="btn btn-primary pull-right btnUpdateStudAcc" onclick="updateStud()">Update Account</button>
                                                
                                                <button type="button" class="btn btn-primary pull-right btnSaveUpdStud" onclick="saveUpdStud()">Save</button>
                                                <button type="button" class="btn btn-light pull-right btnResetUpdStud" onclick="resetUpdStud()">Reset</button>
                                                <button type="button" class="btn btn-danger pull-right btnCancUpdStud" onclick="cancUpdStud()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
</div>