<div class="view-viewInstructor">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <span class="fa fa-chevron-left float-left backInst"></span>
            <h3 class="text-primary">Instructor Information</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()"> Home</a></li>
                <li class="breadcrumb-item"><a onclick="instructor()">Instructor</a></li>
                <li class="breadcrumb-item active"><a>Instructor Information</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
            <div class="row">
                <!-- Start of col-lg-3 -->
                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 pull-left">
                    <div class="card">
                        <center>
                            <span><img src="assets/images/user-medium.png" alt="Instructor Picture" class="instPic"/></span><br><br>
                            <h4 class="instName">Harry James Potter</h4>
                            <h6 class="instNum">INST-001</h6><hr width="30%">
                        </center>
                            <span><span class="fa fa-map-marker fa-red"></span> <span class="instAddress">Sapang Palay, CSJDM, Bulacan</span></span>
                            <span><span class="fa fa-phone fa-red"></span> <span class="instPhone">0956 586 7353</span></span>
                            <span><span class="fa fa-envelope fa-red"></span> <span class="instEmail">gtatel0517@gmail.com</span></span>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-calendar tiBig"></span>
                            <h6>Date Hired:</h6>
                            <h5 class="instDateHired">May 17, 2018</h5><hr width="30%">
                            <div class="divResigned">
                                <h6>Date Resigned:</h6>
                                <h5 class="instDateResigned">May 19, 2018</h5><hr width="30%">
                            </div>
                        </center>
                    </div>
                    <div class="card">
                        <center>
                            <span class="ti-user tiBig"></span>
                            <h6>Total Students Handled:</h6>
                            <h5 class="totStud">32</h5><hr width="30%">
                            <div class="divCurStud">
                                <h6>Current Students:</h6>
                                <h5 class="totCurrStud">3</h5><hr width="30%">
                            </div>
                        </center>
                    </div>
                </div>
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 pull-right">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#scheduleI" role="tab">Schedule</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#evaluationI" role="tab" onclick="loadEval('inst')">Evaluation</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settingsI" role="tab" onclick="">Settings</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="scheduleI" role="tabpanel">
                                <div class="card-body"> 
                                    <div class='calendar'>
                                        
                                    </div>
                                </div>
                            </div>

                            <!--second tab-->
                            <div class="tab-pane" id="evaluationI" role="tabpanel">
                                <div class="card-body">
                                    <div class="profiletimeline instTab">
                                        <div class="sl-item">
                                            <div class="sl-left"> <img src="assets/images/user4.png" alt="Student" id="studEvalPic" class="img-circle" /> </div>
                                            <div class="sl-right">
                                                <div><a href="#" class="link" id="studEvalName">Graciella Custodio Tatel</a> <span class="sl-date">May 2, 2018</span>
                                                    <br><br><p style="color: #455a64;">Evaluation Grade: <span class="studEvalGrade">Satisfied</span></p>
                                                    <p class="m-t-10 studEvalMsg"> Super lupet mo, sir! Kung may grade lang na SUPER PASSED, yun na po nilagay ko. Grabe hanep! Labyu sir </p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="sl-item">
                                            <div class="sl-left"> <img src="assets/images/user2.png" alt="Student" id="studEvalPic" class="img-circle" /> </div>
                                            <div class="sl-right">
                                                <div><a href="#" class="link" id="studEvalName">Zachary David Alexander Efron</a> <span class="sl-date">April 29, 2018</span>
                                                    <br><br><p style="color: #455a64;">Evaluation Grade: <span class="studEvalGrade">Somewhat Satisfied</span></p>
                                                    <p class="m-t-10 studEvalMsg"> Such an amazing instructor but uhh, has a bad smell. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sl-item">
                                            <div class="sl-left"> <img src="assets/images/user3.png" alt="Student" id="studEvalPic" class="img-circle" /> </div>
                                            <div class="sl-right">
                                                <div><a href="#" class="link" id="studEvalName">Clarissa Fray</a> <span class="sl-date">April 23, 2018</span>
                                                    <br><br><p style="color: #455a64;">Evaluation Grade: <span class="studEvalGrade">Not Satisfied</span></p>
                                                    <p class="m-t-10 studEvalMsg"> Lagi kang late! Lupet! Never again!! Ekis ka</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--third tab-->
                            <div class="tab-pane" id="settingsI" role="tabpanel">
                                <div class="card-body">
                                    <form class="form-horizontal form-material instTab">
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">First Name <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="text" id="editInstAccFN" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Middle Name </label>
                                            <div class="col-md-12">
                                                <input type="text" id="editInstAccMN" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Surname <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="text" id="editInstAccLN" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Sex <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <select class="form-control form-control-line" id="editInstAccSex">
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Date of Birth <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="date" id="editInstAccBday" class="form-control form-control-line" id="newInstBday" placeholder="dd/mm/yyyy">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Address <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="text" id="editInstAccAdd" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Phone Number <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="number" id="editInstAccPhone" placeholder="" class="form-control form-control-line" min="1" max="999999999999">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Email Address <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="email" id="editInstAccEmail" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Highest Educational Attainment <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <select required class="form-control form-control-line" id="editInstAccEduc">
                                                    <option value="0">---</option>
                                                    <option value="1">Pre-Primary/Pre-School</option>
                                                    <option value="2">Primary/Elementary</option>
                                                    <option value="3">Secondary/High School</option>
                                                    <option value="4">Post-Secondary Non-Tertiary/Technical-Vocational</option>
                                                    <option value="5">Tertiary/Baccalaureate</option>
                                                    <option value="6">Tertiary/Post-Graduate</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Username <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="email" id="editInstAccUN" placeholder="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12 customLbl">Password <span class="asterisk">*</span></label>
                                            <div class="col-md-12">
                                                <input type="password" id="editInstAccPW" value="" class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btn-danger pull-left btnDelInstAcc" data-toggle="modal" data-target="#confResignModal">Resign</button>
                                                <button type="button" class="btn btn-primary pull-right btnUpdateInstAcc" onclick="updateInst()">Update Account</button>
                                                
                                                <button type="button" class="btn btn-primary pull-right btnSaveUpdInst" onclick="saveUpdInst()">Save</button>
                                                <button type="button" class="btn btn-light pull-right btnResetUpdInst" onclick="resetUpdInst()">Reset</button>
                                                <button type="button" class="btn btn-danger pull-right btnCancUpdInst" onclick="cancUpdInst()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        <!-- End of Card  -->
    </div>
</div>