<div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light navbar-fixed-top">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" onclick="dashboard()" > 
                <!-- Logo icon -->
                <b><img src="assets/images/icon.png" alt="SED Logo" class="dark-logo" style="padding-left: 0px"/></b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span style="float:right; padding-top: 10px; padding-left: 10px;"><h4 class="navbarSoci"><span style="letter-spacing: 8px;">SOCIALITES</span><br>
                    <span style="letter-spacing: 2px;">Excellent Driving</span></h4></span>
            </a>
        </div>
        <!-- End Logo -->

        <div class="navbar-collapse">
            <!-- toggle and nav items -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)">
                    <i class="ti-menu-alt"></i></a> </li>
                </li>
                <!-- End Messages -->
            </ul>
            <!-- User profile and search -->
            <ul class="navbar-nav my-lg-0">
                <!-- Search -->
                <!-- <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" id="searchDashboard" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li> -->
                <!-- Comment -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-bell"></i>
                        <div class=""> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- End Comment -->
                <!-- Messages -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                        <div class=""> <span class="point"></span> </div>
                    </a>
                </li> -->
                <!-- End Messages -->
                <!-- Profile -->
                <li class="nav-item dropdown headerStudent">
                    <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/user4.png" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                        <ul class="dropdown-user">
                            <li><a onclick="studAccount()"><i class="ti-user"></i> Profile</a></li>
                            <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>