<!-- Straight Fee Info Modal -->
<div class="modal fade" id="straightInfoModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="straightInfoModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>What is a</h6>
            <h2>STRAIGHT FEE?</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <h5>If you want your five-day schedule to finish in just a day, this may help you.<br><br>
            Imagine this scenario, you enrolled a <b>5-day course worth &#8369;2,500</b>. Normally, you'll take this for 5 days
            because you're only granted <b>an hour per day</b>. 
            BUT, you are a busy person, 5 days is too much for your schedule.<br>
            In that case, you can just pay an additional <b>&#8369;50 for every exceeding hour</b>.
            So if you want a five-hour straight lesson, you'll be paying an additional &#8369;200.<br></h5>
            <h5>Why &#8369;200? Because you'll be paying for the 4 additional hours you'll be taking instead of just 1.<br><br>

            Whatever schedule works for you: 2-2-1? 2-3? 1-1-3? 4-1? Straight 5? Anything! We got this for you!</h5>
            <h5>If you still have questions, please feel free to communicate with us. Call or email us!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Overtime Fee Info Modal -->
<div class="modal fade" id="otInfoModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="otInfoModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>What is an</h6>
            <h2>OVERTIME FEE?</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <h5>We are open from 9:00 A.M.-12:00 P.M. and 1:30 P.M.-5:30 P.M. So if you plan to schedule beyond office hours, here's what you need to know.<br><br>
            For example, you want your schedule to be from 5:30 P.M.-6:30 P.M., you'll have to pay an additional <b>&#8369;50 for every exceeding hours.</b>
            This also includes lunch breaks (example: 12:00 P.M. - 1:00 PM.)<br></h5>
            <h5>Another case: you want a 4:30 P.M. - 6:30 P.M. That is <b>2 hours straight and beyond office hours.</b>
            Therefore, you'll be paying an additional &#8369;100.</h5>
            <h5>Why &#8369;100? 
                <b>&#8369;50 (Straight fee) + &#8369;50 (Overtime fee) = &#8369;100</b></h5><br>

            <h5>If you still have questions, please feel free to communicate with us. Call or email us!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Enroll (Has Account) Modal -->
<div class="modal fade" id="enrollClickModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="enrollClickModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
            <h6>Enrollment</h6>
        </center>
        <hr class="hrCustom"><br>
        <div class="stot row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
              <center>
                  Has an account already?<br><br>
                  <a class="btn btn-lg btnCstm" onclick="enroll1Click()">Click Here</a>
              </center>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <center>
                    No account yet?<br><br>
                    <a class="btn btn-lg btnCstm" onclick="enroll2Click()">Click Here</a>
                </center>
            </div>
        </div>
      </div><br>
    </div>
  </div>
</div>

<!-- S-Excellent Info Modal -->
<div class="modal fade" id="sExcellentModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="sExcellentModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>What happens when you apply through</h6>
            <h2>S-EXCELLENT?</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <h5>When you apply thru <b>S-Excellent</b>, all you have to do is:</h5> 
            <ol class="ul1r">
              <li>Bring your requirements.</li>
              <li>Pay for licensing assistance fees.</li>
              <li>And relax.</li>
            </ol>
            <h5>We will be the one to apply for you.</h5><br>
            <h5>How long will it take to apply?</h5>
            <ol class="ul1r">
              <li>Student Driver's Permit - 1 hour</li>
              <li>Professional/Non-Professional/International License - 6 hours</li>
            </ol>
            <h5>And THAT consume too much of your time! So let us handle it for you. Save your time, apply through S-Excellent! <i class="icon icon-smile2"></i></h5><br>

            <h5>If you still have questions, please feel free to communicate with us. Call or email us!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Success Enroll 1 Modal -->
<div class="modal fade" id="successEnrollModal1" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="successEnrollModal1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <h3>Your enrolment form has been succesfully sent to <span class="prefBranch">SED-MAIN</span>!</h3> <br>
            <h5>Since you have chosen the PAY ON BRANCH method, please settle your payment first to be able to open your own Student Account and choose your schedule.</h5><br>
            <h5>We will be waiting for you until <span class="oneWeekDeadline">June 29, 2018</span> (one week from now).</h5>
            <h5>Please come on or before the stated date to avoid cancellation of enrolment.</h5><br>
            <h5>We are looking forward to see you!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnVoucher2" onclick="dlInvoice()" class="btn btnCstm">Download Invoice</button>
        <button type="button" class="btn btnCstm btnGotItPay" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Success Enroll 2 Modal -->
<div class="modal fade" id="successEnrollModal2" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="successEnrollModal2">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <h3>Your enrolment form has been succesfully sent to <span class="prefBranch">SED-MAIN</span>!</h3> <br>
            <h5>Since you have chosen the ONLINE PAYMENT method, we will be sending you an Email once we've confirmed your enrolment form.<br>
              Upon confirmation, you will be able to open your OWN Student Account and have the privilege to choose your own schedule without going to our branch.</h5>
            <br><h5>If you haven't received an Email from us within 2 days, please feel free to communicate with us.</h5>
            <h5>We are looking forward to see you!</h5>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" id="btnVoucher" onclick="dlInvoice()" class="btn btnCstm">Download Invoice</button>
      <button type="button" class="btn btnCstm btnGotItPay" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Enroll Login Modal -->
<div class="modal fade" id="enrollLoginModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="enrollLoginModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
            <h6>Login to your account</h6>
        </center>
        <hr class="hrCustom"><br>
        <form class="login100-form validate-form validate-form1" style="width: 100%">
          <div class="stot">
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <center>
                    <div class="wrap-input100 validate-input1" data-validate = "Valid email is required: ex@abc.xyz">
                      <input id="usernameEnroll" class="input100" type="text" name="email" placeholder="Email/Username" style="background-color: #EEEEEE;">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                    </div>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <center>
                    <div class="wrap-input100 validate-input1" data-validate = "Password is required">
                      <input id="passwordEnroll" class="input100" type="password" name="pass" placeholder="Password" style="background-color: #EEEEEE;">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                      </span>
                    </div>
                </center>
              </div>
            </div>
          </div>
          <div class="container-login100-form-btn">
              <button class="login100-form-btn" style="width: 100%">Login</button>
          </div>
        </form>
      </div><br>
    </div>
  </div>
</div>

<!-- Success Enroll 1A Modal -->
<div class="modal fade" id="successEnrollModal1A" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="successEnrollModal1A">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <center>
            <h3>Your extension form has been succesfully sent to <span class="prefBranch">SED-MAIN</span>!</h3> 
          </center><br>
            <h5>Since you have chosen the PAY ON BRANCH method, please settle your payment first to be able to choose your schedule using your Student Account.</h5><br>
            <h5>We will be waiting for you until <span class="oneWeekDeadline">June 29, 2018</span> (one week from now).</h5>
            <h5>Please come on or before the stated date to avoid cancellation of extension.</h5><br>
            <h5>We are looking forward to see you!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnVoucher" class="btn btnCstm">Download Voucher</button>
        <button type="button" class="btn btnCstm btnGotItPay" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Success Enroll 2A Modal -->
<div class="modal fade" id="successEnrollModal2A" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="successEnrollModal2A">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>SOCIALITES EXCELLENT DRIVING</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <center>
              <h3>Your extension form has been succesfully sent to <span class="prefBranch">SED-MAIN</span>!</h3> 
            </center><br>
            <h5>Since you have chosen the ONLINE PAYMENT method, you may now use your Student Account and choose your own schedule without going to our branch.</h5>
            <h5>We are looking forward to more driving sessions with you!</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnVoucher" class="btn btnCstm">Download Voucher</button>
        <button type="button" class="btn btnCstm btnGotItPay" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Requirement Info Modal -->
<div class="modal fade" id="reqModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="reqModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>What are the</h6>
            <h2>REQUIREMENTS FOR APPLICATION?</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot1">
          <p><small>Reminder: You will only bring these requirements when you choose "To apply..." in the choices. 
           If you already have a Student Driver's Permit or any Philippine License, you don't have to bring any of the following stated below.</small></p><hr>
          <h3>A. Student Driver's Permit / Professional License / Non-Professional License</h3><hr>
          <div class="req reqA">
            <h5 class="h5Enr">For 17-18 yrs. old</h5>
            <ul class="ul1 ul1r">
              <li>Original Birth Certificate (NSO)</li>
              <li>Photocopy of Birth Certificate (NSO)</li>
              <li>Parental Consent</li>
            </ul>
          </div>
          <div class="req reqB">
              <h5 class="h5Enr">For 19 yrs. old &amp; above</h5>
              <ul class="ul1 ul1r">
                <li>Photocopy of Birth Certificate (NSO)</li>
                <li>TIN - Tax Identification Number</li>
                <li>Barangay Clearance</li>
              </ul>
          </div>
          <div class="req reqC">
              <h5 class="h5Enr">For Non-Filipino Students/ Tourists</h5>
              <ul class="ul1 ul1r">
                <li>Original Passport</li>
                <li>Original ACR - Alien Certificate Registration</li>
                <li>Photocopy of ACR - Alien Certificate Registration</li>
              </ul>
          </div><br>
          <h3>B. International License</h3><hr>
          <div class="req reqC">
            <ul class="ul1 ul1r">
              <li>Any Philippine License (Professional/Non-Professional License)</li>
              <li>2x2 Picture with White Background</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- S-Excellent Licensing Assistance Info Modal -->
<div class="modal fade" id="sExcellentLicenseModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="sExcellentLicenseModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Availing our</h6>
            <h2>LICENSING ASSISTANCE SERVICES</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <h5>If you choose to apply through S-Excellent, you will not be allowed to pay using <b>online payment</b>.
              You will be required to go to your preferred branch to submit your requirements needed for application, 
              together with your payment for enrolment and licensing application assistance.</h5><br>
          <h5>We will wait for you until <span class="oneWeekDeadline">June 29, 2018</span> (one week from now).</h5>
          <h5>Please come on or before the stated date to avoid cancellation of enrolment.</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<!-- Special Course Info Modal -->
<div class="modal fade" id="specialCrsInfoModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="specialCrsInfoModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>What is a</h6>
            <h2>SPECIAL COURSE?</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Course price will be <b>DOUBLED</b>. (ex: Original Course Fee = &#8369;2,500 -> Special Course Fee = &#8369;5,000)</li>
                <li>You get to choose the place where we can pick you up.</li>
                <li>No additional fees for straight and overtime schedules.</li>
            </ul><br>
            <h4>Available Vehicle/s:</h4>
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Toyota Atlis</li>
                <li>Toyota Vios</li>
                <li>Hyundai</li>
            </ul><br>
            <h4>Includes:</h4>
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Student ID</li>
                <li>Student Training Card</li>
                <li>Free Lectures</li>
            </ul><br>
            <h4>Requirements:</h4>
            <ul style="list-style-type: disc; padding-left: 20px;">
                <li>Student Driver's Permit (or any Philippine License)</li>
            </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGotIt" class="btn btnCstm" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>