<html>
    <head>
        <meta charset="UTF-8">
        <% include ../utils/studentCSS %>
    </head>
    <body style="padding: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        <center>
            <div>
                <div id="pageHeader"><img src="../../public/images/certificate.jpg" width="90%"></div>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <center>
                <h1>CERTIFICATION</h1><br><br>
                <h4>This is to certify that 
                    <span class="certName">MS. GRACIELLA C. TATEL</span> completed the prescribed actual driving course of
                    (<span class="crsDays">10</span>) 
                    <span class="crsDWord">ten</span> days using 
                    <span class="crsTrans">MANUAL</span> transmission training vehicle 
                    <span class="certAdd">and troubleshooting lecture</span> at SOCIALITES EXCELLENT DRIVING.</h4><br>
                
                <h4>This certification is issued upon the request of the above mentioned for whatever it may serve his/her best. Issued this 
                    <span class="issueDay">24</span><span class="issueDaySuffix">th</span> day of
                    <span class="issueMonthYr">May, 2018</span> at 
                    <span class="certBranch">Maria Clara, Quezon City branch.</span>
                </h4>

                <div id="pageFooter" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    <table width="100%">
                        <tr style="text-align: center; height: 5px">
                            <td><h4 class="instName">Harry James Potter</h4></td>
                            <td></td>
                            <td><h4>ANDRE SALANGSANG</h4></td>
                        </tr>
                        <tr style="text-align: center">
                            <td><h4>Instructor</h4></td>
                            <td></td>
                            <td><h4>Director</h4></td>
                        </tr>
                    </table>
                </div>
            </center>
        </center>
    </body>
</html>