<html>
    <head>
        
    </head>

    <body>
        <center>
            <div id="pageHeader">
                <h1>SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="60%"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3 style="letter-spacing: 5px">OFFICIAL RECEIPT<br> <small>(Sale of Service)</small></h3>
                        </td>
                        <td>
                            <h4>No. <span style="color: #5d0000">1787</span><br>Date: <span>August 7, 2018</span></h4>
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <h3>Received from <span style="font-weight: bolder">Kenard Smith Belarmino Bautista</span> with the sum of &#8369;
                <span style="font-weight: bolder">2,500.00</span><hr width="50%">
            <table width="50%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Assessment</th>
                        <th>Payment</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody style="font-size: 13px">
                    
                </tbody>
            </table><br><br><br>
            <input type="text" style="border-color: 0px 0px 1px 0px solid black; text-align: center" value="Graciella C. Tatel">
            <h6>Registrar/Authorized Representative</h6>
            <h6>This official receipt shall be valid for five (5) years from the date of ATP</h6>
        </center>
    </body>
</html>