<div class="view-instEvaluation viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-primary">Evaluation</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a>Evaluation</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
            <div class="row">
                <!-- Start of col-lg-3 -->
                <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6 pull-left">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="font-weight: bolder">Month (<span class="yrNow"></span>):</h6>
                                <select class="selectFromEval" style="width: 100%">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div><br>
                        <button type="button" onclick="goEvalSearch()" style="width: 95%" class="btn13 btn btn-dark m-b-10 m-l-5">Go</button>
                    </div>
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="icon icon-business-24 tiSide f-s-40 color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2 class='startEvalPerc'></h2>
                                <p class="m-b-0" style="color: black">Overall Evaluation Percentage<br><span>(from January - <span class="uptoMonth">August</span> <span class="yearEval"></span>)</span></p><hr>
                                <h2 class='monthEvalPerc'>100%</h2>
                                <p class="m-b-0" style="color: black">Monthly Evaluation Percentage<br><span class="curMonth">September</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-8 col-md-8 col-xs-6 col-sm-6 pull-right">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#evaluationInst" role="tab" onclick="loadEval('inst')">Evaluation <span class="monthEval"></span></a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="evaluationInst" role="tabpanel">
                                <div class="card-body">
                                    <h5 class="noEvalYet">Evaluation report is not yet available for display and may only be viewed by the end of the month.</h5>
                                    <div class="profiletimeline instTab evalInstDiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        <!-- End of Card  -->
    </div>
</div>