<!-- View Registration Modal -->
<div class="modal fade" id="viewRegFormModal" tabindex="-1" role="dialog" aria-labelledby="viewRegFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h2>View Registration Form</h2>
            <div>
                <form class="enrRegForm">
                    <hr class="hrCustom"><br>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegFN" id="enrRegFN" placeholder="*First Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegMN" id="enrRegMN" placeholder="Middle Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegSN" id="enrRegSN" placeholder="*Surname"><br>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Course<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegCourse" id="enrRegCourse" disabled><br>
                            </div><hr>
                            <div class="divRegSpecCourse"> 
                                <!-- Mahahide dapat to pag di special yung course -->
                                <h5 class="h5Enr">Pickup Place<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegPickup" id="enrRegPickup"><br>
                            </div><hr>
                        </div>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                        <input type="date" class="txtEnr" required name="enrRegBday" id="enrRegBday" placeholder="mm/dd/yyyy"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Place<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegBplace" id="enrRegBplace" placeholder="*Birthplace"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                        <input type="radio" class="enrSexRD" id="enrRegSex1" name="enrRegSex" value="Male" checked>
                            <label class="enrSexLbl" for="enrRegSex1">Male</label><br>
                        <input type="radio" class="enrSexRD" id="enrRegSex2" name="enrRegSex" value="Female">
                            <label class="enrSexLbl" for="enrRegSex2">Female</label>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                        <textarea rows="3" class="enrTxtArea" id="enrRegAddress" placeholder="*Address"></textarea>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Civil Status<span class="asterisk">*</span></h5>
                        <select class="enrCivStatus" name="enrRegCivStatus">
                            <option value="civ0">---</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Separated">Separated</option>
                            <option value="Widowed">Widowed</option>
                        </select>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Occupation</h5>
                        <input type="text" class="txtEnr" required name="enrRegOcc" id="enrRegOcc" placeholder="Occupation"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                        <input type="number" class="txtEnr" required name="enrRegCont" id="enrRegCont" placeholder="*Contact Number"><br>
                        <input type="email" class="txtEnr" required name="enrRegEmail" id="enrRegEmail" placeholder="Email Address"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Guardian Information<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegGuard" id="enrRegGuard" placeholder="*Parent/Guardian Name"><br>
                        <input type="number" class="txtEnr" required name="enrRegGuardCont" id="enrRegGuardCont" placeholder="*Contact Number"><br>
                    </div><hr>
                </form>
            <hr></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancAddInst" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnNextAddInst" onclick="saveEnrReg()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment Enrollment Modal -->
<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Course</th>
                                <th>Assessment</th>
                            </tr>
                        </thead>
                        <tbody class="paymentModal">
                            <tr>
                                <td>Tuition Fee</td>
                                <td>CRS-M001</td>
                                <td>5,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Assessment: &#8369;<span class="totAssess">5,000.00</span></h4>
                    <h4 style="text-align: right; float: left; margin-right: 10px;">Payment:</h4>
                    <input type="number" id="paymentEnroll">
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="appRegForm()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment Modal -->
<div class="modal fade" id="addPaymentModal1" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Assessment</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tuition Fee</td>
                                <td>5,000.00</td>
                                <td>2,500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Balance: &#8369;<span class="totAmount">2,500.00</span></h4>
                    <h4 style="text-align: right; float: left; margin-right: 10px;">Payment:</h4>
                    <input type="number" id="paymentBalEnroll">
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="addPaymentBal()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment License Modal -->
<div class="modal fade" id="addPaymentModal2" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal2">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date of Payment: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Type of License</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Licensing Assistance Fee</td>
                                <td>Student Driver's Permit</td>
                                <td>500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Amount: &#8369;<span class="totAmount">500.00</span></h4>
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addPaymentLic()">Paid</button>
      </div>
    </div>
  </div>
</div>

<!-- Add License Modal -->
<div class="modal fade" id="addLicenseModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addLicenseModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD LICENSE/PERMIT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <label><span class="asterisk">*</span>License/Permit:</label><br>
                <input type="text" id="newLic" class="txtEnr"><br><br>
                <label><span class="asterisk">*</span>Price:</label><br>
                <input type="number" id="newLicPrice" class="txtEnr spinnerTxt"><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addNewLic()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit License Modal -->
<div class="modal fade" id="editLicenseModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editLicenseModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT LICENSE/PERMIT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <label><span class="asterisk">*</span>License/Permit:</label><br>
                <input type="text" id="editLic" class="txtEnr"><br><br>
                <label><span class="asterisk">*</span>Price:</label><br>
                <input type="number" id="editLicPrice" class="txtEnr spinnerTxt"><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveEditLic()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add DTP Modal -->
<div class="modal fade" id="addDTPmodal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addDTPmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD NEW PROGRAM</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h3>Program #<span id="newProgNum">3</span></h3>
                <label><span class="asterisk">*</span>Price per Head:</label><br>
                <input type="number" id="newDtpPrice" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Program Duration (Hours):</label><br>
                <input type="number" id="newDtpDur" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Description:</label><br>
                <textarea rows="3" id="newDtpDesc" class="enrTxtArea"></textarea><br>
                <small>*Input here all lessons and other inclusions, separated by a semicolon (;)<br>
                 (ex: Defensive Driving; Traffic Rules &amp; Regulations)</small>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addNewProgram()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit DTP Modal -->
<div class="modal fade" id="editDTPmodal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editDTPmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT PROGRAM</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h3>Program #<span id="newProgNum">3</span></h3>
                <label><span class="asterisk">*</span>Price per Head:</label><br>
                <input type="number" id="editDtpPrice" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Program Duration (Hours):</label><br>
                <input type="number" id="editDtpDur" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Description:</label><br>
                <textarea rows="3" id="editDtpDesc" class="enrTxtArea"></textarea><br>
                <small>*Input here all lessons and other inclusions, separated by a semicolon (;)<br>
                 (ex: Defensive Driving; Traffic Rules &amp; Regulations)</small>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="editProgram()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Profile Picture Modal -->
<div class="modal fade" id="uploadProfileModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="uploadProfileModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>UPDATE PROFILE PICTURE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form action="/file-upload" class="dropzone" id="profileDrop">
                <div class="fallback">
                    <input type="file" name="profileImg">
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="editProgram()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Schedule Modal -->
<div class="modal fade" id="cancelSchedModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="cancelSchedModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>CANCEL SCHEDULE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
              <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
              <h5 style="padding-top: 2px;">Reason: <br><small>Maximum of 150 characters</small></h5>
              <textarea class="enrTxtArea" id="reasonCancel" maxlength="150" style="font-size: 14px" rows="3"></textarea><br><br><h5>OR</h5><br>
              <input type="checkbox" name="absentStudCB" style="float: left;"> <h6 style="color:black; margin-left: 15px"> STUDENT IS ABSENT</h6>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn100px btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn100px btn btn-success btnLicense" onclick="confirmCancel()">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Apply License Modal -->
<div class="modal fade" id="licenseApplyModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="licenseApplyModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>LICENSE APPLICATION ASSISTANCE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <h5 style="float: left; padding-top: 5px">Apply for: </h5>
                            <select class="enrTxtArea selListofLicense" name="selListofLicense" style="width: 70%">
                                <option>Student Driver's Permit</option>
                                <option>Professional License</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <h5 style="float: left; padding-top: 5px">Price: </h5>
                            <input type="text" id="priceLicToApply" class="txtEnr" style="width: 70%" readonly>
                        </div>
                    </div>
                </div><hr>
                <h5><b>REQUIREMENTS:</b></h5>
                <h3>A. Student Driver's Permit / Professional License / Non-Professional License</h3><hr>
                <div class="req reqA">
                    <h5 class="h5Enr">For 17-18 yrs. old</h5>
                    <ol>
                    <li>Original Birth Certificate (NSO)</li>
                    <li>Photocopy of Birth Certificate (NSO)</li>
                    <li>Parental Consent</li>
                    </ol>
                </div>
                <div class="req reqA">
                    <h5 class="h5Enr">For 19 yrs. old &amp; above</h5>
                    <ol>
                        <li>Photocopy of Birth Certificate (NSO)</li>
                        <li>TIN - Tax Identification Number</li>
                        <li>Barangay Clearance</li>
                    </ol>
                </div>
                <div class="req reqA">
                    <h5 class="h5Enr">For Non-Filipino Students/ Tourists</h5>
                    <ol>
                        <li>Original Passport</li>
                        <li>Original ACR - Alien Certificate Registration</li>
                        <li>Photocopy of ACR - Alien Certificate Registration</li>
                    </ol>
                </div><br>
                <h3>B. International License</h3><hr>
                <div class="req reqA">
                    <ol>
                    <li>Any Philippine License (Professional/Non-Professional License)</li>
                    <li>2x2 Picture with White Background</li>
                    </ol>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn100px btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn100px btn btn-success btnLicense" onclick="doneApplyLicense()">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Grade Modal -->
<div class="modal fade" id="addGradeModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addGradeModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD LESSON GRADE</h2>
            <h6>Fill out all required fields.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
                <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Instructor: </h5>
                <select name="instListGrade" class="enrCivStatus1 instListGrade" style="width: 94%; margin-bottom: 10px;">
                  <option value="1">Harry James Potter</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Lesson: </h5>
                <select name="lessonListForGrade" class="lessonListForGrade enrCivStatus1" style="width: 94%; margin-bottom: 10px;">
                  <option value="1">Start &amp; Stop</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Date: </h5>
                <select name="dateLessonList" class="enrCivStatus1 dateLessonList" style="width: 94%; margin-bottom: 10px;">
                  <option value="1">Aug. 18, 2018</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Time: </h5>
                <input type="text" class="timeLesson txtEnr" style="width:94%; margin-bottom: 10px;" disabled>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Grade: </h5>
                <table>
                  <tr>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval1" name="rbLessonEval" value="1">
                      <label class="enrSexLbl" for="rbLessonEval1" style="color:maroon"><b>1</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval2" name="rbLessonEval" value="2">
                      <label class="enrSexLbl" for="rbLessonEval2" style="color: orangered"><b>2</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval3" name="rbLessonEval" value="3">
                      <label class="enrSexLbl" for="rbLessonEval3" style="color: goldenrod"><b>3</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval4" name="rbLessonEval" value="4">
                      <label class="enrSexLbl" for="rbLessonEval4" style="color: royalblue"><b>4</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval5" name="rbLessonEval" value="5">
                      <label class="enrSexLbl" for="rbLessonEval5" style="color: forestgreen"><b>5</b></label></td>
                  </tr>
                </table>
                <h5 style="padding-top: 2px;">Comment: <small>Maximum of 50 characters</small></h5>
                <input type="text" id="commentLesson" class="txtEnr" style="width:94%; margin-bottom: 10px;" maxlength="50">
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveLessonGrade()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Grade Modal -->
<div class="modal fade" id="editGradeModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editGradeModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT LESSON GRADE</h2>
            <h6>Fill out all required fields.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
                <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Instructor: </h5>
                <select name="instListGrade" class="enrCivStatus1 instListGrade" style="width: 94%; margin-bottom: 10px;">
                  <option value="1">Harry James Potter</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Lesson: </h5>
                <select name="lessonListForGrade" class="lessonListForGrade enrCivStatus1" style="width: 94%; margin-bottom: 10px;" disabled>
                  <option value="1">Start &amp; Stop</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Date: </h5>
                <select name="dateLessonList" class="dateLessonList enrCivStatus1" style="width: 94%; margin-bottom: 10px;">
                  <option value="1">Aug. 18, 2018</option>
                </select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Time: </h5>
                <input type="text" class="txtEnr timeLesson" style="width:94%; margin-bottom: 10px;" disabled>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Grade: </h5>
                <table>
                  <tr>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit1" name="rbLessonEval" value="1">
                      <label class="enrSexLbl" for="rbLessonEvalEdit1" style="color:maroon"><b>1</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit2" name="rbLessonEval" value="2">
                      <label class="enrSexLbl" for="rbLessonEvalEdit2" style="color: orangered"><b>2</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit3" name="rbLessonEval" value="3">
                      <label class="enrSexLbl" for="rbLessonEvalEdit3" style="color: goldenrod"><b>3</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit4" name="rbLessonEval" value="4">
                      <label class="enrSexLbl" for="rbLessonEvalEdit4" style="color: royalblue"><b>4</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit5" name="rbLessonEval" value="5">
                      <label class="enrSexLbl" for="rbLessonEvalEdit5" style="color: forestgreen"><b>5</b></label></td>
                  </tr>
                </table>
                <h5 style="padding-top: 2px;">Comment: <small>Maximum of 50 characters</small></h5>
                <input type="text" id="commentLessonEdit" class="txtEnr" style="width:94%; margin-bottom: 10px;" maxlength="50">
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveEditLessonGrade()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Evaluate Student Modal -->
<div class="modal fade" id="evalStudModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="evalStudModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>PERFORMANCE EVALUATION</h2>
            <h6>Grades for every lesson are tallied and computed to analyze the student's performance for the whole course.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <form>
            <center>            
              <h4><b>SUMMARY OF GRADES</b></h4>
              <div class="separator3"></div>
              <table class="table tblRecSched" style="width: 70%">
                <thead>
                  <tr>
                    <th>#</th>
                    <th width="70%">Lesson</th>
                    <th>Numerical Grade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Start &amp; Stop</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Start &amp; Stop</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Start &amp; Stop</td>
                    <td>5</td>
                  </tr>
                </tbody>
              </table><hr>
            </center>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h6>Course: <b><span class="evalCrs">CRS-M0001</span></b></h6>
                <h6>Date Started: <b><span class="evalDateStarted">08-09-2018</span></b></h6>
                <h6>Date Finished: <b><span class="evalDateFinished">08-29-2018</span></b></h6>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h6><b>Evaluation Basis:</b></h6>
                <h6><b>35-50</b> - Passed</h6>
                <h6><b>25-34</b> - Needs Practice</h6>
                <h6><b>0-24&nbsp;&nbsp; </b> - Needs To Extend</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <h6>Overall Grade: <b><span class="overallGrade">50</span>&nbsp;(<span class="overallGrPerc">98%</span>)</b></h6>
                  <h6>Evaluation: <b><span class="evalGrade">PASSED</span></b></h6>
                  <h6>Comment <small>Maximum of 100 characters</small>:</h6>
                  <textarea class="enrTxtArea" id="commentInstEval" maxlength="100" style="font-size: 14px" rows="3"></textarea><br><br>
                
                <div class="form-group">
                    <h6>Evaluated by: 
                    <select name="instListEval" class="enrCivStatus1 instListEval" style="width: 73%; margin-bottom: 10px;">
                        <option value="1">Harry James Potter</option>
                    </select>
                </div>  
                </h6>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn100 btn13 btn-inverse" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn100 btn13 btn-success" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- View Sched Modal -->
<div class="modal fade" id="viewSchedModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="viewSchedModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>VIEW SCHEDULE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <form>
            <center><br>
              <table>
                <thead></thead>
                <tbody>
                  <tr>
                    <td style="text-align: right"><h5>Date:</h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;<span id="schedDate" class="dateToday boldface"></span></h5></td>
                  </tr>
                  <tr>
                    <td style="text-align: right"><h5>Time: </h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;<span id="timeSched" class="timeSchedToday boldface">9: 30 A.M. - 10:30 A.M.</span></h5></td>
                  </tr>
                  <tr>
                    <td style="text-align: right"><h5>Student: </h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;<span id="studSched" class="instSchedToday boldface">Harry James Potter</span></h5></td>
                  </tr>
                  <tr>
                    <td style="text-align: right"><h5>Instructor: </h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;<span id="instSched" class="instSchedToday boldface">Harry James Potter</span></h5></td>
                  </tr>
                  <tr>
                    <td style="text-align: right"><h5>Branch/Venue: </h5></td>
                    <td><h5>&nbsp;&nbsp;&nbsp;<span id="venueSched" class="venueSchedToday boldface" data-id=""></span></h5></td>
                  </tr>
                </tbody>
              </table><br>
            </center>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn100 btn-danger cancelSched">Cancel</button>
        <button type="button" class="btn btn100 btn-primary doneSched">Done</button>
        <button type="button" class="btn btn100 btn-inverse" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Assign Vehicle to Instructor Modal -->
<div class="modal fade" id="assignVehiToInstModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="assignVehiToInstModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ASSIGN VEHICLE TO INSTRUCTOR</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <label><span class="asterisk">*</span>Vehicle:</label><br>
                <input type="text" id="newLic" class="txtEnr" readonly><br><br>
                <label><span class="asterisk">*</span>Instructor:</label><br>
                <select class="enrTxtArea listofInstWNoVehi" name="listofInstWNoVehi">
                  <option>---</option>
                  <option>Harry James Potter</option>
                </select>
                <br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveAssignVehi()">Done</button>
      </div>
    </div>
  </div>
</div>