<!-- View Registration Modal -->
<div class="modal fade" id="viewRegFormModal" tabindex="-1" role="dialog" aria-labelledby="viewRegFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h2>View Registration Form</h2>
            <div>
                <form class="enrRegForm">
                    <hr class="hrCustom"><br>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegFN" id="enrRegFN" placeholder="*First Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegMN" id="enrRegMN" placeholder="Middle Name"><br>
                                <input type="text" class="txtEnr" required name="enrRegSN" id="enrRegSN" placeholder="*Surname"><br>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div>
                                <h5 class="h5Enr">Course<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegCourse" id="enrRegCourse" disabled><br>
                            </div><hr>
                            <div class="divRegSpecCourse"> 
                                <!-- Mahahide dapat to pag di special yung course -->
                                <h5 class="h5Enr">Pickup Place<span class="asterisk">*</span></h5>
                                <input type="text" class="txtEnr" required name="enrRegPickup" id="enrRegPickup"><br>
                            </div><hr>
                        </div>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                        <input type="date" class="txtEnr" required name="enrRegBday" id="enrRegBday" placeholder="mm/dd/yyyy"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Birth Place<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegBplace" id="enrRegBplace" placeholder="*Birthplace"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Sex<span class="asterisk">*</span></h5>
                        <input type="radio" class="enrSexRD" id="enrRegSex1" name="enrRegSex" value="Male" checked>
                            <label class="enrSexLbl" for="enrRegSex1">Male</label><br>
                        <input type="radio" class="enrSexRD" id="enrRegSex2" name="enrRegSex" value="Female">
                            <label class="enrSexLbl" for="enrRegSex2">Female</label>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                        <textarea rows="3" class="enrTxtArea" id="enrRegAddress" placeholder="*Address"></textarea>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Civil Status<span class="asterisk">*</span></h5>
                        <select class="enrCivStatus" name="enrRegCivStatus">
                            <option value="civ0">---</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Separated">Separated</option>
                            <option value="Widowed">Widowed</option>
                        </select>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Occupation</h5>
                        <input type="text" class="txtEnr" required name="enrRegOcc" id="enrRegOcc" placeholder="Occupation"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                        <input type="number" class="txtEnr" required name="enrRegCont" id="enrRegCont" placeholder="*Contact Number"><br>
                        <input type="email" class="txtEnr" required name="enrRegEmail" id="enrRegEmail" placeholder="Email Address"><br>
                    </div><hr>
                    <div>
                        <h5 class="h5Enr">Guardian Information<span class="asterisk">*</span></h5>
                        <input type="text" class="txtEnr" required name="enrRegGuard" id="enrRegGuard" placeholder="*Parent/Guardian Name"><br>
                        <input type="number" class="txtEnr" required name="enrRegGuardCont" id="enrRegGuardCont" placeholder="*Contact Number"><br>
                    </div><hr>
                </form>
            <hr></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancAddInst" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" id="btnNextAddInst" onclick="saveEnrReg()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment Enrollment Modal -->
<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Course</th>
                                <th>Assessment</th>
                            </tr>
                        </thead>
                        <tbody class="paymentModal">
                            <tr>
                                <td>Tuition Fee</td>
                                <td>CRS-M001</td>
                                <td>5,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Assessment: &#8369;<span class="totAssess">5,000.00</span></h4>
                    <h4 style="text-align: right; float: left; margin-right: 10px;">Payment:</h4>
                    <input type="number" id="paymentEnroll">
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="appRegForm()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment Modal -->
<div class="modal fade" id="addPaymentModal1" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal1">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Assessment</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tuition Fee</td>
                                <td>5,000.00</td>
                                <td>2,500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Balance: &#8369;<span class="totAmount">2,500.00</span></h4>
                    <h4 style="text-align: right; float: left; margin-right: 10px;">Payment:</h4>
                    <input type="number" id="paymentBalEnroll">
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="addPaymentBal()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Payment License Modal -->
<div class="modal fade" id="addPaymentModal2" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addPaymentModal2">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD PAYMENT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h5>Name: <span class="addPayName">Graciella C. Tatel</span></h5>
                <h5>Date of Payment: <span class="addPayDate">June 23, 2018</span></h5><br>
                <div class="table-responsive">
                    <table class="table tblAddPayment tblCustom">
                        <thead>
                            <tr>
                                <th>Type of Fee</th>
                                <th>Type of License</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Licensing Assistance Fee</td>
                                <td>Student Driver's Permit</td>
                                <td>500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>
                <div class="pull-right">
                    <h4 style="text-align: right;">Total Amount: &#8369;<span class="totAmount">500.00</span></h4>
                </div><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addPaymentLic()">Paid</button>
      </div>
    </div>
  </div>
</div>

<!-- Add License Modal -->
<div class="modal fade" id="addLicenseModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addLicenseModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD LICENSE/PERMIT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <label><span class="asterisk">*</span>License/Permit:</label><br>
                <input type="text" id="newLic" class="txtEnr"><br><br>
                <label><span class="asterisk">*</span>Price:</label><br>
                <input type="number" id="newLicPrice" class="txtEnr spinnerTxt"><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addNewLic()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit License Modal -->
<div class="modal fade" id="editLicenseModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editLicenseModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT LICENSE/PERMIT</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <label><span class="asterisk">*</span>License/Permit:</label><br>
                <input type="text" id="editLic" class="txtEnr"><br><br>
                <label><span class="asterisk">*</span>Price:</label><br>
                <input type="number" id="editLicPrice" class="txtEnr spinnerTxt"><br>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveEditLic()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add DTP Modal -->
<div class="modal fade" id="addDTPmodal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addDTPmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD NEW PROGRAM</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h3>Program #<span id="newProgNum">3</span></h3>
                <label><span class="asterisk">*</span>Price per Head:</label><br>
                <input type="number" id="newDtpPrice" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Program Duration (Hours):</label><br>
                <input type="number" id="newDtpDur" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Description:</label><br>
                <textarea rows="3" id="newDtpDesc" class="enrTxtArea"></textarea><br>
                <small>*Input here all lessons and other inclusions, separated by a semicolon (;)<br>
                 (ex: Defensive Driving; Traffic Rules &amp; Regulations)</small>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="addNewProgram()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit DTP Modal -->
<div class="modal fade" id="editDTPmodal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editDTPmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT PROGRAM</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form class="formAddPay">
                <h3>Program #<span id="newProgNum">3</span></h3>
                <label><span class="asterisk">*</span>Price per Head:</label><br>
                <input type="number" id="newDtpPrice" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Program Duration (Hours):</label><br>
                <input type="number" id="newDtpDur" class="txtEnr spinnerTxt"><br><br>
                <label><span class="asterisk">*</span>Description:</label><br>
                <textarea rows="3" id="newDtpDesc" class="enrTxtArea"></textarea><br>
                <small>*Input here all lessons and other inclusions, separated by a semicolon (;)<br>
                 (ex: Defensive Driving; Traffic Rules &amp; Regulations)</small>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="editProgram()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Profile Picture Modal -->
<div class="modal fade" id="uploadProfileModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="uploadProfileModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>UPDATE PROFILE PICTURE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form action="/file-upload" class="dropzone" id="profileDrop">
                <div class="fallback">
                    <input type="file" name="profileImg">
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="editProgram()">Save</button>
      </div>
    </div>
  </div>
</div>