<!-- New Instructor Modal -->
<div class="modal fade" id="new-instructor" tabindex="-1" role="dialog" aria-labelledby="new-instructor">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0px">
        <div class="row" style="padding: 5px">
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
            <div class="x_content">
                <div style="border-bottom: solid #034777; border-width:68px; padding-bottom: 5px">
                <div class="modaltitle">
                    <h3 class="h3modaltitle">
                    <strong>EDIT</strong>
                    <br>Therapist Details</h3>
                </div>
                <div class="pull-left">
                    <img class="img-responsive" width="80" height="40" src="../assets/images/icon-main.png" alt="Lotus-image" style="padding-left: 5px;">
                </div>
                </div>
                <br />
                <br />
                <form id="demo-form4" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fnTherapEdit">First Name
                    <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" id="fnTherapEdit" required class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lnTherapEdit">Last Name
                    <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" id="lnTherapEdit" required class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender *</label>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 30px">
                    <div class="radio">
                        <input id="gender1TEdit" name="genderT" type="radio" checked>
                        <label for="gender1TEdit" class="radio-label">Male</label>
                    </div>
                    <div class="radio">
                        <input id="gender2TEdit" name="genderT" type="radio">
                        <label for="gender2TEdit" class="radio-label">Female</label>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="addressTEdit">Address
                    <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="text" id="addressTEdit" name="addressTEdit" required class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contnumTEdit">Contact Number
                    <span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="number" id="contnumTEdit" name="contnumTEdit" required class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        <div class="modal-footer">
        <center>
            <button type="button" id="btnSaveEditT" class="buttonFinish btn" style="width: 80px; margin-right: 5px" onclick="editTherapist()">Save</button>
            <button type="button" id="btnCancelEditT" class="buttonPrevious btn" style="width: 80px;" data-dismiss="modal">Cancel</button>
        </center>
        </div>
    </div>
    </div>
</div>