<!-- Upload Profile Picture Modal -->
<div class="modal fade" id="openDropzoneInst" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="openDropzoneInst">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>UPDATE PROFILE PICTURE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form action="/file-upload" class="dropzone" id="profileDrop">
                <div class="fallback">
                    <input type="file" name="profileImg">
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveProfPicStud()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Grade Modal -->
<div class="modal fade" id="addGradeModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="addGradeModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>ADD LESSON GRADE</h2>
            <h6>Fill out all required fields.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
                <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Lesson: </h5>
                <select name='lessonListForGrade' id="lessonListForGrade" class='lessonListForGrade enrCivStatus1' style='width: 94%; margin-bottom: 10px;'></select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Date: </h5>
                <select name='dateLessonList' id="dateLessonList" class='dateLessonList enrCivStatus1' style='width: 94%; margin-bottom: 10px;'></select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Time: </h5>
                <input type="text" class="timeLesson txtEnr" style="width:94%; margin-bottom: 10px;" disabled>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Grade <small>(1 - lowest; 5 - highest)</small>: </h5>
                <table>
                  <tr>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval1" name="rbLessonEval" value="1">
                      <label class="enrSexLbl" for="rbLessonEval1" style="color:maroon"><b>1</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval2" name="rbLessonEval" value="2">
                      <label class="enrSexLbl" for="rbLessonEval2" style="color: orangered"><b>2</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval3" name="rbLessonEval" value="3">
                      <label class="enrSexLbl" for="rbLessonEval3" style="color: goldenrod"><b>3</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval4" name="rbLessonEval" value="4">
                      <label class="enrSexLbl" for="rbLessonEval4" style="color: royalblue"><b>4</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEval5" name="rbLessonEval" value="5">
                      <label class="enrSexLbl" for="rbLessonEval5" style="color: forestgreen"><b>5</b></label></td>
                  </tr>
                </table>
                <h5 style="padding-top: 2px;">Comment: <small>Maximum of 50 characters</small></h5>
                <input type="text" id="commentLesson" class="txtEnr" style="width:94%; margin-bottom: 10px;" maxlength="50">
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveLessonGrade()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Grade Modal -->
<div class="modal fade" id="editGradeModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="editGradeModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>EDIT LESSON GRADE</h2>
            <h6>Fill out all required fields.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
                <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Lesson: </h5>
                <input type="text" class="txtEnr editLessonListForGrade" style="width:94%; margin-bottom: 10px;" disabled>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Date: </h5>
                <select name="dateLessonListEdit" id="dateLessonListEdit" class="dateLessonListEdit enrCivStatus1" style="width: 94%; margin-bottom: 10px;"></select>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Time: </h5>
                <input type="text" class="txtEnr timeLesson1" style="width:94%; margin-bottom: 10px;" disabled>
                <h5 style="padding-top: 2px;"><span class="asterisk">*</span>Grade: </h5>
                <table>
                  <tr>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit1" name="rbLessonEvalEdit" value="1">
                      <label class="enrSexLbl" for="rbLessonEvalEdit1" style="color:maroon"><b>1</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit2" name="rbLessonEvalEdit" value="2">
                      <label class="enrSexLbl" for="rbLessonEvalEdit2" style="color: orangered"><b>2</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit3" name="rbLessonEvalEdit" value="3">
                      <label class="enrSexLbl" for="rbLessonEvalEdit3" style="color: goldenrod"><b>3</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit4" name="rbLessonEvalEdit" value="4">
                      <label class="enrSexLbl" for="rbLessonEvalEdit4" style="color: royalblue"><b>4</b></label></td>
                    <td><input type="radio" class="enrSexRD" id="rbLessonEvalEdit5" name="rbLessonEvalEdit" value="5">
                      <label class="enrSexLbl" for="rbLessonEvalEdit5" style="color: forestgreen"><b>5</b></label></td>
                  </tr>
                </table>
                <h5 style="padding-top: 2px;">Comment: <small>Maximum of 50 characters</small></h5>
                <input type="text" id="commentLessonEdit" class="txtEnr" style="width:94%; margin-bottom: 10px;" maxlength="50">
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success btnLicense" onclick="saveEditLessonGrade()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Evaluate Student Modal -->
<div class="modal fade" id="evalStudModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="evalStudModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>PERFORMANCE EVALUATION</h2>
            <h6>Grades for every lesson are tallied and computed to analyze the student's performance for the whole course.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <form>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h6>Course: <b><span class="evalCrs">CRS-M0001</span></b></h6>
                <h6>Overall Grade: <b><span class="overallGrade">50</span>&nbsp;(<span class="overallGrPerc">98%</span>)</b></h6>
                  <h6>Evaluation: <b><span class="evalGrade"></span></b></h6><br><br>
                  <h6>Comment <small>Maximum of 100 characters</small>:</h6>
                  <textarea class="enrTxtArea" id="commentInstEval" maxlength="100" style="font-size: 14px" rows="3"></textarea><br><br>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h6><b>Evaluation Basis:</b></h6>
                <h6><b>35-50</b> - Passed</h6>
                <h6><b>25-34</b> - Needs Practice</h6>
                <h6><b>0-24&nbsp;&nbsp; </b> - Needs To Extend</h6><br>
                <h6><b>Lessons:</b></h6>
                <h6 class="lessh6">Start &amp; Stop &bull; Driving &bull; Parking</h6>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn100 btn13 btn-inverse" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="doneEvalStud()" class="btn btn100 btn13 btn-success">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- View Student Evaluation Modal -->
<div class="modal fade" id="viewEvalStudModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="viewEvalStudModal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>PERFORMANCE EVALUATION</h2>
            <h6>Grades for every lesson are tallied and computed to analyze the student's performance for the whole course.</h6>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <form>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h6>Course: <b><span class='evalCrs'></span></b></h6>
                <h6>Overall Grade: <b><span class='overallGrade'></span>&nbsp;(<span class='overallGrPerc'></span>)</b></h6>
                <h6>Evaluation: <b><span class='evalGrade'></span></b></h6><br><br>
                <h6>Comment:</h6><textarea class='enrTxtArea commentInstEval1' readonly style='font-size: 14px' rows='3'></textarea><br><br>
                <h6>Evaluated by: <b><span class='instEvaluator'></span></b></h6>
                <h6>Date Evaluated: <b><span class='evalDate'></span></b></h6>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h6><b>Evaluation Basis:</b></h6>
                <h6><b>35-50</b> - Passed</h6>
                <h6><b>25-34</b> - Needs Practice</h6>
                <h6><b>0-24&nbsp;&nbsp; </b> - Needs To Extend</h6><br>
                <h6><b>Lessons:</b></h6>
                <h6 class="lessh6">Start &amp; Stop &bull; Driving &bull; Parking</h6>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn100 btn13 btn-inverse" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Schedule Modal -->
<div class="modal fade" id="cancelSchedModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="cancelSchedModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h6>Socialites Excellent Driving</h6>
            <h2>CANCEL SCHEDULE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
            <form>
              <h5>Student Name: <span class="studNameAGM">Harry James Potter</span></h5><hr>
              <h5 style="padding-top: 2px;">Reason: <br><small>Maximum of 150 characters</small></h5>
              <textarea class="enrTxtArea" id="reasonCancel" maxlength="150" style="font-size: 14px" rows="3"></textarea><br><br><h5>OR</h5><br>
              <input type="checkbox" name="absentStudCB" style="float: left;"> <h6 style="color:black; margin-left: 15px"> STUDENT IS ABSENT</h6>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn100px btn btn-light btnLicense" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn100px btn btn-success btnLicense" onclick="confirmCancel()">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- View Sched Modal -->
<div class="modal fade" id="viewSchedModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="viewSchedModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2>VIEW SCHEDULE</h2>
        </center>
        <hr class="hrCustom">
        <div class="stot">
          <form>
            <center><br>
              <table>
                <tr>
                  <td style="text-align: right"><h5>Date:</h5></td>
                  <td><h5>&nbsp;&nbsp;&nbsp;<span id="schedDate" class="dateToday boldface"></span></h5></td>
                </tr>
                <tr>
                  <td style="text-align: right"><h5>Time: </h5></td>
                  <td><h5>&nbsp;&nbsp;&nbsp;<span id="timeSched" class="timeSchedToday boldface">9: 30 A.M. - 10:30 A.M.</span></h5></td>
                </tr>
                <tr>
                  <td style="text-align: right"><h5>Student: </h5></td>
                  <td><h5>&nbsp;&nbsp;&nbsp;<span id="instSched" class="instSchedToday boldface">Harry James Potter</span></h5></td>
                </tr>
                <tr>
                  <td style="text-align: right"><h5>Branch/Venue: </h5></td>
                  <td><h5>&nbsp;&nbsp;&nbsp;<span id="venueSched" class="venueSchedToday boldface" data-id=""></span></h5></td>
                </tr>
              </table><br>
            </center>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn100 btn-inverse" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>