<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="padding: 50px;">
        <h1 style="text-align: center">Good day, Graciella C. Tatel!</h1><hr width="30%"><br>
        <h4>You have chosen the <b>Pay on Bank</b> method wherein you can make payments directly into our bank account and just send us a photograph or scanned copy of your payment slip as a proof of payment.<br><br>
        <b>WHAT TO DO?</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.) If you are a first-time enrollee and does not have a student account yet, you may send your proof of payment at the BANK PAYMENT link located on the website's footer. See picture below.<br></h4>
        <center><img style="max-width: 80%" src="../../../public/images/attach1.PNG"></center><br>
        <h4 style="text-align: center">By clicking the BANK PAYMENT link, the image below will be shown:<br></h4>
        <center><img style="max-width: 80%" src="../../../public/images/attach2.PNG"></center><br>
        <h4 style="text-align: center">You will be required to enter the email address you registered on your enrollment form and the code below. This code will serve as your proof that you own the email adress.<br></h4>
        <center><div style="padding: 5px; border: solid 2px #5d0000; width: 30%">
        <h4>Code:
        <input type='text' style='width: 200px; text-align: center' readonly value='" + password + "'></h4>
        </div><br></center>
        <h4>Afterwards, please upload a photograph or scanned copy of your payment slip. Once done, click SEND.</h4><br>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        b.) If you already have a student account, you may send your proof of payment by logging in your student account first. Click on the PAYMENT tab, and from there, click "Upload Payment Slip" button. Do the remaining steps stated above.<br><br></h4>
        <b>Please note that we will be only waiting for your proof of payment exactly one (1) week from today. Failure to do so will automatically reject/remove your enrollment form.</b><br><br>
        
        <center><br><div style="padding: 15px; border: solid 2px #5d0000; width: 30%">
        <h4>Here is our bank account information:</h4>
        <h4><b>Account Name: Socialites Excellent Driving<br>Account Number: 0681-1110-17</b></h4>
        </div><br></center>
        
        <h4>Thank you and we are looking forward to having driving session memories with you!<br><br>Sincerely yours,<br>Socialites Excellent Driving</h4>
    </body>
</html>