<section class="footer">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <div class="">
                                <h3 style="color: #EAB701;">The "SOCIALITES" Way.</h3><hr>
                                <h5>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda consequatur suscipit distinctio, officia perferendis praesentium neque quis cumque. 
                                    A quae ipsam praesentium, velit laboriosam architecto culpa repellendus repellat odit doloremque.
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-3" style="padding-top: 70px;">
                            <div class="">
                                <div>
                                    <i class="icon icon-pin139 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> SOCIALITES EXCELLENT DRIVING, MAIN OFFICE: <br>
                                    Mayon Street Corner, Maria Clara, Quezon City</h6>
                                </div>
                                <div>
                                    <i class="icon icon-telephone197 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> 741-7185 / 448-5137</h6>
                                </div>
                                <div>
                                    <i class="icon icon-mail113 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> socialitesmain@gmail.com</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-2" style="padding-top: 70px;">
                            <div>
                                <ul>
                                    <li class="liFooter"><a href="#home" onclick="homeClick()">Home</a></li>
                                    <li class="liFooter"><a href="#pricing">Courses</a></li>
                                    <li class="liFooter"><a href="#service" onclick="servicesClick()">Services</a></li>
                                    <li class="liFooter"><a href="">Tips &amp; Tutorials</a></li>
                                    <li class="liFooter"><a href="">Branches</a></li>
                                    <li class="liFooter"><a href="#blog">Blog</a></li>
                                    <li class="liFooter"><a href="#history">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-3" style="padding-top: 30px;">
                            <div>
                                <h4 style="color: #EAB701;">NEWS AND UPDATES</h4>
                                <h6>
                                    Sign up and get the updates of the latest events, products and discounts.
                                </h6>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>
                                <center>
                                    <input type="submit" value="SIGN UP" class="btn btnCstm">
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <div class="flowus">
                                <a href="www.facebook.com/SocialitesExcellentDriving/"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>

                        <div class="col-sm-8 col-xs-8">
                            <div class="copyright_text">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> 
                                    for <span class="txt-red"> Socialites Excellent Driving </span> by <a href="">MikMik Team</a> 2018. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of footer Section-->