<section class="footer">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                            <div class="">
                                <br><h3 style="color: #EAB701;">The "SOCIALITES" Way.</h3><hr>
                                <h5>
                                    Founded in 1969. Socialites Excellent Driving is among the pioneers in the driving school business 
                                        teaching prospective drivers the basic concepts of driving.
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="padding-top: 70px;">
                            <div class="">
                                <div>
                                    <i class="icon icon-pin139 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> SOCIALITES EXCELLENT DRIVING, MAIN OFFICE: <br>
                                    Mayon Street Corner, Maria Clara, Quezon City</h6>
                                </div>
                                <div>
                                    <i class="icon icon-telephone197 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> 741-7185 / 448-5137</h6>
                                </div>
                                <div>
                                    <i class="icon icon-mail113 iconFooter pull-left"></i>
                                    <h6 class="footerh6"> socialitesmain@gmail.com</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12" style="padding-top: 80px;">
                            <div>
                                <ul>
                                    <li class="liFooter"><a href="#home" onclick="homeClick()">Home</a></li>
                                    <li class="liFooter"><a href="#courses" onclick="coursesClick(1)">Courses</a></li>
                                    <li class="liFooter"><a href="#service" onclick="servicesClick(1)">Services</a></li>
                                    <li class="liFooter"><a href="#announcements" onclick="announceClick()">Announcements</a></li>
                                    <li class="liFooter"><a href="#tips" onclick="tipsClick()">Tips &amp; Tutorials</a></li>
                                    <li class="liFooter"><a href="#branches" onclick="branchesClick()">Branches</a></li>
                                    <li class="liFooter"><a href="#gallery" onclick="galleryClick()">Gallery</a></li>
                                    <li class="liFooter"><a href="#aboutus" onclick="aboutusClick()">About Us</a></li>
                                    <li class="liFooter"><a href="#faq" onclick="faqClick()">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="padding-top: 30px;">
                            <div>
                                <br><br><h4 style="color: #EAB701;">NEWS AND UPDATES</h4>
                                <h6>
                                    Sign up and get the updates of the latest events, products and discounts.
                                </h6>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" id="emailNL" required>
                                </div>
                                <center>
                                    <input type="submit" value="SIGN UP" id="signupNL" class="btn btnCstm">
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="main_footer">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                            <div class="flowus">
                                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/SocialitesExcellentDriving/"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                            <div class="copyright_text">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> 
                                    for <span class="txt-red"> Socialites Excellent Driving </span> by <a href="">MikMik Team</a> 2018. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End of footer Section-->