<header id="main_menu" class="header navbar-fixed-top">            
    <div class="main_menu_bg">
        <div class="container">
            <div class="row">
                <div class="nave_menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#home" style="padding-top: 0px;">
                                    <img src="../../../assets/images/main/logo.png"/>
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#home" onclick="homeClick()">HOME</a></li>
                                    <li><a href="#courses" onclick="coursesClick(1)">COURSES</a></li>
                                    <li><a href="#service" onclick="servicesClick(1)">SERVICES</a></li>
                                    <li><a href="#announcements" onclick="announceClick()">ANNOUNCEMENTS</a></li>
                                    <li><a href="#tips" onclick="tipsClick()">TIPS &amp; TUTORIALS</a></li>
                                    <li><a href="#branches" onclick="branchesClick()">BRANCHES</a></li>
                                    <li><a href="#gallery" onclick="galleryClick()">GALLERY</a></li>
                                    <li><a href="#aboutus" onclick="aboutusClick()">ABOUT US</a></li>
                                    <!-- <li><a href="#" onclick="enrollClick()">ENROLL NOW</a></li> -->
                                    <li><a href="#cart" onclick="cartClick()">ENROLL</a></li>
                                    <li><a href="#login" onclick="loginClick()">LOG IN</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>	
            </div>
        </div>
    </div>
</header> <!--End of header -->
