<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Student | Socialites Excellent Driving</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icon.png">
        <!-- CSS imports -->
        <% include ../utils/studentCSS %>
    </head>

    <body class="fix-header fix-sidebar" data-studID='<%=studID%>'>
        <!-- Preloader - style you can find in spinners.css -->
        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
            </svg>
        </div>
        <%
            var asd;
            var pad = "000";
            courses.forEach((ei)=>{
                if(ei.enrollStatus == 1){
                    asd = ei;
                }
            });
            var currBranch;
            branch.forEach((e,i)=>{
            if(e.id == asd.branch){
                currBranch = e;
            }
            });
            var selectVehiA = [];
            var selectVehiB = [];
            car.forEach((e,i)=>{
                if(e.transmission == "A"){
                    selectVehiA.push(e);
                }else{
                    selectVehiB.push(e);
                }
            });
        %>
        <!-- WRAPPER -->
        <div id="wrapper">
            <% include ./partials/header %> <!-- HEADER CODES -->
            <% include ./partials/sidebar %> <!-- SIDEBAR CODES -->
            <% include ./modals %> 

            <!-- MAIN -->
            <div class="page-wrapper">
                <% include ./main-partials/studSchedule %>
                <% include ./main-partials/studCourseLessons %>
                <% include ./main-partials/studInstructors %>
                <% include ./main-partials/studPayment %>
                <% include ./main-partials/studAccount %>
                <% include ./main-partials/studLicAssist %>
                <% include ./main-partials/studTransBranch %>
                <% include ./main-partials/studCertificate %>

                <% include ./minor-partials/studSelectSchedule %>
                <% include ./minor-partials/recSched %>
            </div>
            <!-- END MAIN -->
            <% include ../admin/partials/footer %> 
            <!-- FOOTER CODES -->

            <!-- JS imports -->
            <% include ../utils/studentJS %>
        </div>
    </body>
</html>