<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <center>
            <div>
                <h1>SOCIALITES EXCELLENT DRIVING</h1>
                <h5>Mayon Street Corner, Maria Clara, Quezon City<br>
                    Andre Salangsang - Prop. * VAT Reg. TIN: 111-222-333-444<br>
                    Tels.: 741-7185/745-2962
                </h5><hr>
            </div>
            <table width="90%">
                <thead>
                    <tr>
                        <th width="50%"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3 style="letter-spacing: 5px; text-align: left">INVOICE<br></small></h3>
                        </td>
                        <td>
                            <h4>Invoice No. <span style="color: #5d0000; text-align: right">1787</span><br>Date: <span>August 7, 2018</span></h4>
                        </td>
                    </tr>
                </tbody>
            </table><br>
            <h3>TO: <span style="font-weight: bolder">Kenard Smith Belarmino Bautista</span><hr width="50%">
            <table width="90%">
                <thead>
                    <tr>
                        <th>O.R. Date</th>
                        <th>Description</th>
                        <th>Assessment</th>
                        <th>Payment</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody style="font-size: 13px">
                    
                </tbody>
            </table><br><br><hr>
            <table class="pull-right" width="40%">
                <thead></thead>
                <tbody style="font-size: 13px">
                    <tr>
                        <td>SUBTOTAL</td>
                        <td>2,500.00</td>
                    </tr>
                    <tr>
                        <td>TAX RATE</td>
                        <td>0.0000%</td>
                    </tr>
                    <tr>
                        <td>TAX</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>OTHER</td>
                        <td>-</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                    <tr>
                        <td>TOTAL</td>
                    </tr>
                </tbody>
            </table><hr><br><br>
            <input type="text" style="border-color: 0px 0px 1px 0px solid black; text-align: center; font-size: 13px" value="Graciella C. Tatel">
            <h6>Registrar/Authorized Representative</h6>
            <h6>This official receipt shall be valid for five (5) years from the date of ATP</h6>
        </center>
    </body>
</html>