<div class="view-addGradesInst viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <span class="fa fa-chevron-left float-left back backStudInst"></span>
            <h3 class="text-primary">Student Grades &amp; Evaluation</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="instStudent()">Students</a></li>
                <li class="breadcrumb-item active"><a>Student Grades &amp; Evaluation</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="card">
                <h3>STUDENT TRAINING CARD</h3><div class="separator5" style="width: 100%"></div>
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left">
                            <h5 class="studNameSTC">TATEL, GRACIELLA CUSTODIO</h5>
                        </td>
                        <td style="text-align: right">
                            <h5 class="studCrsSTC">CRS-M0001</h5>
                        </td>
                    </tr>
                    <tr>
                        <td><h5 class="studNumSTC">STUD-QC-0001</h5></td>
                    </tr>
                </table><br>
                <table class="table tblCustom" id="lessonForGradeTbl">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Lesson</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Instructor</th>
                            <th>Grade</th>
                            <th width="20%">Comment</th>
                        </tr>
                    </thead>
                    <tbody id="studGradesInst">
                        <tr></tr>
                    </tbody>
                </table><br><br>
                <h6 style="text-align: right">You can only evaluate this student upon the completion all ten (10) lessons.</h6>
                <div class="pull-right">
                    <button type="button" onclick="evaluateModal()" class="btnEvalI pull-right btn100px btn13 btn btn-success m-b-10 m-l-5">Evaluate</button>
                    <button type="button" onclick="addGradeModal()" class="btnAddI pull-right btn100px btn13 btn btn-success m-b-10 m-l-5">Add Grade</button>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>