<div class="view-tomSched viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <span class="fa fa-chevron-left float-left back" onclick="instSchedule()"></span>
            <h3 class="text-primary">Tomorrow's Schedule</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Schedule</a></li>
                <li class="breadcrumb-item active"><a onclick="instSchedule()">Tomorrow's Schedule</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="card">
                <table class="table tblCustom2">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Name</th>
                        <!-- <th>Course</th> -->
                        <th>Time</th>
                        <!-- <th>Balance Hours</th> -->
                        <!-- <th>Lesson No.</th> -->
                        <th>Branch/Pickup Place</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="tomSched">
                    <tr>
                        <td>1</td>
                        <td>Graciella C. Tatel</td>
                        <td>CRS-M001</td>
                        <td>9:30 A.M. - 10:30 A.M.</td>
                        <td>4</td>
                        <td>1</td>
                        <td>SED-Quezon City (Main)</td>
                        <td>
                            <button type="button" style="vertical-align: sub" class="btn btn-inverse btnLicense" onclick="cancelSched()">Cancel</button><br>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Christian Paul R. Tupas</td>
                        <td>CRS-M001</td>
                        <td>9:30 A.M. - 10:30 A.M.</td>
                        <td>4</td>
                        <td>1</td>
                        <td>SED-Quezon City (Main)</td>
                        <td>
                            <button type="button" style="vertical-align: sub" class="btn btn-inverse btnLicense" onclick="cancelSched()">Cancel</button><br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>