<div class="view-branchLicense viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Licensing Assistance</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Licensing Assistance</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-flat">
                            <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                            <input type="text" class="form-control" placeholder="Search..." style="font-size: 12px;">
                            <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" type="button" onclick="clrSearchStudentC()"><i class="ti-close"></i></button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="pull-right">
                        <button type="button" style="width: 150px" onclick="licApply()" class="btn btn-success m-b-10 m-l-5">Apply</button>
                    </div>
                </div>
            </div>
            <div class="row instructorCard">
                <!-- Start of col-lg-3 -->
                <div class="col-lg-3">
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="icon icon-pencil157 tiSide f-s-40 color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>4</h2>
                                <p class="m-b-0">Requests</p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="icon icon-hourglass tiSide f-s-40 color-warning"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>3</h2>
                                <p class="m-b-0">In Process</p>
                            </div>
                        </div>
                    </div>
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="icon icon-tool-7 tiSide f-s-40 color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <h2>4</h2>
                                <p class="m-b-0">Done <br><span>(Not yet claimed)</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-9">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#license1" role="tab">Requests</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#license2" role="tab">In Process</a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#license3" role="tab">Done</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="license1" role="tabpanel">
                                <div class="card-body"> 
                                    <div class="studTab">
                                        <table class="table tblLicense1 tblCustom">
                                            <thead>
                                                <tr>
                                                    <th>Date Requested</th>
                                                    <th>Name</th>
                                                    <th>License Type</th>
                                                    <th>Amount</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Zac Efron</td>
                                                    <td>Student Driver's Permit</td>
                                                    <td>500.00</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveInProcess()">Process</button>
                                                        <button type="button" class="btn btn-danger btnLicense" onclick="rejectLicReq()">Reject</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Vanessa Hudgens</td>
                                                    <td>Professional License</td>
                                                    <td>2,700.00</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success  btnLicense" onclick="moveInProcess()">Process</button>
                                                        <button type="button" class="btn btn-danger btnLicense" onclick="rejectLicReq()">Reject</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Drew Seeley</td>
                                                    <td>Student Driver's Permit</td>
                                                    <td>500.00</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveInProcess()">Process</button>
                                                        <button type="button" class="btn btn-danger btnLicense" onclick="rejectLicReq()">Reject</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Alyson Reed</td>
                                                    <td>Non-Professional License</td>
                                                    <td>2,500.00</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveInProcess()">Process</button>
                                                        <button type="button" class="btn btn-danger btnLicense" onclick="rejectLicReq()">Reject</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--second tab-->
                            <div class="tab-pane" id="license2" role="tabpanel">
                                <div class="card-body">
                                    <div class="studTab">
                                        <table class="table tblLicense2 tblCustom">
                                            <thead>
                                                <tr>
                                                    <th>Date Processed</th>
                                                    <th>Name</th>
                                                    <th>License Type</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>06-23-2018</td>
                                                    <td>Ashley Tisdale</td>
                                                    <td>International License</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveDone()">Done</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-23-2018</td>
                                                    <td>Lucas Grabeel</td>
                                                    <td>Professional License</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveDone()">Done</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-23-2018</td>
                                                    <td>Bart Johnson</td>
                                                    <td>Student Driver's Permit</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="moveDone()">Done</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                             <!--third tab-->
                            <div class="tab-pane" id="license3" role="tabpanel">
                                <div class="card-body">
                                    <div class="studTab">
                                        <table class="table tblLicense3 tblCustom">
                                            <thead>
                                                <tr>
                                                    <th>Date Accomplished</th>
                                                    <th>Name</th>
                                                    <th>License Type</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Monique Coleman</td>
                                                    <td>Professional License</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="checkDone()">Claimed</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-21-2018</td>
                                                    <td>Corbin Bleu</td>
                                                    <td>Non-Professional License</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="checkDone()">Claimed</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-22-2018</td>
                                                    <td>Olesya Rulin</td>
                                                    <td>Student Driver's Permit</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="checkDone()">Claimed</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>06-22-2018</td>
                                                    <td>Kaycee Stroh</td>
                                                    <td>Student Driver's Permit</td>
                                                    <td>
                                                        <button type="button" class="btn btn-success btnLicense" onclick="checkDone()">Claimed</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>