<div class="view-branchDashboard viewDiv" id="dashb">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3> </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-business-5 tiSide f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">Total Enrollees<br><span>(SED-Main, 2018)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-woman243 tiSide f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">Current Students<br><span>(SED-Main)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="ti-calendar tiSide f-s-40 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>0</h2>
                            <p class="m-b-0">No. of Schedules<br><span>(Today)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="icon icon-money2 f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>Php 0.00</h2>
                            <p class="m-b-0">Gross Revenues <br><span>(June)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Page Content -->
    </div>
    <!-- End Container fluid  -->
</div>