<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-divider"></li><br>
                <li> <a class="has-arrow selected" href="#" aria-expanded="false" style="background-color: #8C0000; color: white">
                    <i class="fa fa-home faSide"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="has-arrow" href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
                    <i class="fa fa-group" style="color: #F7D007"></i><span class="hide-menu">Students</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="email-compose.html">Enrollment</a></li>
                        <li><a href="email-read.html">Read</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
                    <i class="fa fa-user"></i><span class="hide-menu">Instructors</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="chart-flot.html">Flot</a></li>
                        <li><a href="chart-morris.html">Morris</a></li>
                        <li><a href="chart-chartjs.html">ChartJs</a></li>
                    </ul>
                </li>
                <li> <a href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
                    <i class="fa fa-car"></i><span class="hide-menu">Vehicle</span></a>
                </li>
                <li> <a href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
                    <i class="fa fa-calendar"></i><span class="hide-menu">Schedule</span></a>
                </li>
                <li> <a href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
                    <i class="fa fa-globe"></i><span class="hide-menu">Branches</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>