<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <div class="profSidebar"><hr>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <img src="assets/images/user4.png" href="#" alt="Socialites Excellent Driving" class="dark-logo img-circle sidePic"/>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                            <span style="color: #BABABA">Welcome,</span>
                            <p id="adminName">Graciella Tatel<span>!</span></p>
                        </div>
                    </div><hr>
                </div>
                <li class="nav-divider"></li>
                <li class="nav-label">General</li>
                <li class="active" id="li1"> <a class="sidebarMenu" id="dashboard">
                    <i class="ti-home tiSide"></i><span class="hide-menu sidebarMenu">Dashboard</span></a>
                </li>
                <li id="li2"> <a class="sidebarMenu" id="students">
                    <i class="ti-heart tiSide"></i><span class="hide-menu sidebarMenu">Students</span></a>
                </li>
                <li id="li3"> <a class="sidebarMenu" id="instructor">
                    <i class="ti-user tiSide"></i><span class="hide-menu sidebarMenu">Instructors</span></a>
                </li>
                <li id="li4"> <a class="sidebarMenu" id="vehicle">
                    <i class="ti-car tiSide"></i><span class="hide-menu sidebarMenu">Vehicle</span></a>
                </li>
                <li id="li5"> <a class="sidebarMenu" id="schedule">
                    <i class="ti-calendar tiSide"></i><span class="hide-menu sidebarMenu">Schedule</span></a>
                </li>
                <li id="li6"> <a class="sidebarMenu" id="branches">
                    <i class="ti-location-pin tiSide"></i><span class="hide-menu sidebarMenu">Branches</span></a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-label">System</li>
                <li id="li7"> <a class="sidebarMenu" id="dashboard">
                    <i class="ti-lock tiSide"></i><span class="hide-menu sidebarMenu">Account Settings</span></a>
                </li>
                <li id="li8"> <a class="sidebarMenu" id="dashboard">
                    <i class="ti-link tiSide"></i><span class="hide-menu sidebarMenu">Enrollment Requirements</span></a>
                </li>
                <li id="li8"> <a class="sidebarMenu" id="dashboard">
                    <i class="ti-blackboard tiSide"></i><span class="hide-menu sidebarMenu">Lessons &amp; Techniques</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>

<!-- <li> <a class="has-arrow" href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
    <i class="fa fa-group" style="color: #F7D007"></i><span class="hide-menu">Students</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="email-compose.html">Enrollment</a></li>
        <li><a href="email-read.html">Read</a></li>
    </ul>
</li> -->