<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-divider"></li><br>
                <li class="active" id="li1"> <a class="selected sidebarMenu" id="dashboard">
                    <i class="fa fa-home"></i><span class="hide-menu sidebarMenu">Dashboard</span></a>
                </li>
                <li id="li2"> <a class="sidebarMenu" id="students">
                    <i class="fa fa-group"></i><span class="hide-menu sidebarMenu">Students</span></a>
                </li>
                <li id="li3"> <a class="sidebarMenu" id="instructor">
                    <i class="fa fa-user"></i><span class="hide-menu sidebarMenu">Instructors</span></a>
                </li>
                <li id="li4"> <a class="sidebarMenu" id="vehicle">
                    <i class="fa fa-car"></i><span class="hide-menu sidebarMenu">Vehicle</span></a>
                </li>
                <li id="li5"> <a class="sidebarMenu" id="schedule">
                    <i class="fa fa-calendar"></i><span class="hide-menu sidebarMenu">Schedule</span></a>
                </li>
                <li id="li6"> <a class="sidebarMenu" id="branches">
                    <i class="fa fa-globe"></i><span class="hide-menu sidebarMenu">Branches</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>

<!-- <li> <a class="has-arrow" href="#" aria-expanded="false" style="background-color: #5D0000; color: #EDE2E2">
    <i class="fa fa-group" style="color: #F7D007"></i><span class="hide-menu">Students</span></a>
    <ul aria-expanded="false" class="collapse">
        <li><a href="email-compose.html">Enrollment</a></li>
        <li><a href="email-read.html">Read</a></li>
    </ul>
</li> -->