<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav navAdmin">
            <ul id="sidebarnav">
                <div class="profSidebar"><br>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <img src="assets/images/user4.png" href="#" alt="Socialites Excellent Driving" class="dark-logo img-circle sidePic" onclick="profile()"/>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                            <span style="color: #BABABA">Welcome,</span>
                            <p id="adminName">Graciella Tatel<span>!</span></p>
                        </div>
                    </div>
                </div>
                <!-- GENERAL -->
                <li class="nav-divider"></li>
                <li class="nav-label">General</li>
                <li class="active liSide" id="li1"> <a class="sidebarMenu" id="dashboard" onclick="viewActive(1)">
                    <i class="icon icon-line-graphic9 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Dashboard</span></a>
                </li>
                <li class="liSide" id="li2"> <a class="has-arrow sidebarMenu" href="#" aria-expanded="false" id="students" onclick="viewActiveStud()">
                    <i class="icon icon-woman243 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Students</span></a>
                    <ul aria-expanded="false" class="colSide collapse">
                        <li id="liS1"><a id="student1" onclick="viewActiveStud(1)"><span class="fa fa-circle-o"></span> List</a></li>
                        <!-- <li id="liS2"><a id="student2" onclick="viewActiveStud(2)"><span class="fa fa-circle-o"></span> Attendance</a></li> -->
                        <!-- <li id="liS3"><a id="student3" onclick="viewActiveStud(3)"><span class="fa fa-circle-o"></span> Payment</a></li> -->
                        <li id="liS4"><a id="student4" onclick="viewActiveStud(4)"><span class="fa fa-circle-o"></span> Grades &amp; Evaluation</a></li>
                    </ul>
                </li>
                <li class="liSide" id="li3"> <a class="sidebarMenu" id="instructor" onclick="viewActive(3)">
                    <i class="icon icon-user216 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Instructors</span></a>
                </li>
                <li class="liSide" id="li4"> <a class="sidebarMenu" id="vehicle" onclick="viewActive(4)">
                    <i class="icon icon-car2 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Vehicles</span></a>
                </li>
                <li class="liSide" id="li6"> <a class="sidebarMenu" id="branches" onclick="viewActive(6)">
                    <i class="icon icon-pin139 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Branches</span></a>
                </li>
                <li class="liSide" id="li16"> <a class="sidebarMenu" id="payment" onclick="viewActive(16)">
                    <i class="icon icon-money2 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Payment</span></a>
                </li>

                <!-- SERVICES -->
                <li class="nav-divider"></li>
                <li class="nav-label">Business Process &amp; Services</li>
                <li class="liSide" id="li12"> <a class="sidebarMenu" id="enrolment" onclick="viewActive(12)">
                    <i class="icon icon-business-5 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Enrolment</span></a>
                </li>
                <li class="liSide" id="li5"> <a class="has-arrow sidebarMenu" href="#" aria-expanded="false" id="schedule" onclick="viewActiveSched()">
                    <i class="ti-calendar tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Schedule</span></a>
                    <ul aria-expanded="false" class="colSide collapse">
                        <li id="liSH3"><a id="sched3" onclick="viewActiveSched(3)">
                            <span class="fa fa-circle-o"></span>Overall Schedule</a></li>
                        <li id="liSH1"><a id="sched1" onclick="viewActiveSched(1)">
                            <span class="fa fa-circle-o"></span> Requests</a></li>
                        <li id="liSH2"><a id="sched2" onclick="viewActiveSched(2)">
                            <span class="fa fa-circle-o"></span> Canceled/Forfeited</a></li>
                    </ul>
                </li>
                <li class="liSide" id="li13"> <a class="sidebarMenu" id="dtp" onclick="viewActive(13)">
                    <i class="icon icon-group47 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Driver's Training Program</span></a>
                </li>
                <li class="liSide" id="li14"> <a class="sidebarMenu" id="license" onclick="viewActive(14)">
                    <i class="icon icon-license tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Licensing Assistance</span></a>
                </li>
                <!-- <li class="liSide" id="li15"> <a class="sidebarMenu" id="trLect" onclick="viewActive(15)">
                    <i class="icon icon-human57 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Troubleshooting Lectures</span></a>
                </li> -->

                <!-- OTHER -->
                <li class="nav-divider"></li>
                <li class="nav-label">Other</li>
                <li class="liSide" id="li8"> <a class="sidebarMenu" id="report" onclick="viewActive(8)">
                    <i class="icon icon-business-8 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Reports</span></a>
                </li>
                <li class="liSide" id="li7"> <a class="sidebarMenu" id="account" onclick="viewActive(7)">
                    <i class="icon icon-business-20 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Accounts</span></a>
                </li>
                <li class="liSide" id="li9"> <a class="has-arrow sidebarMenu" href="#" aria-expanded="false" id="crsLes" onclick="viewActiveCrs()">
                    <i class="ti-blackboard tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Courses &amp; Lessons</span></a>
                    <ul aria-expanded="false" class="colSide collapse">
                        <li id="liC1"><a id="crsLesA" onclick="viewActiveCrs(1)">
                            <span class="fa fa-circle-o"></span> Courses</a></li>
                        <li id="liC2"><a id="crsLesB" onclick="viewActiveCrs(2)">
                            <span class="fa fa-circle-o"></span> Lessons</a></li>
                    </ul>
                </li>
                <li class="liSide" id="li10"> <a class="sidebarMenu" id="cert" onclick="viewActive(10)">
                    <i class="icon icon-business-12 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Certificates</span></a>
                </li>
                <li class="liSide" id="li11"> <a class="sidebarMenu" id="announce" onclick="viewActive(11)">
                    <i class="icon icon-bullhorn tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Announcements</span></a>
                </li>
            </ul>
        </nav>

        <nav class="sidebar-nav navStudent">
            <ul id="sidebarnav">
                <div class="profSidebar"><br>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                            <img src="assets/images/user4.png" href="#" alt="Socialites Excellent Driving" class="dark-logo img-circle sidePic" onclick="studAccount()"/>
                        </div>
                        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                            <span style="color: #BABABA">Welcome,</span>
                            <p id="studentName">Graciella Tatel<span>!</span></p>
                        </div>
                    </div>
                </div>
                <!-- GENERAL -->
                <li class="nav-divider"></li>
                <li class="nav-label">General</li>
                <li class="active liSide" id="liStud1"> <a class="sidebarMenu" onclick="viewActiveStud(1)">
                    <i class="ti-calendar tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Schedule</span></a>
                </li>
                <li class="liSide" id="liStud2"> <a class="sidebarMenu" onclick="viewActiveStud(2)">
                    <i class="ti-blackboard tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Courses and Lessons</span></a>
                </li>
                <li class="liSide" id="liStud3"> <a class="sidebarMenu" onclick="viewActiveStud(3)">
                    <i class="icon icon-user216 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Instructors</span></a>
                </li>
                <li class="liSide" id="liStud4"> <a class="sidebarMenu" onclick="viewActiveStud(4)">
                    <i class="icon icon-money2 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Payment</span></a>
                </li>


                <!-- OTHER -->
                <li class="nav-divider"></li>
                <li class="nav-label">Other</li>
                <li class="liSide" id="liStud5"> <a class="sidebarMenu"onclick="viewActiveStud(5)">
                    <i class="icon icon-business-20 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Account Settings</span></a>
                </li>
                <li class="liSide" id="liStud6"> <a class="sidebarMenu" onclick="viewActiveStud(6)">
                    <i class="icon icon-license tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Licensing Assitance</span></a>
                </li>
                <li class="liSide" id="liStud7"> <a class="sidebarMenu" onclick="viewActiveStud(7)">
                    <i class="icon icon-pin139 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Transfer to Branch</span></a>
                </li>
                <li class="liSide" id="liStud8"> <a class="sidebarMenu" onclick="viewActiveStud(8)">
                    <i class="icon icon-business-12 tiSide" style="font-size: 20px;"></i>
                    <span class="hide-menu sidebarMenu">Certificates</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>