<div class="view-studCertificate viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-primary">Certificate</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a>Certificate</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="instructorCard">
            <center>
                <!-- <div class="divNoCert">
                    <br><br><br><br><br><br>
                    <h1>Oops! You can only print or download your certificate of completion once you settled the additional payment (&#8369;100.00).</h1>
                </div> -->
                <div class="divHasCert">
                    <br><br>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <center>
                                <div class="btn btnPayment btnPayMeth2">
                                    <center>
                                        <h3>Download Certificate</h3>
                                        <!-- <h5>Pay using credit card.</h5> -->
                                        <icon class="icon icon-document286 iconPayment1"></icon>
                                    </center>
                                </div>
                            </center>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <center>
                                <div class="btn btnPayment btnPayMeth1" onclick="payMeth3()">
                                    <center>
                                        <h3>Print Certificate</h3>
                                        <!-- <h5>Pay on any Landbank branches.</h5><br> -->
                                        <icon class="icon icon-printer13 iconPayment"></icon>
                                    </center>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </center>
        </div><!-- End of Card  -->
    </div>
</div>