<div class="view-studInstructors viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-primary">Instructors</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a>Instructors</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="instructorCard">
            <div class="row instructorCard">
                <!-- Start of col-lg-3 -->
                
                <!-- End of col-lg-3 -->

                <!-- Start of col-lg-9 -->
                <div class="col-lg-12">
                    <div class="card">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs profile-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile1" role="tab">Assigned Instructors</a> </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--first tab-->
                            <div class="tab-pane active" id="profile1" role="tabpanel">
                                <div class="card-body">
                                    <form class="studTab">
                                        <table class="table tblCustom tblRecSched">
                                            <thead>
                                                <tr>
                                                    <th>Course</th>
                                                    <th>Instructor Name</th>
                                                    <th width="20%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% 
                                                    var html = "";
                                                    var pad = "000";
                                                    // var x;
                                                    instructors.forEach((e,i)=>{
                                                        html += "<tr id='a"+ e.id +"' data-info='"+ JSON.stringify(e) +"'>";
                                                        html += "<td> CRS-" + e.carType.toUpperCase() + (pad.substring(0, pad.length-(e.courseID+"").length) + e.courseID) + "</td>";
                                                        html += "<td>" + e.fullname.replace(/_/g, ' ') + "</td>";
                                                        html += "<td><button type='button' onclick='evaluateInst(\""+ e.id + "\")' class='btn100px btn13 btn btn-inverse m-b-10 m-l-5'>Evaluate</button></td>";
                                                        html += "</tr>"; 
                                                        // x++;
                                                    }); 
                                                %>
                                                <%-html%>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of col-lg-9 -->
            </div> <!-- End of row -->
        </div><!-- End of Card  -->
    </div>
</div>