<div class="view-studPayment viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-primary">Payment Record</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a>Payment Record</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="instructorCard">
            <div class="card">
                <table class="table tblRecSched">
                    <thead>
                        <tr>
                            <th>O.R. Date</th>
                            <th>Type of Fee</th>
                            <th>Assessment</th>
                            <th>Payment</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00/00/0000</td>
                            <td>Tuition Fee</td>
                            <td>2,000.00</td>
                            <td>0.00</td>
                            <td>2,000.00</td>
                        </tr>
                        <tr>
                            <td>08/10/2018</td>
                            <td>Tuition Fee <small>(Pay on Branch)</small></td>
                            <td>0.00</td>
                            <td>2,000.00</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- End of Card  -->
    </div>
</div>