<div class="view-studCourseLessons viewDiv">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-primary">Courses and Lessons</h3> 
        </div>
        <div class="col-md-6 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a>Courses and Lessons</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->

    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="instructorCard">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item nav1"> <a class="nav-link active" id="nav11" data-toggle="tab" href="#courseTab" role="tab">Courses</a> </li>
                    <li class="nav-item nav1"> <a class="nav-link" id="nav12" data-toggle="tab" href="#lessonTab" role="tab">Lessons</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!--first tab-->
                    <div class="tab-pane active" id="courseTab" role="tabpanel">
                        <div class="card-body">
                            <div class="studTab">
                               <table class="table tblCustom enrolledCrsTbl1">
                                   <thead>
                                       <tr>
                                            <th>Course Code</th>
                                            <th>Hours</th>
                                            <th>Special</th>
                                            <th>Date Started</th>
                                            <th>Status</th>
                                       </tr>
                                   </thead>
                                   <tbody id="enrolledCrsTbl">
                                        <% 
                                            var html = "";
                                            var pad = "000";
                                            courses.forEach((e,i)=>{
                                                html += "<tr>";
                                                html += "<td id='"+ e.courseID +"'> CRS-" + e.carType.toUpperCase() + (pad.substring(0, pad.length-(e.courseID+"").length) + e.courseID) + "</td>";
                                                html += "<td>" + e.days + "</td>";
                                                html += "<td>" + (e.special ? "Yes" : "No") + "</td>";
                                                html += "<td>" + (e.status == 1 ? (Date.parse(e.dateEnrolled).toString("MMM dd, yyyy")) : (e.status == 2 ? "---" : "date")) + "</td>";
                                                html += "<td>" + (e.status == 1 ? "Ongoing" : (e.status == 2 ? "Pending" : "Finished")) + "</td>";
                                                html += "</tr>"; 
                                            }); 
                                        %>
                                        <%-html%>
                                   </tbody>
                               </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="lessonTab" role="tabpanel">
                        <div class="card-body">
                            <div class="studTab">
                                <h4 style="float: left"><b>[<span class="h4selCrsforLes">CRS-M0001</span> ]</b></h4>
                                <button type="button" onclick="viewGradesStud()" class="pull-right btn100px btn btn-inverse m-b-10 m-l-5">Refresh</button>
                                <table class="table tblCustom">
                                   <thead>
                                       <tr>
                                            <th>#</th>
                                            <th>Lesson</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Instructor</th>
                                            
                                            <th>Grade</th>
                                            <th width="20%">Comment</th>
                                       </tr>
                                   </thead>
                                   <tbody id="studGradesStud"></tbody>
                               </table><br>
                               <div class="pull-right">
                                    <button type="button" onclick="viewEvaluationStud()" class="btnViewEval pull-right btn100px btn btn-success m-b-10 m-l-5">View</button>
                                    <h6 class="alignR">You can only view the evaluation from your instructor at the end of the course.</h6>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
</div>